.likes-block{
    display: flex;
    flex-wrap: wrap;
}

    .likes-block .goods-item {
        width: 33%;
        position: relative;
    }

.likes-block .colors-block{
    align-items: center;
}

.likes-block .goods-item .add-to-favour{
    color: #DCC28B;
}

.delete-like{
    width: 48px;
    height: 48px;
    background: #CCCCCC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 15px;
    transition: all 0.5s ease;
}

.delete-like:hover{
    background: rgb(214, 42, 42);
}