<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4bea985-cc55-429e-b654-28df2285bdcc" Alias="1" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/</Path>
    <Trashed Parent="6f96a450-18a4-4bf6-8752-73580285ce1d">true</Trashed>
    <ContentType>bannerItem</ContentType>
    <CreateDate>2020-12-16T15:40:04</CreateDate>
    <NodeName Default="1">
      <Name Culture="uk">1</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <btn1>
      <Value><![CDATA[]]></Value>
    </btn1>
    <btn1Link>
      <Value><![CDATA[]]></Value>
    </btn1Link>
    <desc>
      <Value><![CDATA[]]></Value>
    </desc>
    <image>
      <Value Culture="uk"><![CDATA[umb://media/c89f8c75761548dbac3a84690107b7eb]]></Value>
    </image>
    <saleText>
      <Value><![CDATA[]]></Value>
    </saleText>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>