<?xml version="1.0" encoding="utf-8"?>
<Content Key="6bc24ce9-8d5c-4317-91ef-4a8e721f0868" Alias="About" Level="2">
  <Info>
    <Parent Key="9383cdc6-d4cb-454c-a579-df4faa984f49">Master</Parent>
    <Path>/Master/About</Path>
    <Trashed>false</Trashed>
    <ContentType>about</ContentType>
    <CreateDate>2020-05-20T13:55:57</CreateDate>
    <NodeName Default="About">
      <Name Culture="uk">About</Name>
      <Name Culture="en-us">About</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="112c00fc-33b1-4100-8010-b6e1ebf09928">About</Template>
  </Info>
  <Properties>
    <bgImage>
      <Value><![CDATA[umb://media/b7423e2a02cb4f77ae34508e81be9ac1]]></Value>
    </bgImage>
    <desc>
      <Value Culture="uk"><![CDATA[«Резервіст» — професійний магазин, що спеціалізується на виробництві та продажу різноманітного тактичного, мисливського спорядження та одягу. Починаючи з волонтерського проекту, ми заснували комерційний проект, левова частка прибутку якого скеровується на допомогу українським військовим. Якість, сервіс та доступність для сильних духом.]]></Value>
      <Value Culture="en-us"><![CDATA["Reservist" is a professional store specializing in the production and sale of various military, hunting equipment and clothing. Starting with a volunteer project, we set up a commercial project, the big share of the profits is going for help the Ukrainian military. Quality, service and affordability for the strong in spirit.]]></Value>
    </desc>
    <SEOdesc>
      <Value><![CDATA[«Резервіст» — професійний магазин, що спеціалізується на виробництві та продажу різноманітного військового, мисливського спорядження та одягу. Починаючи з волонтерського проекту, ми заснували комерційний проект,  частина прибутку якого, скеровується на допомогу українським військовим. 

Протягом останніх трьох років товариство також здійснює виробництво власної продукції під ТМ «РЕЗЕРВІСТ».
Вся продукція виготовляється в Україні на власних виробничих потужностях. 
Якість, сервіс та доступність для сильних духом.]]></Value>
    </SEOdesc>
    <SEOimg>
      <Value><![CDATA[umb://media/123a525593484244857e4bbb9c145b4d]]></Value>
    </SEOimg>
    <SEOkeys>
      <Value><![CDATA[["резервіст","купити взуття","купити спорядження","стиль мілітарі","військова атрибутика","військове спорядження","купити онлайн","Символіка","Шеврони","Погони","Рюкзак","тактичний одяг","Лова","Lowa","Берці","EDC спорядження","тактичне спорядження","плитоноска","Розгрузка","РПС"]]]></Value>
    </SEOkeys>
    <subTitle>
      <Value Culture="uk"><![CDATA[Чому ми?]]></Value>
      <Value Culture="en-us"><![CDATA[Why us?]]></Value>
    </subTitle>
    <title>
      <Value Culture="uk"><![CDATA[Про нас]]></Value>
      <Value Culture="en-us"><![CDATA[About us]]></Value>
    </title>
    <whyWe>
      <Value Culture="uk"><![CDATA[[
  {
    "key": "4940d2e5-1074-43d3-ace1-dc3c8b7dcb23",
    "name": "Item",
    "ncContentTypeAlias": "whyWe",
    "image": "umb://media/4eb231d9f570413d86fb54c4178bd113",
    "text1": "Доступні ціни",
    "text2": "Розуміємо потреби кожного клієнта"
  },
  {
    "key": "e931f537-be14-4234-af33-eee909d86621",
    "name": "Item",
    "ncContentTypeAlias": "whyWe",
    "image": "umb://media/c5a0a5005e874419ac65f28ebf4a02de",
    "text1": "Виготовлено в Україні",
    "text2": "Висока якість та надійність"
  },
  {
    "key": "9719f5b2-d595-440c-951b-79735fa5c96a",
    "name": "Item",
    "ncContentTypeAlias": "whyWe",
    "image": "umb://media/be16ae1e8260418abd7d0189be9ad854",
    "text1": "Великий асортимент ",
    "text2": "Акції та знижки"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "f62b93fc-6e65-4ee3-bc4b-a02fc35bc680",
    "name": "Item",
    "ncContentTypeAlias": "whyWe",
    "image": "umb://media/4eb231d9f570413d86fb54c4178bd113",
    "text1": "Affordable prices",
    "text2": "We understand the needs of each client"
  },
  {
    "key": "8c6bbde9-4838-4e95-af5d-0e485b090769",
    "name": "Item",
    "ncContentTypeAlias": "whyWe",
    "image": "umb://media/c5a0a5005e874419ac65f28ebf4a02de",
    "text1": "Made in Ukraine",
    "text2": "High quality and reliability"
  },
  {
    "key": "f6a651d3-6aa6-47bd-a6b2-d2b9f24d923d",
    "name": "Item",
    "ncContentTypeAlias": "whyWe",
    "image": "umb://media/be16ae1e8260418abd7d0189be9ad854",
    "text1": "Large assortment",
    "text2": "Promotions and discounts"
  }
]]]></Value>
    </whyWe>
  </Properties>
</Content>