<?xml version="1.0" encoding="utf-8"?>
<Content Key="00761e22-0ada-4c28-acde-ca6a542e3b85" Alias="Actions" Level="2">
  <Info>
    <Parent Key="9383cdc6-d4cb-454c-a579-df4faa984f49">Master</Parent>
    <Path>/Master/Actions</Path>
    <Trashed>false</Trashed>
    <ContentType>actions</ContentType>
    <CreateDate>2020-05-20T14:26:16</CreateDate>
    <NodeName Default="Actions">
      <Name Culture="uk">Actions</Name>
      <Name Culture="en-us">Actions</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="36ded2d7-6b4b-4141-b2be-97855fa492dc">Actions</Template>
  </Info>
  <Properties>
    <action>
      <Value Culture="uk"><![CDATA[[
  {
    "key": "e56feb74-972e-4da4-b796-a567619e0a04",
    "name": "Action",
    "ncContentTypeAlias": "deliveryItems",
    "image": "umb://media/61ce4e366dc944ae9ccb1abf78d1d96e",
    "title": "Знижки для працівників МВС, НАБУ, ДСНС та власників УБД",
    "text": "10% після реєстрації та підтвердження документів"
  },
  {
    "key": "36ab1a46-c3d9-47e2-8aa7-0ad9a0f1e6e2",
    "name": "Action",
    "ncContentTypeAlias": "deliveryItems",
    "image": "umb://media/6c9384bab9b54d528541d3e44ba79b33",
    "title": "Знижки для гуртових покупців",
    "text": "Індивідуальні знижки після реєстрації та підтвердження документів"
  },
  {
    "key": "c3c54053-8b92-461f-bddb-d5c4015630da",
    "name": "Action",
    "ncContentTypeAlias": "deliveryItems",
    "image": "umb://media/10cf415c63154bdab4fa091429667185",
    "title": "Знижки для курсантів військових навчальних закладів",
    "text": "до 15% після реєстрації та підтвердження документів"
  },
  {
    "key": "8a148bff-b5c4-40f7-a83a-01a215fa453b",
    "name": "Action",
    "ncContentTypeAlias": "deliveryItems",
    "image": "umb://media/b5bab823a78f4798a885d5bb869ef85d",
    "title": "Знижки для національної скаутської організації \"Пласт\"",
    "text": "10% після реєстрації та підтвердження документів"
  },
  {
    "key": "6c131671-3e1c-41c8-8345-1fdbd8b35252",
    "name": "Action",
    "ncContentTypeAlias": "deliveryItems",
    "image": "umb://media/5e7eb3c815ac4c63a96b2b39e6ac5fd2",
    "title": "Знижки для ЗСУ, ПСУ, ТрО, НГУ та СБУ",
    "text": "до 15% після реєстрації та підтвердження документів"
  },
  {
    "key": "7e38840f-af9e-4bbf-8972-8ba78247148a",
    "name": "Action",
    "ncContentTypeAlias": "deliveryItems",
    "image": "umb://media/e0baf39fc4234ddf97b0de8c788446aa",
    "title": "Подарунковий сертифікат",
    "text": "Ви можете придбати в нас подарункові сертифікати, на суму 500, 1000, 2000 та 5000грн"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "b2f65b19-cead-4a2a-ad52-8ef1db7049db",
    "name": "Action",
    "ncContentTypeAlias": "deliveryItems",
    "image": "umb://media/61ce4e366dc944ae9ccb1abf78d1d96e",
    "title": "Discounts for the Ministry of Internal Affairs, UBD and NABU",
    "text": "employees receive a 10% discount after registration and confirmation of documents"
  },
  {
    "key": "f5cc3bb2-6ded-4e7c-a588-fdf83175dca4",
    "name": "Action",
    "ncContentTypeAlias": "deliveryItems",
    "image": "umb://media/daff02f7635d42aa932ae82dccfc7e30",
    "title": "Discounts for PSU",
    "text": "20% discount after registration and confirmation of documents"
  },
  {
    "key": "3d7c2f22-0121-48d1-bb6d-ff7fa98ce361",
    "name": "Action",
    "ncContentTypeAlias": "deliveryItems",
    "image": "umb://media/10cf415c63154bdab4fa091429667185",
    "title": "Discounts for cadets",
    "text": "For cadets there is a 20% discount after registration and confirmation of documents"
  },
  {
    "key": "e053b889-a771-4c38-981c-0557e6918679",
    "name": "Action",
    "ncContentTypeAlias": "deliveryItems",
    "image": "umb://media/b5bab823a78f4798a885d5bb869ef85d",
    "title": "Discounts for Plast",
    "text": "Plastuns receive a 15% discount after registration and confirmation of documents"
  },
  {
    "key": "bc6d7ddb-f2f3-48ab-958d-98fc8a48fb50",
    "name": "Action",
    "ncContentTypeAlias": "deliveryItems",
    "image": "umb://media/5e7eb3c815ac4c63a96b2b39e6ac5fd2",
    "title": "Discounts for the Armed Forces and the Security Service",
    "text": "20% after registration and confirmation of documents"
  },
  {
    "key": "9eb82736-ec08-4bce-b194-2e4e40dfb22b",
    "name": "Action",
    "ncContentTypeAlias": "deliveryItems",
    "image": "umb://media/69ac7c592ab8439faff71308f8172ae9",
    "title": "Gift certificate",
    "text": "it is possible to buy gift certificates for different amounts"
  }
]]]></Value>
    </action>
    <bgImage>
      <Value><![CDATA[umb://media/0533f6956413462a85817f1281dba5f1]]></Value>
    </bgImage>
    <desc>
      <Value Culture="uk"><![CDATA[У нас діють знижки для військових, добровольців, волонтерів, резервістів та військовослужбовців сил територіальної оборони. Для цивільних діє система накопичувальних знижок. Знижки не розповсюджуються на акційні товари.

Для гуртових покупців ми пропонуємо спеціальні ціни.]]></Value>
      <Value Culture="en-us"><![CDATA[We have discounts for volunteers, volunteers, reservists and the military. There is a system of accumulative discounts for civilians. Discounts do not apply to promotional products, and products of Graff and "Gwear", "PEKLO.TOYS"]]></Value>
    </desc>
    <SEOdesc>
      <Value><![CDATA[Для військових знижка на більшість товару  - 15%, для учасників бойових дій - 10% (також діють знижки для добровольців, волонтерів, резервістів, військовослужбовців сил ТРО і т.д., що надаються індивідуально, під час оформлення замовлення). Для цивільних діє система накопичувальних знижок.
Знижки не розповсюджуються на акційні товари.]]></Value>
    </SEOdesc>
    <SEOimg>
      <Value><![CDATA[umb://media/6e84afe0b3c54b339d76d5a10407f5f4]]></Value>
    </SEOimg>
    <SEOkeys>
      <Value><![CDATA[["знижки резервіст","акції резервіст","інтернет-магазин резервіст","тактичне спорядження","військове спорядження","Шеврони","книги про війну","рпс та розгрузки","плитоноски","погони"]]]></Value>
    </SEOkeys>
    <title>
      <Value Culture="uk"><![CDATA[Акції та знижки]]></Value>
      <Value Culture="en-us"><![CDATA[Promotions and discounts]]></Value>
    </title>
  </Properties>
</Content>