<?xml version="1.0" encoding="utf-8"?>
<Content Key="c5ff4a6c-1ca3-4943-860b-0e88ad8fd678" Alias="Addie" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Addie</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-04-01T20:49:14</CreateDate>
    <NodeName Default="Addie" />
    <SortOrder>29</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[addie.call40@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[DataList2023.com]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Addie]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Australia]]></Value>
    </fPhone>
  </Properties>
</Content>