<?xml version="1.0" encoding="utf-8"?>
<Content Key="afe13040-b039-4f5e-b066-3d575c4137b8" Alias="Aidan" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Aidan</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-08-10T15:24:24</CreateDate>
    <NodeName Default="Aidan" />
    <SortOrder>176</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[aidan.doris@msn.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hello,

Tired of paying thousands of dollars for leads? We have made the entire LinkedIn Database (B2B and B2B) available for $15

145 countries included.
Updated 2022.
Instant Delivery.

View samples here for each country:

https://drive.google.com/drive/folders/1UIiRok89yaFJMs09Hg3-uRXHc0jE5ITp

You can get it all for $15 here: 

DataLeadsTree.com]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Aidan]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Germany]]></Value>
    </fPhone>
  </Properties>
</Content>