<?xml version="1.0" encoding="utf-8"?>
<Content Key="1b15d6aa-6908-4dfb-99b5-7ab96bcc5521" Alias="Alex Builes" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/AlexBuiles</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-03-22T10:10:57</CreateDate>
    <NodeName Default="Alex Builes" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[Brucker@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Alex Builes]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[]]></Value>
    </fPhone>
  </Properties>
</Content>