<?xml version="1.0" encoding="utf-8"?>
<Content Key="907e0a43-4db4-4ddb-9e0c-976a9fbc068d" Alias="Alex" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Alex</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-07-05T02:02:12</CreateDate>
    <NodeName Default="Alex" />
    <SortOrder>133</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[alex@saberscape.online]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hey, it's Alex with Saber Scape!

I'd love to let you in on an exclusive chance to celebrate Saber Scape's 5th anniversary by entering to win a Legendary Scale Stormtrooper Figure !

P.S. I stumbled upon your contact through a Star Wars fan page and rezervist.com.ua ,thought this might be the space adventure you’d love!

==> To enter the giveaway, simply reply to this email OR you can quickly enter by submitting your info here: https://bit.ly/saber4th

May the Force be with you!

- Alex
]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Alex]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Italy]]></Value>
    </fPhone>
  </Properties>
</Content>