<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f96a450-18a4-4bf6-8752-73580285ce1d" Alias="All Banners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AllBanners</Path>
    <Trashed>false</Trashed>
    <ContentType>allBanners</ContentType>
    <CreateDate>2020-05-20T15:57:42</CreateDate>
    <NodeName Default="All Banners">
      <Name Culture="uk">All Banners</Name>
      <Name Culture="en-us">All baners</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>