<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb5fc65f-c68f-41bf-a7b4-71fb3d39000c" Alias="Andrea" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Andrea</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-12-02T03:14:47</CreateDate>
    <NodeName Default="Andrea" />
    <SortOrder>349</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[iva.%rnd.lname%@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi,
I recently purchased a product from Amazon, and strangely, it lists your company for customer support. Is there a mistake? I'm not sure why you're listed here. Please check: https://amzn.to/49whgF0 This is quite puzzling and I don't know who to contact for support.. you guys don't answer your phones or emails...]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Andrea]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[United States]]></Value>
    </fPhone>
  </Properties>
</Content>