<?xml version="1.0" encoding="utf-8"?>
<Content Key="24b0dc52-854b-43d4-ac23-e1f5b0b6a17b" Alias="Andremail" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Andremail</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-10-17T06:08:45</CreateDate>
    <NodeName Default="Andremail" />
    <SortOrder>257</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[yourmail@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Здравствуйте. Увеличу ваши продажи за счет массовых рассылок. Анонимность и качество гарантирую. Умеренные цены и высокая отдача. Нацелен на длительное сотрудничество. Работаю с разными странами. Очень большой опыт. 
 
Занимаюсь следующими видами рассылок: e-mail рассылки, рассылки через мессенджеры и социальные сети (например, WhatsApp), рассылки через Skype, рассылки в sms сообщениях и автоматические телефонные обзвоны. 
 
Рассылки осуществляются по моим базам, базам заказчика, при необходимости собираю контакты целевых адресатов с нуля под конкретный бизнес заказчика. 
 
Пишите на мою почту: ertml888@gmail.com]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Andremail]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[82229456694]]></Value>
    </fPhone>
  </Properties>
</Content>