<?xml version="1.0" encoding="utf-8"?>
<Content Key="a222118f-9feb-4b3d-bb69-496cf0137b58" Alias="Andra" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Andra</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-08-03T13:23:10</CreateDate>
    <NodeName Default="Andra" />
    <SortOrder>169</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[summerlin.andra@hotmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Доброго утра! 
Готовы предоставить лучшие "смертоносные" прогоны для сайтов ваших конкурентов. Всего от 7 000 рублей. 
- Стопроцентный эффект. Сайты точно "упадут". 
- Наибольшее число отрицательных фитбеков. 
- Наша специальная база - выжимка самых сильных площадок из 10 000 000 сайтов (спам, порно, вирусные и т.д.). Работает безотказно. 
- Прогон осуществляется сразу с 4 серверов. 
- Постоянная отправка активационных ссылок на емейл. 
- Можем растянуть как угодно по времени. 
- Прогоняем с запретными ключами. 
Телега: @exrumer 
Skype: xrumer.pro
WatSapp: +7 (977)536-08-36
icq: 5688885
Только эти!]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Andra]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Netherlands]]></Value>
    </fPhone>
  </Properties>
</Content>