<?xml version="1.0" encoding="utf-8"?>
<Content Key="3554d164-b9e6-4dcc-bd16-f923831c7448" Alias="Andres" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Andres</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-03-21T22:41:17</CreateDate>
    <NodeName Default="Andres" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[cortina.andres@hotmail.com@makemysitemobile.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hello, we visited rezervist.com.ua and noticed you do not have a mobile application.

We have a service that provides mobile Apps to companies just like yours.

You can learn more by visiting us on MakeMySiteMobile.com

Regards,
Andres]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Andres]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Austria]]></Value>
    </fPhone>
  </Properties>
</Content>