<?xml version="1.0" encoding="utf-8"?>
<Content Key="be5bebb5-1778-431f-a37b-ea29baed02c2" Alias="Annett" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Annett</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-10-21T03:19:52</CreateDate>
    <NodeName Default="Annett" />
    <SortOrder>263</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[lillard.annett@msn.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[С радостью приветствуем вас! 
Хотим предложить лучшие "убийственные" прогоны для веб-сайтов конкурентов. Всего от 7 000 р. 
- 100% эффект. Сайты точно "умрут". 
- Максимально возможное количество отрицательных фитбеков. 
- Собрана специальная база - выжимка максимально "убийственных" площадок из 10 млн. веб-сайтов (порно, вирусы, спам и тому подобные). Действует бесперебойно. 
- Прогон осуществляется сразу с четырех мощных серверов. 
- Отправка вирусных ссылок на официальный e-mail. 
- Растянем по времени как угодно. 
- Прогоняем с запрещёнными ключевыми словами. 
Телега: @exrumer 
Skype: xrumer.pro
Отписаться - icq: 5688885
Только эти!]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Annett]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Sweden]]></Value>
    </fPhone>
  </Properties>
</Content>