<?xml version="1.0" encoding="utf-8"?>
<Content Key="c7e7c6e8-3fb6-4b6c-806f-983a3162497f" Alias="Annmarie" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Annmarie</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-05-17T10:47:38</CreateDate>
    <NodeName Default="Annmarie" />
    <SortOrder>66</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[pehihaw180@netfxd.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi,

Your website is only listed in 8 out of a possible 12,489 directories.

We are a service that lists your website in all these directories.

Please visit us on DirectoryBump.com to find our more.

Regards,
Annmarie Jacquez]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Annmarie]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Great Britain]]></Value>
    </fPhone>
  </Properties>
</Content>