<?xml version="1.0" encoding="utf-8"?>
<Content Key="0e1364d9-af9b-4319-8aa6-b7b6e8ccc10b" Alias="Anthonyskage" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Anthonyskage</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-10-24T11:29:45</CreateDate>
    <NodeName Default="Anthonyskage" />
    <SortOrder>271</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[yasen.krasen.13+74429@mail.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Nguheidjiwfefhei ijiwdwjurFEJDKWIJFEIF аоушвцшургаруш ШОРГПГОШРГРПГОГРГ iryuieoieifegjejj bvncehfedjiehfu rezervist.com.ua]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Anthonyskage]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[81752386215]]></Value>
    </fPhone>
  </Properties>
</Content>