<?xml version="1.0" encoding="utf-8"?>
<Content Key="762255a8-c340-4859-8d2c-5e114b6ca96a" Alias="Antwan" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Antwan</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-20T10:45:21</CreateDate>
    <NodeName Default="Antwan" />
    <SortOrder>114</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[hopper.antwan@hotmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Do you do contact form blasting to get sales? If you do I can provide you with lists of millions of verified contact forms. If you don't I can show you how I did it on your website contact form just now and it's easy for you to do it too. For details add me on Skype and let's chat, my ID is:  live:.cid.7aad4787a72a11d0]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Antwan]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Great Britain]]></Value>
    </fPhone>
  </Properties>
</Content>