<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ff1650a-89f3-4ced-9a4a-4457e9a335db" Alias="ArmandMex" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/ArmandMex</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-09-02T04:15:11</CreateDate>
    <NodeName Default="ArmandMex" />
    <SortOrder>198</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[oliver@maingay.co.uk]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Learn To Earn $100,000 a Week http://earn-forex-1461.lovepid.com/product]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[ArmandMex]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[86549847281]]></Value>
    </fPhone>
  </Properties>
</Content>