<?xml version="1.0" encoding="utf-8"?>
<Content Key="b9035837-5d09-412d-bfb9-53b1550fcd30" Alias="Arthurfom" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Arthurfom</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-03-21T17:09:59</CreateDate>
    <NodeName Default="Arthurfom" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[zelatcol@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Sveiki, aš norėjau sužinoti jūsų kainą.]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Arthurfom]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[84123852679]]></Value>
    </fPhone>
  </Properties>
</Content>