<?xml version="1.0" encoding="utf-8"?>
<Content Key="6507420a-abc1-432d-b012-09c41315d55b" Alias="asdsdadsas" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/asdsdadsas</Path>
    <Trashed Parent="3b85fdcb-3bdb-4573-af19-dcd74964f052">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-03-16T17:42:03</CreateDate>
    <NodeName Default="asdsdadsas">
      <Name Culture="uk">asdsdadsas</Name>
    </NodeName>
    <SortOrder>47</SortOrder>
    <Published Default="true">
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="14390623-4c04-4107-b926-50e54960e913">NewsItem</Template>
  </Info>
  <Properties>
    <anons>
      <Value Culture="uk"><![CDATA[asdasd]]></Value>
    </anons>
    <desc>
      <Value Culture="uk"><![CDATA[<p>sadasd</p>]]></Value>
    </desc>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <title>
      <Value Culture="uk"><![CDATA[Test Title]]></Value>
    </title>
  </Properties>
</Content>