<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5669c2d-b634-49f5-8254-e316dc04f47e" Alias="Banner 1" Level="2">
  <Info>
    <Parent Key="6f96a450-18a4-4bf6-8752-73580285ce1d">All Banners</Parent>
    <Path>/AllBanners/Banner1</Path>
    <Trashed>false</Trashed>
    <ContentType>bannerItem</ContentType>
    <CreateDate>2020-05-20T15:59:56</CreateDate>
    <NodeName Default="Banner 1">
      <Name Culture="uk">Banner 1</Name>
      <Name Culture="en-us">Banner 1</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <btn1>
      <Value Culture="uk"><![CDATA[У магазин]]></Value>
      <Value Culture="en-us"><![CDATA[To the store]]></Value>
    </btn1>
    <btn1Link>
      <Value><![CDATA[/shop?req={"filter":{"catid":"9202b9ea-2f06-11ea-b9f1-00155d8ca60e","minc":0,"maxc":1495,"br":"183"},"sortby":0}]]></Value>
    </btn1Link>
    <desc>
      <Value Culture="uk"><![CDATA[Популяризуємо українське військо. Виготовляємо символіку. Допомагаємо армії.]]></Value>
      <Value Culture="en-us"><![CDATA[We popularize the Ukrainian army. We make symbols. We help the army.]]></Value>
    </desc>
    <image>
      <Value Culture="uk"><![CDATA[umb://media/25f8c16f75574954aa6a31c9f156dba9]]></Value>
      <Value Culture="en-us"><![CDATA[umb://media/25f8c16f75574954aa6a31c9f156dba9]]></Value>
    </image>
    <saleText>
      <Value Culture="uk"><![CDATA[РЕЗЕРВІСТ]]></Value>
      <Value Culture="en-us"><![CDATA[REZERVIST]]></Value>
    </saleText>
    <title>
      <Value Culture="uk"><![CDATA[ІНТЕРНЕТ-МАГАЗИН ]]></Value>
      <Value Culture="en-us"><![CDATA[ONLINE STORE]]></Value>
    </title>
  </Properties>
</Content>