<?xml version="1.0" encoding="utf-8"?>
<Content Key="b688435c-fa8e-4e6c-9237-d9d6e8af9f96" Alias="banner 3" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/banner3</Path>
    <Trashed Parent="6f96a450-18a4-4bf6-8752-73580285ce1d">true</Trashed>
    <ContentType>bannerItem</ContentType>
    <CreateDate>2020-06-10T13:44:07</CreateDate>
    <NodeName Default="banner 3">
      <Name Culture="uk">banner 3</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="false">
      <Published Culture="uk">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <btn1>
      <Value Culture="uk"><![CDATA[ВЗУТТЯ]]></Value>
    </btn1>
    <btn1Link>
      <Value><![CDATA[umb://document/97773cf2cb91463e84ea97ccdab7f684]]></Value>
    </btn1Link>
    <desc>
      <Value Culture="uk"><![CDATA[....]]></Value>
    </desc>
    <image>
      <Value Culture="uk"><![CDATA[umb://media/0bf6b53d9f12447d9973513c188d14e9]]></Value>
    </image>
    <saleText>
      <Value Culture="uk"><![CDATA[Знижка 25%]]></Value>
    </saleText>
    <title>
      <Value Culture="uk"><![CDATA[Розпродаж]]></Value>
    </title>
  </Properties>
</Content>