<?xml version="1.0" encoding="utf-8"?>
<Content Key="f94bf06a-1418-4847-ab80-3f0dbb8f6c44" Alias="Banner 2" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Banner2</Path>
    <Trashed Parent="6f96a450-18a4-4bf6-8752-73580285ce1d">true</Trashed>
    <ContentType>bannerItem</ContentType>
    <CreateDate>2020-06-04T13:58:16</CreateDate>
    <NodeName Default="Banner 2">
      <Name Culture="uk">Banner 2</Name>
      <Name Culture="en-us">Banner 2</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <btn1>
      <Value Culture="uk"><![CDATA[У магазин]]></Value>
      <Value Culture="en-us"><![CDATA[To the store]]></Value>
    </btn1>
    <btn1Link>
      <Value><![CDATA[umb://document/97773cf2cb91463e84ea97ccdab7f684]]></Value>
    </btn1Link>
    <desc>
      <Value Culture="uk"><![CDATA[Тактичний, військовий, туристичний одяг та спорядження]]></Value>
      <Value Culture="en-us"><![CDATA[Tactical, military, tourist clothing and equipment]]></Value>
    </desc>
    <image>
      <Value Culture="uk"><![CDATA[umb://media/25f8c16f75574954aa6a31c9f156dba9]]></Value>
      <Value Culture="en-us"><![CDATA[umb://media/25f8c16f75574954aa6a31c9f156dba9]]></Value>
    </image>
    <saleText>
      <Value Culture="uk"><![CDATA[РЕЗЕРВІСТ]]></Value>
      <Value Culture="en-us"><![CDATA[REZERVIST]]></Value>
    </saleText>
    <title>
      <Value Culture="uk"><![CDATA[ПРАЦЮЄМО ДЛЯ НАШИХ]]></Value>
      <Value Culture="en-us"><![CDATA[WE WORK FOR OURS]]></Value>
    </title>
  </Properties>
</Content>