<?xml version="1.0" encoding="utf-8"?>
<Content Key="158f4a5e-587e-42a0-aee0-7848d622a6a4" Alias="Becky" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Becky</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-05-24T22:02:25</CreateDate>
    <NodeName Default="Becky" />
    <SortOrder>74</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[beckymccaren@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hello there,

Are you ready to take your YouTube game to the next level? Whether you're a YouTube newcomer or an experienced content creator looking to boost your channel, we have an exciting opportunity for you. Introducing our cutting-edge Automation Course, designed to accelerate your growth and success.

Say goodbye to guesswork and hello to expert guidance. Our course provides invaluable insights and step-by-step strategies to skyrocket your channel's performance. From content optimization to audience engagement, we've got you covered.

For a limited time, you can grab this game-changing course for just $97, an unbelievable steal compared to its original value of $2995. Don't miss out! Get all the details here: https://ytautomation.online/

If you're serious about taking your YouTube channel to new heights and want to seize this opportunity, let me know, and I'll gladly share a $40 discount code with you.

Best regards,
Becky]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Becky]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Great Britain]]></Value>
    </fPhone>
  </Properties>
</Content>