<?xml version="1.0" encoding="utf-8"?>
<Content Key="56eb6c1e-644e-4f5d-9e87-3c26e42cfd10" Alias="Benjamin" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Benjamin</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-14T21:34:25</CreateDate>
    <NodeName Default="Benjamin" />
    <SortOrder>105</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[krug.benjamin79@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Do you do contact form blasting to get sales? If you do I can provide you with lists of millions of verified contact forms. If you don't I can show you how I did it on your website contact form just now and it's easy for you to do it too. For details add me on Skype and let's chat, my ID is:  live:.cid.7aad4787a72a11d0]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Benjamin]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Austria]]></Value>
    </fPhone>
  </Properties>
</Content>