<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1c0cd8c-5ebb-4e6f-8715-c5c64eab6ee6" Alias="Bernard" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Bernard</Path>
    <Trashed Parent="659326d7-2869-4416-b8b6-0b0ed4a7d31f">true</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2022-02-28T21:27:28</CreateDate>
    <NodeName Default="Bernard" />
    <SortOrder>29</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[bernard.vroland@hotmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Submit your site to over 35 advertising websites for free now https://bit.ly/submityourwebsite]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Bernard]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Austria]]></Value>
    </fPhone>
  </Properties>
</Content>