<?xml version="1.0" encoding="utf-8"?>
<Content Key="3dfb8c69-5354-4634-bdda-d1ce536b44ee" Alias="Bessie" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Bessie</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-29T02:20:45</CreateDate>
    <NodeName Default="Bessie" />
    <SortOrder>128</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[bessie.deatherage@outlook.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Добрый день! 
Выполняем самые лучшие прогоны "киллеры" для веб-сайтов ваших конкурентов. Стоимость: от 3000 руб. 
- Стопроцентный результат. Сайты точно "упадут". 
- Предельно возможное количество отрицательных фитбеков. 
- Наша особая база - выжимка максимально сильных площадок из 10 млн. веб-сайтов (порно, вирусы, спамные и тому подобные). Это работает бесперебойно. 
- Прогон выполняется сразу с 4 серверов. 
- Отправка вирусных ссылок на официальный e-mail. 
- Растянем по времени как угодно. 
- Прогон с запретными ключевыми словами. 
Telegrm: @exrumer 
Skype: xrumer.pro
WatSapp: +7 (977)536-08-36
емаил: support@xrumer.cc
Только эти!]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Bessie]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[United Kingdom]]></Value>
    </fPhone>
  </Properties>
</Content>