<?xml version="1.0" encoding="utf-8"?>
<Content Key="cefd0421-c473-4b07-b0b2-faf626c66f03" Alias="Beulah (1)" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Beulah1</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-01T11:46:54</CreateDate>
    <NodeName Default="Beulah (1)" />
    <SortOrder>282</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[muyuxingchen14@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[微信公众号：外贸业务员
wordpressbin.com

We manufacture sculpture and supply plush backpacks.


Thank you so much and sorry bothering directly.

微信公众号：外贸业务员
wordpressbin.com

We manufacture sculpture and supply plush backpacks.


Thank you so much and sorry bothering directly.

微信公众号：外贸业务员
wordpressbin.com

We manufacture sculpture and supply plush backpacks.


Thank you so much and sorry bothering directly.

微信公众号：外贸业务员
wordpressbin.com

We manufacture sculpture and supply plush backpacks.


Thank you so much and sorry bothering directly.]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Beulah]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Austria]]></Value>
    </fPhone>
  </Properties>
</Content>