<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a336c8c-5e22-45eb-96a6-c6cb364c23ea" Alias="bfVtsIyLES" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/bfVtsIyLES</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-07-30T14:00:09</CreateDate>
    <NodeName Default="bfVtsIyLES" />
    <SortOrder>160</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[callvisvetlana@list.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Вам хороший вариант вот тут ArataurNiladwyn@gmail.com 000*** rezervist.com.ua]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[bfVtsIyLES]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[82136597169]]></Value>
    </fPhone>
  </Properties>
</Content>