<?xml version="1.0" encoding="utf-8"?>
<Content Key="e6627450-93b0-4047-a549-ddff4d06c548" Alias="BradleyMug" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/BradleyMug</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-07-30T19:14:02</CreateDate>
    <NodeName Default="BradleyMug" />
    <SortOrder>161</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[andrewajuchi@yahoo.ca]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[You can get over 23,000 leads to your website right now http://elite-124.neterverse.online/invite]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[BradleyMug]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[83372528938]]></Value>
    </fPhone>
  </Properties>
</Content>