<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7e58893-2bb4-4340-af6f-4a60bb589610" Alias="BrandDiscounts" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BrandDiscounts</Path>
    <Trashed>false</Trashed>
    <ContentType>BrandDiscountsCollection</ContentType>
    <CreateDate>2023-02-05T10:02:56</CreateDate>
    <NodeName Default="BrandDiscounts" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3a3716a7-9dc8-434a-a7a3-ba596acdb06c">DiscountsCollection</Template>
  </Info>
  <Properties>
    <brandDiscounts>
      <Value><![CDATA[[
  {
    "key": "45d61f0b-8ecf-4db3-8097-80caa42db517",
    "name": "KRAMATAN - 10 -%. Active: 1",
    "ncContentTypeAlias": "BrandDiscounts",
    "brandName": "KRAMATAN",
    "brandDiscountValue": "10",
    "brandDiscountEnabled": "1"
  },
  {
    "key": "6e3212ce-afdb-46ab-97fc-2d80266280ec",
    "name": "Клямра - 10 -%. Active: 1",
    "ncContentTypeAlias": "BrandDiscounts",
    "brandName": "Клямра",
    "brandDiscountValue": "10",
    "brandDiscountEnabled": "1"
  },
  {
    "key": "beab59ad-2391-45ee-81a1-f1416a806fff",
    "name": "Blade Brothers Knives - 10 -%. Active: 1",
    "ncContentTypeAlias": "BrandDiscounts",
    "brandName": "Blade Brothers Knives",
    "brandDiscountValue": "10",
    "brandDiscountEnabled": "1"
  },
  {
    "key": "047dc546-95a2-4e6d-869e-5cfb04a531c5",
    "name": "Гwear - 10 -%. Active: 1",
    "ncContentTypeAlias": "BrandDiscounts",
    "brandName": "Гwear",
    "brandDiscountValue": "10",
    "brandDiscountEnabled": "1"
  },
  {
    "key": "44b55fca-c071-4dfa-88be-7f7888f74ff4",
    "name": "Peklo.Toys - 10 -%. Active: 1",
    "ncContentTypeAlias": "BrandDiscounts",
    "brandName": "Peklo.Toys",
    "brandDiscountValue": "10",
    "brandDiscountEnabled": "1"
  }
]]]></Value>
    </brandDiscounts>
  </Properties>
</Content>