<?xml version="1.0" encoding="utf-8"?>
<Content Key="440b07fb-94cd-4a46-a3cd-1cb9b1325c56" Alias="Broderick" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Broderick</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-04-23T08:47:27</CreateDate>
    <NodeName Default="Broderick" />
    <SortOrder>43</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[timbery.broderick@msn.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Add your website to 1000 directories with one easy click here-> http://addmysiteurl.freesitesubmission.xyz/]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Broderick]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[France]]></Value>
    </fPhone>
  </Properties>
</Content>