<?xml version="1.0" encoding="utf-8"?>
<Content Key="b3eacfc4-31e8-458f-ba32-bc6772d5e1b4" Alias="Brooks" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Brooks</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-03-04T03:00:57</CreateDate>
    <NodeName Default="Brooks" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[charley.brooks@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[I'm not sure about you, but when I look for a business online, the first thing I look at is their rating and the number of good feedback they have. That's precisely why I'm getting in touch with you now – in order to show you ways to get more real 5-star ratings that can help you receive more calls from your existing ads or listings. For more details, visit here: https://tinyurl.com/53waxne9]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Brooks]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Austria]]></Value>
    </fPhone>
  </Properties>
</Content>