<?xml version="1.0" encoding="utf-8"?>
<Content Key="da13b9a4-16a6-4d0a-965f-dd2ec0fa2930" Alias="Brown De-cole" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/BrownDeCole</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-08-25T12:12:48</CreateDate>
    <NodeName Default="Brown De-cole" />
    <SortOrder>192</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[pinnpidaa@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hello, 
 
I wish to have a private business discussion that involves millions with you and this would be of a great benefit to both parties if handled well. 
 
Kindly response with your phone number for more details. 
 
Thanks, 
 
Brown De-cole]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Brown De-cole]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[82755819133]]></Value>
    </fPhone>
  </Properties>
</Content>