<?xml version="1.0" encoding="utf-8"?>
<Content Key="7dc55c7c-621d-4c91-a7d6-9b8b7fe84fdf" Alias="Cabinet" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cabinet</Path>
    <Trashed>false</Trashed>
    <ContentType>cabinet</ContentType>
    <CreateDate>2020-05-20T13:45:52</CreateDate>
    <NodeName Default="Cabinet">
      <Name Culture="uk">Cabinet</Name>
      <Name Culture="en-us">Cabinet</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="d2f15c8f-5b27-452b-8b21-0ff8cc9c0711">Cabinet</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="uk"><![CDATA[Адреса]]></Value>
      <Value Culture="en-us"><![CDATA[Address]]></Value>
    </address>
    <birthdate>
      <Value Culture="uk"><![CDATA[Дата народження]]></Value>
      <Value Culture="en-us"><![CDATA[Date of birth]]></Value>
    </birthdate>
    <changePass>
      <Value Culture="uk"><![CDATA[Змінити пароль]]></Value>
      <Value Culture="en-us"><![CDATA[Change password]]></Value>
    </changePass>
    <changePersData>
      <Value Culture="uk"><![CDATA[Редагувати особисті дані]]></Value>
      <Value Culture="en-us"><![CDATA[Edit personal information]]></Value>
    </changePersData>
    <docsDesc>
      <Value Culture="uk"><![CDATA[Завантажте документи, щоб отримати особливий статус клієнта]]></Value>
      <Value Culture="en-us"><![CDATA[Upload documents to get special client status]]></Value>
    </docsDesc>
    <email>
      <Value Culture="uk"><![CDATA[Електронна пошта]]></Value>
      <Value Culture="en-us"><![CDATA[Email]]></Value>
    </email>
    <logOut>
      <Value Culture="uk"><![CDATA[Вийти]]></Value>
      <Value Culture="en-us"><![CDATA[Exit]]></Value>
    </logOut>
    <mainInfo>
      <Value Culture="uk"><![CDATA[Основна інформація]]></Value>
      <Value Culture="en-us"><![CDATA[Basic Information]]></Value>
    </mainInfo>
    <mainTitle>
      <Value Culture="uk"><![CDATA[Особистий кабінет]]></Value>
      <Value Culture="en-us"><![CDATA[Personal cabinet]]></Value>
    </mainTitle>
    <nav>
      <Value Culture="uk"><![CDATA[[
  {
    "key": "7c10af4d-aebf-485a-92f9-cc8f5590202b",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "Особисті дані",
    "link": "umb://document/7dc55c7c621d4c91a7d69b8b7fe84fdf"
  },
  {
    "key": "bf591148-cfa0-4c71-bb06-14cd0cea2de2",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "Мої замовлення",
    "link": "umb://document/aa7fc3bd50c64868955419a42fdc6bf6"
  },
  {
    "key": "5ec5b8a0-6e42-4f56-b1af-f3c95ea697a8",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "Мої відгуки",
    "link": "umb://document/7bf7d29dd6304c6a8323f00cb874df75"
  },
  {
    "key": "86e817d8-0195-48e5-a07d-0c85fe680f34",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "Переглянуті товари",
    "link": "umb://document/6b7daf68b03c4b20bb3df6877f9aa48e"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "cc40ff90-8c84-49ef-ac33-16140fa0dc21",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "Personal data",
    "link": "umb://document/7dc55c7c621d4c91a7d69b8b7fe84fdf"
  },
  {
    "key": "521d0187-bd0c-4878-84c7-f6c7e7aa28ce",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "My orders",
    "link": "umb://document/aa7fc3bd50c64868955419a42fdc6bf6"
  },
  {
    "key": "fddbe4c9-219b-4529-bfdf-7e8762274e31",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "My reviews",
    "link": "umb://document/7bf7d29dd6304c6a8323f00cb874df75"
  },
  {
    "key": "c9058322-91c1-41a4-b4cd-e675eb7270aa",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "Viewed products",
    "link": "umb://document/6b7daf68b03c4b20bb3df6877f9aa48e"
  }
]]]></Value>
    </nav>
    <phone>
      <Value Culture="uk"><![CDATA[Телефон]]></Value>
      <Value Culture="en-us"><![CDATA[Phone]]></Value>
    </phone>
    <sendDocs>
      <Value Culture="uk"><![CDATA[Подати документи]]></Value>
      <Value Culture="en-us"><![CDATA[Upload documents]]></Value>
    </sendDocs>
    <sex>
      <Value Culture="uk"><![CDATA[Стать]]></Value>
      <Value Culture="en-us"><![CDATA[Sex]]></Value>
    </sex>
    <status>
      <Value Culture="uk"><![CDATA[Статус]]></Value>
      <Value Culture="en-us"><![CDATA[Status]]></Value>
    </status>
    <wholesale>
      <Value Culture="uk"><![CDATA[Ваш статус]]></Value>
      <Value Culture="en-us"><![CDATA[Your status]]></Value>
    </wholesale>
    <wholesaleType>
      <Value Culture="uk"><![CDATA[Тип знижки]]></Value>
    </wholesaleType>
    <yourInitials>
      <Value Culture="uk"><![CDATA[Ваші ініціали]]></Value>
      <Value Culture="en-us"><![CDATA[Your initials]]></Value>
    </yourInitials>
  </Properties>
</Content>