<?xml version="1.0" encoding="utf-8"?>
<Content Key="88dbf8ec-9941-4d3c-b9af-d69c7f110121" Alias="Candice" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Candice</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-27T22:00:15</CreateDate>
    <NodeName Default="Candice" />
    <SortOrder>124</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[blacket.candice@hotmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi, I'm sending you this message via your contact form on your website at rezervist.com.ua. By reading this message you're living proof that contact form advertising works! Do you want to blast your ad to millions of contact forms? Maybe you prefer a more targeted approach and only want to blast our ad out to websites in certain business categories? Pay just $99 to blast your ad to 1 million contact forms. Volume discounts available. I have more than 35 million contact forms. Let's get the conversation started, contact me via Skype here:  live:.cid.b4d79bd7b12c4757]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Candice]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Switzerland]]></Value>
    </fPhone>
  </Properties>
</Content>