<?xml version="1.0" encoding="utf-8"?>
<Content Key="72ddd572-17a9-42c0-9c21-f3bf9437fb1c" Alias="Change Pers" Level="2">
  <Info>
    <Parent Key="7dc55c7c-621d-4c91-a7d6-9b8b7fe84fdf">Cabinet</Parent>
    <Path>/Cabinet/ChangePers</Path>
    <Trashed>false</Trashed>
    <ContentType>changePersonal</ContentType>
    <CreateDate>2020-05-21T14:25:08</CreateDate>
    <NodeName Default="Change Pers">
      <Name Culture="uk">Change Pers</Name>
      <Name Culture="en-us">Chang Pers</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="fd1d3598-9b3f-40df-9b43-d6df1d00dbf3">ChangePersonal</Template>
  </Info>
  <Properties>
    <changeImg>
      <Value Culture="uk"><![CDATA[Змінити аватар]]></Value>
      <Value Culture="en-us"><![CDATA[Change avatar]]></Value>
    </changeImg>
    <checkbox>
      <Value Culture="uk"><![CDATA[Я хочу отримувати інформацію про новинки та знижки]]></Value>
      <Value Culture="en-us"><![CDATA[I want to receive information about novelties and discounts]]></Value>
    </checkbox>
    <goBack>
      <Value Culture="uk"><![CDATA[Назад]]></Value>
      <Value Culture="en-us"><![CDATA[Back]]></Value>
    </goBack>
    <inputAddress>
      <Value Culture="uk"><![CDATA[Адреса]]></Value>
      <Value Culture="en-us"><![CDATA[Address]]></Value>
    </inputAddress>
    <inputCity>
      <Value Culture="uk"><![CDATA[Місто]]></Value>
      <Value Culture="en-us"><![CDATA[City]]></Value>
    </inputCity>
    <inputEmail>
      <Value Culture="uk"><![CDATA[Електронна пошта]]></Value>
      <Value Culture="en-us"><![CDATA[Email]]></Value>
    </inputEmail>
    <inputFemale>
      <Value Culture="uk"><![CDATA[Жінка]]></Value>
      <Value Culture="en-us"><![CDATA[Female]]></Value>
    </inputFemale>
    <inputIndex>
      <Value Culture="uk"><![CDATA[Поштовий індекс]]></Value>
      <Value Culture="en-us"><![CDATA[Index]]></Value>
    </inputIndex>
    <inputMale>
      <Value Culture="uk"><![CDATA[Чоловік]]></Value>
      <Value Culture="en-us"><![CDATA[Male]]></Value>
    </inputMale>
    <inputMidname>
      <Value Culture="uk"><![CDATA[По-батькові]]></Value>
      <Value Culture="en-us"><![CDATA[Middle name]]></Value>
    </inputMidname>
    <inputName>
      <Value Culture="uk"><![CDATA[Ім'я]]></Value>
      <Value Culture="en-us"><![CDATA[Name]]></Value>
    </inputName>
    <inputPhone>
      <Value Culture="uk"><![CDATA[Номер телефону]]></Value>
      <Value Culture="en-us"><![CDATA[Phone]]></Value>
    </inputPhone>
    <inputSurname>
      <Value Culture="uk"><![CDATA[Прізвище]]></Value>
      <Value Culture="en-us"><![CDATA[Surname]]></Value>
    </inputSurname>
    <notTitle>
      <Value Culture="uk"><![CDATA[Сповіщення]]></Value>
      <Value Culture="en-us"><![CDATA[Notification]]></Value>
    </notTitle>
    <reset>
      <Value Culture="uk"><![CDATA[Скинути]]></Value>
      <Value Culture="en-us"><![CDATA[Reset]]></Value>
    </reset>
    <save>
      <Value Culture="uk"><![CDATA[Зберегти]]></Value>
      <Value Culture="en-us"><![CDATA[Save]]></Value>
    </save>
    <subTitle>
      <Value Culture="uk"><![CDATA[Персональна інформація]]></Value>
      <Value Culture="en-us"><![CDATA[Personal information]]></Value>
    </subTitle>
    <title>
      <Value Culture="uk"><![CDATA[РЕДАГУВАННЯ ОСОБИСТИХ ДАНИХ]]></Value>
      <Value Culture="en-us"><![CDATA[EDITING PERSONAL DATA]]></Value>
    </title>
    <uploadDoc>
      <Value Culture="uk"><![CDATA[Завантажити документ]]></Value>
      <Value Culture="en-us"><![CDATA[Upload documents]]></Value>
    </uploadDoc>
  </Properties>
</Content>