<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d8af1d0-9a4e-40a5-809e-b3700b7953c6" Alias="Change Pass" Level="2">
  <Info>
    <Parent Key="7dc55c7c-621d-4c91-a7d6-9b8b7fe84fdf">Cabinet</Parent>
    <Path>/Cabinet/ChangePass</Path>
    <Trashed>false</Trashed>
    <ContentType>changePass</ContentType>
    <CreateDate>2020-05-21T15:08:15</CreateDate>
    <NodeName Default="Change Pass">
      <Name Culture="uk">Change Pass</Name>
      <Name Culture="en-us">Change Pass</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="c64eecc7-1f42-492f-ba1f-cd77550ff564">ChangePass</Template>
  </Info>
  <Properties>
    <confirmPass>
      <Value Culture="uk"><![CDATA[Повторіть пароль]]></Value>
      <Value Culture="en-us"><![CDATA[Confirm password]]></Value>
    </confirmPass>
    <goBack>
      <Value Culture="uk"><![CDATA[Назад]]></Value>
      <Value Culture="en-us"><![CDATA[Back]]></Value>
    </goBack>
    <newPass>
      <Value Culture="uk"><![CDATA[Новий пароль ]]></Value>
      <Value Culture="en-us"><![CDATA[New password]]></Value>
    </newPass>
    <oldPass>
      <Value Culture="uk"><![CDATA[Старий пароль]]></Value>
      <Value Culture="en-us"><![CDATA[Old password]]></Value>
    </oldPass>
    <submit>
      <Value Culture="uk"><![CDATA[Зберегти]]></Value>
      <Value Culture="en-us"><![CDATA[Save]]></Value>
    </submit>
    <title>
      <Value Culture="uk"><![CDATA[Змінити пароль]]></Value>
      <Value Culture="en-us"><![CDATA[Change password]]></Value>
    </title>
  </Properties>
</Content>