<?xml version="1.0" encoding="utf-8"?>
<Content Key="233c7764-0893-46f7-b120-69d04d3140e6" Alias="Charlesvak" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Charlesvak</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-07-15T03:34:08</CreateDate>
    <NodeName Default="Charlesvak" />
    <SortOrder>145</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[daver062069@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[CRYPTO MILLIONAIRE STARTER PACK: WALLET FILE WITH 12600 BTC http://rapidbtc12600.pw22375.xyz/earnbtcquick]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Charlesvak]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[86441312811]]></Value>
    </fPhone>
  </Properties>
</Content>