<?xml version="1.0" encoding="utf-8"?>
<Content Key="49fa7600-beed-4dc7-99f5-b853eade988d" Alias="CharlesroucK" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/CharlesroucK</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-05-05T12:22:44</CreateDate>
    <NodeName Default="CharlesroucK" />
    <SortOrder>54</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[kievprom@hotmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Представляем Вашему вниманию сайт http://infoprom.info/ инструментальной компании ИНФОПРОМ где предлагается обширный спектр промышленного инструмента для: 
— производственных цехов и предприятий, 
— коммунальных и дорожных служб, 
— ремонтных мастерских и СТО, 
— горных машин и оборудования, 
— розничных и оптовых покупателей. 
Компания является официальным представителем лидирующих производителей промышленного инструмента и оснастки на территории Украины. Поставляет отечественный (в том числе собственного производства) и импортный инструмент по всей территории СНГ. 
За 12 лет существования на рынке СНГ компания добилась стабильных и надежных поставок продукции заказчикам, увеличили клиентскую базу и товарооборот, запустили рычаги повышения качества готовой продукции. 
Предоставляем вам возможность заказать ручной пневматический, горно-режущий, горно-шахтный инструмент, а также инструмент и запчасти для дорожной техники в интернет магазинеhttp://infoprom.info/ – без необходимости приезжать лично в наш офис или на склад. 
Заявки принимаются и обрабатываются ежедневно (без выходных) с 9:00 до 19:00. 
Поставка осуществляется по всей территории Украины и в страны СНГ. 
 
http://infoprom.info/ 
Е-mail: info@infoprom.info 
Телефоны: 
+380955413120 (Viber, Whats App) 
+380636001810 
+380505318019]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[CharlesroucK]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[85169967852]]></Value>
    </fPhone>
  </Properties>
</Content>