<?xml version="1.0" encoding="utf-8"?>
<Content Key="67d4e011-ef23-47b0-8c1f-4fd4a8878ec4" Alias="Chong Widman" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/ChongWidman</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-02-26T01:41:29</CreateDate>
    <NodeName Default="Chong Widman" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[ElmerBalceiro@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Chong Widman]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[]]></Value>
    </fPhone>
  </Properties>
</Content>