<?xml version="1.0" encoding="utf-8"?>
<Content Key="bc0cd3b8-fba1-495c-a93d-906354ecdac7" Alias="Christopherfom" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Christopherfom</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-04-02T11:27:32</CreateDate>
    <NodeName Default="Christopherfom" />
    <SortOrder>30</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[zelatcol@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Salam, qiymətinizi bilmək istədim.]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Christopherfom]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[89126446415]]></Value>
    </fPhone>
  </Properties>
</Content>