<?xml version="1.0" encoding="utf-8"?>
<Content Key="97362a54-c5ac-4f6d-9ff3-3e2d3727bc5f" Alias="Claudegok" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Claudegok</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-08-01T14:21:03</CreateDate>
    <NodeName Default="Claudegok" />
    <SortOrder>164</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[chera@iprimus.com.au]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[GET OVER 100,000 SOCIAL MEDIA LEADS FOR YOUR BUSINESS http://elite-service-224.neterverse.online/personal-page]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Claudegok]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[89443836214]]></Value>
    </fPhone>
  </Properties>
</Content>