<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c6844db-d933-4b16-b99f-cd6e7d41ff8b" Alias="Collin" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Collin</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-05-31T09:42:59</CreateDate>
    <NodeName Default="Collin" />
    <SortOrder>84</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[collin.reichstein@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Are you the owner of this site: http://rezervist.com.ua? I am happy to inform you that you have been approved to place your submission to our free directory. Please go ahead and submit it by clicking on this link: http://submityoursitefree.12com.xyz/]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Collin]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[United States]]></Value>
    </fPhone>
  </Properties>
</Content>