<?xml version="1.0" encoding="utf-8"?>
<Content Key="d8ce7c7d-406f-4780-be07-b8394e62ed3f" Alias="Comparison" Level="2">
  <Info>
    <Parent Key="8a41fc86-a344-478b-a478-5fba7d4b30af">Shopping cart</Parent>
    <Path>/ShoppingCart/Comparison</Path>
    <Trashed>false</Trashed>
    <ContentType>comparison</ContentType>
    <CreateDate>2020-05-21T11:22:09</CreateDate>
    <NodeName Default="Comparison">
      <Name Culture="uk">Comparison</Name>
      <Name Culture="en-us">Comparison</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="883903de-b40d-4634-8c07-bf320dbd3c62">Comparison</Template>
  </Info>
  <Properties>
    <doCompBtn>
      <Value Culture="uk"><![CDATA[Порівняти]]></Value>
      <Value Culture="en-us"><![CDATA[Compare]]></Value>
    </doCompBtn>
    <doCompLink>
      <Value><![CDATA[umb://document/30f82a109029423e8c4dff4f2c0ade1d]]></Value>
    </doCompLink>
    <SEOdesc>
      <Value><![CDATA[Порівняння товарів в онлайн-магазині "РЕЗЕРВІСТ". Тактичний, військовий, туристичний одяг та спорядження. Зробити замовлення онлайн на сайті.]]></Value>
    </SEOdesc>
    <SEOimg>
      <Value><![CDATA[umb://media/123a525593484244857e4bbb9c145b4d]]></Value>
    </SEOimg>
    <SEOkeys>
      <Value><![CDATA[["Порівняння товарів","адреса резервіст","доставка резервіст","знижки резервіст","інтернет-магазин резервіст","резервіст львів","магазин","магазин одягу","магазин резервіст","зробити замовлення","тактичне спорядження","військова атрибутика","військове спорядження","туристичне спорядження"]]]></Value>
    </SEOkeys>
    <title>
      <Value Culture="uk"><![CDATA[Порівняння]]></Value>
      <Value Culture="en-us"><![CDATA[Comparison]]></Value>
    </title>
  </Properties>
</Content>