<?xml version="1.0" encoding="utf-8"?>
<Content Key="9aba2790-c2ce-4d02-90a8-ed444db37a38" Alias="ConfirmMail" Level="3">
  <Info>
    <Parent Key="e8546dc7-b813-42d7-981c-1fadd06cabbe">Log In</Parent>
    <Path>/Master/LogIn/ConfirmMail</Path>
    <Trashed>false</Trashed>
    <ContentType>confirmMail</ContentType>
    <CreateDate>2023-02-07T14:45:56</CreateDate>
    <NodeName Default="ConfirmMail">
      <Name Culture="uk">ConfirmMail</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="fd5f32d1-45dd-41a5-8fe0-b2322590bfcc">ConfirmMail</Template>
  </Info>
  <Properties>
    <title>
      <Value Culture="uk"><![CDATA[Активація]]></Value>
    </title>
  </Properties>
</Content>