<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e1d8f26-907b-4814-b5e3-c88f729ee677" Alias="Contacts" Level="2">
  <Info>
    <Parent Key="9383cdc6-d4cb-454c-a579-df4faa984f49">Master</Parent>
    <Path>/Master/Contacts</Path>
    <Trashed>false</Trashed>
    <ContentType>contacts</ContentType>
    <CreateDate>2020-05-20T13:56:14</CreateDate>
    <NodeName Default="Contacts">
      <Name Culture="uk">Contacts</Name>
      <Name Culture="en-us">Contacts</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="1f6a263c-9030-450a-ac55-d0c51c3e0388">Contacts</Template>
  </Info>
  <Properties>
    <callBack>
      <Value Culture="uk"><![CDATA[Зворотній зв'язок]]></Value>
      <Value Culture="en-us"><![CDATA[Contact Us]]></Value>
    </callBack>
    <email1>
      <Value><![CDATA[Rezervist.com.ua@gmail.com]]></Value>
    </email1>
    <email2>
      <Value><![CDATA[]]></Value>
    </email2>
    <email3>
      <Value Culture="uk"><![CDATA[]]></Value>
    </email3>
    <emails>
      <Value Culture="uk"><![CDATA[Електронна пошта]]></Value>
      <Value Culture="en-us"><![CDATA[Email]]></Value>
    </emails>
    <hours>
      <Value><![CDATA[11:00 - 19:00]]></Value>
    </hours>
    <inputEmail>
      <Value Culture="uk"><![CDATA[Електронна пошта]]></Value>
      <Value Culture="en-us"><![CDATA[Email]]></Value>
    </inputEmail>
    <inputMsg>
      <Value Culture="uk"><![CDATA[Повідомлення ]]></Value>
      <Value Culture="en-us"><![CDATA[Message]]></Value>
    </inputMsg>
    <inputName>
      <Value Culture="uk"><![CDATA[Ваше ім'я]]></Value>
      <Value Culture="en-us"><![CDATA[Your name]]></Value>
    </inputName>
    <inputPhone>
      <Value Culture="uk"><![CDATA[Телефон]]></Value>
      <Value Culture="en-us"><![CDATA[Phone]]></Value>
    </inputPhone>
    <onMap>
      <Value Culture="uk"><![CDATA[Ми на мапі]]></Value>
      <Value Culture="en-us"><![CDATA[We are on the map]]></Value>
    </onMap>
    <phone1>
      <Value><![CDATA[+38 (067) 505-24-21]]></Value>
    </phone1>
    <phone2>
      <Value><![CDATA[]]></Value>
    </phone2>
    <phone3>
      <Value><![CDATA[]]></Value>
    </phone3>
    <phones>
      <Value Culture="uk"><![CDATA[Телефон]]></Value>
      <Value Culture="en-us"><![CDATA[Phone]]></Value>
    </phones>
    <SEOdesc>
      <Value><![CDATA[Контакти магазину "Резервіст". Номер телефону +38 (067) 505-24-21. Наша адреса: вул. Стрийська, 106]]></Value>
    </SEOdesc>
    <SEOimg>
      <Value><![CDATA[umb://media/123a525593484244857e4bbb9c145b4d]]></Value>
    </SEOimg>
    <SEOkeys>
      <Value><![CDATA[["магазин","магазин резервіст","телефон резервіст","адреса резервіст","вулиця стрийська львів","контакти резервіст","інтернет-магазин резервіст","інтернет-магазин львів","купити спорядження"]]]></Value>
    </SEOkeys>
    <submit>
      <Value Culture="uk"><![CDATA[Надіслати]]></Value>
      <Value Culture="en-us"><![CDATA[Confirm]]></Value>
    </submit>
    <text1>
      <Value Culture="uk"><![CDATA[Понеділок - П'ятниця]]></Value>
      <Value Culture="en-us"><![CDATA[Monday - Friday]]></Value>
    </text1>
    <text2>
      <Value Culture="uk"><![CDATA[Субота: 11:00 - 15:00]]></Value>
      <Value Culture="en-us"><![CDATA[Saturday: 10:00 - 17:00]]></Value>
    </text2>
    <text3>
      <Value Culture="uk"><![CDATA[Неділя: 11:00 - 15:00]]></Value>
      <Value Culture="en-us"><![CDATA[Sunday: 10:00 - 15:00]]></Value>
    </text3>
    <title>
      <Value Culture="uk"><![CDATA[Контакти]]></Value>
      <Value Culture="en-us"><![CDATA[Contacts]]></Value>
    </title>
    <workHour>
      <Value Culture="uk"><![CDATA[Графік роботи:]]></Value>
      <Value Culture="en-us"><![CDATA[Work schedule:]]></Value>
    </workHour>
  </Properties>
</Content>