<?xml version="1.0" encoding="utf-8"?>
<Content Key="de4cca8b-f727-484b-9b5c-0c9027906f3f" Alias="Coral" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Coral</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-26T11:06:16</CreateDate>
    <NodeName Default="Coral" />
    <SortOrder>122</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[blesing.coral@yahoo.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Добрый вечер! 
Готовы предложить самые лучшие прогоны, способные "утопить" веб-сайт вашего конкурента. Всего от 3 тыс рублей. 
- Стопроцентный результат. Онлайн-сайты точно "упадут". 
- Наибольшее количество негативных фитбеков. 
- Наша специальная база - выжимка максимально "смертельных" площадок из 10 000 000 веб-сайтов (спамных, порно, вирусных и так далее). Работает бесперебойно. 
- Прогон делаем одновременно с 4 серверов. 
- Постоянная отправка активационных ссылок на официальный e-mail. 
- Можем растянуть как угодно по времени. 
- Прогон с запрещёнными ключевыми словами. 
Telegrm: @exrumer 
Skype: xrumer.pro
WatSapp: +7 (977)536-08-36
mail: support@xrumer.cc
Только эти!]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Coral]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Australia]]></Value>
    </fPhone>
  </Properties>
</Content>