<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b0d8b0c-7897-45ab-ba26-21dbb9399f4f" Alias="Crystle" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Crystle</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-12-07T04:25:53</CreateDate>
    <NodeName Default="Crystle" />
    <SortOrder>363</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[crystle.goldhar38@googlemail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[微信公众号：外贸业务员
wordpressbin.com]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Crystle]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Denmark]]></Value>
    </fPhone>
  </Properties>
</Content>