<?xml version="1.0" encoding="utf-8"?>
<Content Key="05c7d338-8248-41c3-8934-9b5e675d25c1" Alias="Danielle (1)" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Danielle1</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-10-11T02:34:10</CreateDate>
    <NodeName Default="Danielle (1)" />
    <SortOrder>249</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[simpsondanielle800@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi,

We'd like to introduce to you our explainer video service, which we feel can benefit your site rezervist.com.ua.

Check out some of our existing videos here:
https://www.youtube.com/watch?v=bWz-ELfJVEI
https://www.youtube.com/watch?v=Y46aNG-Y3rM
https://www.youtube.com/watch?v=hJCFX1AjHKk

Our prices start from as little as $195 and include a professional script and voice-over.

If this is something you would like to discuss further, don't hesitate to reply.

Kind Regards,
Danielle]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Danielle]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[BURGENLAND]]></Value>
    </fPhone>
  </Properties>
</Content>