<?xml version="1.0" encoding="utf-8"?>
<Content Key="694ddf98-f30b-4012-bc38-e03ecbe1eb74" Alias="DanielSaf" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/DanielSaf</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-07-02T00:25:17</CreateDate>
    <NodeName Default="DanielSaf" />
    <SortOrder>130</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[ale21xmirr113@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[State of the art robot that automatically claims faucets and collects them into your own wallets. 
We have selected only the best - direct paying - faucets that are currently on the market. It is fully automated, no need to manually enter the CAPTCHAs. 
Highly customizable, easy to use and powerful Faucet Collector Bot. 
https://drive.google.com/uc?export=download&id=1I8kuutG0vYstYumVs5K-d2SObesyMu9u 
 
@"1"@]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[DanielSaf]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[84431149631]]></Value>
    </fPhone>
  </Properties>
</Content>