<?xml version="1.0" encoding="utf-8"?>
<Content Key="e1ada189-fec2-4bb9-b311-f54c1e2ce9e9" Alias="Danilo" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Danilo</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-20T23:38:13</CreateDate>
    <NodeName Default="Danilo" />
    <SortOrder>117</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[makemybusinessgreatagain@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[It is with sad regret we are shutting down.

We have made all our leads available for a one time fee on DataList2023.com

Regards,
Danilo]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Danilo]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Brazil]]></Value>
    </fPhone>
  </Properties>
</Content>