<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c01c1a2-1650-4919-a6be-39f8b684805d" Alias="Dann" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Dann</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-05-07T05:42:56</CreateDate>
    <NodeName Default="Dann" />
    <SortOrder>56</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[aviles.dann@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Get your site listed in 1000 directories with just one simple click here-> http://sitesubmission.freesitesubmission.xyz/]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Dann]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Netherlands]]></Value>
    </fPhone>
  </Properties>
</Content>