<?xml version="1.0" encoding="utf-8"?>
<Content Key="d8a46841-4bb9-4772-9968-a68876733184" Alias="DavidViobe" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/DavidViobe</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-07-20T18:39:59</CreateDate>
    <NodeName Default="DavidViobe" />
    <SortOrder>151</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[theed_jonsson@hotmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Claim 12600 BTC Today http://btcblitz.lottovip888.xyz/fasttrackbtc]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[DavidViobe]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[84798786538]]></Value>
    </fPhone>
  </Properties>
</Content>