<?xml version="1.0" encoding="utf-8"?>
<Content Key="e000dff2-4134-4e3e-b674-466085359111" Alias="Delivery" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Delivery</Path>
    <Trashed Parent="3b85fdcb-3bdb-4573-af19-dcd74964f052">true</Trashed>
    <ContentType>forCustomersItem</ContentType>
    <CreateDate>2022-02-19T12:40:16</CreateDate>
    <NodeName Default="Delivery" />
    <SortOrder>44</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="acb19ea4-36bb-4bda-ae14-58c372b66609">forCustomersItem</Template>
  </Info>
  <Properties>
    <anons>
      <Value><![CDATA[інформація про оплату та доставку магазину Резервіст]]></Value>
    </anons>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <title>
      <Value><![CDATA[Доставка]]></Value>
    </title>
  </Properties>
</Content>