<?xml version="1.0" encoding="utf-8"?>
<Content Key="69cb8a4b-56ba-4ea1-8cb2-59cc990e2575" Alias="Delivery" Level="3">
  <Info>
    <Parent Key="3b85fdcb-3bdb-4573-af19-dcd74964f052">ForCustomers</Parent>
    <Path>/Master/ForCustomers/Delivery</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-03-16T17:57:24</CreateDate>
    <NodeName Default="Delivery">
      <Name Culture="uk">Delivery</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="14390623-4c04-4107-b926-50e54960e913">NewsItem</Template>
  </Info>
  <Properties>
    <anons>
      <Value Culture="uk"><![CDATA[]]></Value>
    </anons>
    <desc>
      <Value Culture="uk"><![CDATA[<h4 class="cs-delivery-info__title">Способи доставки</h4>
<ul class="cs-delivery-info__list">
<li class="cs-delivery-info__item">УкрпоштаВідправка товарів даним перевізником відбувається щодня.</li>
<li class="cs-delivery-info__item">СамовивізВ робочі дні з 09:00 до 18:00. Можливий самовивіз за попередньою домовленістю.</li>
<li class="cs-delivery-info__item">Доставка "Укрпошта"</li>
<li class="cs-delivery-info__item">Доставка "Нова Пошта"<span class="cs-delivery-info__comment h-pre-wrap">Доставка компанією Нова пошта, ділиться на три варіанти: 1. Доставка товару післяплатою, можлива за таких умов, як передоплата в сумі 100 грн від загальної суми товару на карту Приват Банку. Сума передоплати віднімається від загальної суми післяплати на товар, але за умови, якщо клієнт не забрав товар, або робить обмін товару, передоплата (100 грн), компенсується за доставку в обидві сторони. 2. Повна оплата на карту Приват банк. При цьому клієнт економить кошти на податку від післяплати (~40 грн). 3. Доставка кур'єром за адресою, можлива за умови, повної або часткової передоплаті 100 грн за товар на карту Приват банк.</span></li>
</ul>]]></Value>
    </desc>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <title>
      <Value Culture="uk"><![CDATA[Способи доставки]]></Value>
    </title>
  </Properties>
</Content>