<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b6d9109-e608-4f9c-a8e1-cbc5af8fcd52" Alias="Delivery&amp;Payment" Level="2">
  <Info>
    <Parent Key="9383cdc6-d4cb-454c-a579-df4faa984f49">Master</Parent>
    <Path>/Master/DeliveryPayment</Path>
    <Trashed>false</Trashed>
    <ContentType>delivery</ContentType>
    <CreateDate>2020-05-20T14:23:29</CreateDate>
    <NodeName Default="Delivery&amp;Payment">
      <Name Culture="uk">Delivery&amp;Payment</Name>
      <Name Culture="en-us">Delivery&amp;Payment</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="38765070-d55a-4aa4-b197-69c78b3f86e3">Delivery</Template>
  </Info>
  <Properties>
    <bgImage>
      <Value Culture="uk"><![CDATA[umb://media/0bf6b53d9f12447d9973513c188d14e9]]></Value>
      <Value Culture="en-us"><![CDATA[umb://media/0bf6b53d9f12447d9973513c188d14e9]]></Value>
    </bgImage>
    <delMet>
      <Value Culture="uk"><![CDATA[[
  {
    "key": "8e626d8f-583a-48d9-91f1-d18ea49fcd06",
    "name": "Item",
    "ncContentTypeAlias": "deliveryItems",
    "image": "umb://media/ec1b15fc671048639ae9f263d756df69",
    "title": "КУР'ЄРОМ ПО ЛЬВОВУ",
    "text": "Кур'єр доставить товар до вашого дому"
  },
  {
    "key": "0801cd60-5284-47b5-917c-e425f5742d36",
    "name": "Item",
    "ncContentTypeAlias": "deliveryItems",
    "image": "umb://media/d75170cccc0245f4a0dd9d62507f74fc",
    "title": "ДОСТАВКА УКРАЇНОЮ",
    "text": "Отримуйте замовлення у відділеннях \"Нової пошти\" та \"Укрпошти\""
  },
  {
    "key": "0e9fa923-78d1-4eaf-8cc7-cfbbeac04aa4",
    "name": "Item",
    "ncContentTypeAlias": "deliveryItems",
    "image": "umb://media/1341c8ac0c1d4d99bfa835b7d06a9656",
    "title": "Учасникам бандоформувань ОРДЛО та військовослужбовцям ЗС РФ ",
    "text": "здійснюємо доставку на умовах самовивозу з будь-якого регіонального управління Служби безпеки України."
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "3362e3fc-9446-424e-adeb-5c8889589488",
    "name": "Item",
    "ncContentTypeAlias": "deliveryItems",
    "image": "umb://media/ec1b15fc671048639ae9f263d756df69",
    "title": "BY COURIER AROUND THE LVIV",
    "text": "The courier will deliver the products to your home"
  },
  {
    "key": "092878a0-7fe9-4294-9b5f-0489526ecc43",
    "name": "Item",
    "ncContentTypeAlias": "deliveryItems",
    "image": "umb://media/d75170cccc0245f4a0dd9d62507f74fc",
    "title": "DELIVERY BY UKRAINE",
    "text": "Receive orders at Nova Poshta and Ukrposhta branches"
  },
  {
    "key": "1e4c351f-c5e2-4f2d-bce1-26a4464e14f7",
    "name": "Item",
    "ncContentTypeAlias": "deliveryItems",
    "image": "umb://media/1341c8ac0c1d4d99bfa835b7d06a9656",
    "title": "To members of ORDLO gangs and servicemen of the RF Armed Forces",
    "text": "we carry out delivery on the terms of self-removal from any regional office of the Security Service of Ukraine."
  }
]]]></Value>
    </delMet>
    <SEOdesc>
      <Value><![CDATA[Доставка та оплата. Інтернет-магазин "Резервіст". Замовляйте, не виходячи з дому.]]></Value>
    </SEOdesc>
    <SEOimg>
      <Value><![CDATA[umb://media/123a525593484244857e4bbb9c145b4d]]></Value>
    </SEOimg>
    <SEOkeys>
      <Value><![CDATA[["доставка та оплата резервіст","доставка резервіст","інтернет-магазин","інтернет-магазин резервіст","інтернет-магазин львів","доставка новою поштою","магазин","магазин резервіст"]]]></Value>
    </SEOkeys>
    <subTitle>
      <Value Culture="uk"><![CDATA[Ми здійснюємо доставку наступним чином:]]></Value>
      <Value Culture="en-us"><![CDATA[We deliver in the following ways:]]></Value>
    </subTitle>
    <title>
      <Value Culture="uk"><![CDATA[Оплата і доставка]]></Value>
      <Value Culture="en-us"><![CDATA[Payment and delivery]]></Value>
    </title>
  </Properties>
</Content>