<?xml version="1.0" encoding="utf-8"?>
<Content Key="c29cfcd0-4eb3-4485-a5ef-cd9c38b9e792" Alias="Della" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Della</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-09-26T09:25:01</CreateDate>
    <NodeName Default="Della" />
    <SortOrder>228</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[della.halverson@yahoo.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Is this your website? rezervist.com.ua? I just sent you a message via the contact form on your site and was wondering if you wanted to try some unique advertising that reaches business owners worldwide? How do we do it? Well you just witnessed our process. We send your ad text to contact forms on websites worldwide. Plans start at a hundred dollars for posting your ad to one million sites. Reach out to me via Email and let's dicuss what we can do for your business. My Skype ID is:  live:.cid.dd8a3501619891fe]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Della]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Australia]]></Value>
    </fPhone>
  </Properties>
</Content>