<?xml version="1.0" encoding="utf-8"?>
<Content Key="182ecac9-21cb-42b3-8d63-32f5a1a763c2" Alias="Demi" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Demi</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-12-08T04:44:34</CreateDate>
    <NodeName Default="Demi" />
    <SortOrder>369</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[pigdon.demi@yahoo.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[微信公众号：外贸业务员
wordpressbin.com]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Demi]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Austria]]></Value>
    </fPhone>
  </Properties>
</Content>