<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b4ec25d-ebc1-4a34-9051-a609bd936186" Alias="DennisInity" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/DennisInity</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-09-09T22:20:29</CreateDate>
    <NodeName Default="DennisInity" />
    <SortOrder>206</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[goldenman1232002@yahoo.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Unpublished private photos of naked Kim Kardashian - 34 photos http://naked-kim-kardashian-61682.yaravu.com/stat]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[DennisInity]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[84162491548]]></Value>
    </fPhone>
  </Properties>
</Content>