<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa3aeb34-699c-46d1-91a0-08be96cedaf1" Alias="Dexshell" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Dexshell</Path>
    <Trashed Parent="6f96a450-18a4-4bf6-8752-73580285ce1d">true</Trashed>
    <ContentType>bannerItem</ContentType>
    <CreateDate>2020-12-16T12:49:52</CreateDate>
    <NodeName Default="Dexshell">
      <Name Culture="uk">Dexshell</Name>
      <Name Culture="en-us">Dexshell</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <btn1>
      <Value><![CDATA[]]></Value>
    </btn1>
    <btn1Link>
      <Value><![CDATA[https://rezervist.com.ua/shop?req={%22filter%22:{%22catid%22:%22a8cb9790-9eba-11e7-a15c-00155d8ca60e%22,%22minc%22:0,%22maxc%22:1000,%22br%22:%22144%22},%22sortby%22:0}]]></Value>
    </btn1Link>
    <desc>
      <Value><![CDATA[]]></Value>
    </desc>
    <image>
      <Value Culture="uk"><![CDATA[umb://media/e2ccd87aec794e2bb9debe0a9df43a24]]></Value>
      <Value Culture="en-us"><![CDATA[umb://media/e2ccd87aec794e2bb9debe0a9df43a24]]></Value>
    </image>
    <saleText>
      <Value><![CDATA[]]></Value>
    </saleText>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>