<?xml version="1.0" encoding="utf-8"?>
<Content Key="f782f641-87bb-4102-a003-89b307a2bc33" Alias="Diane Angelori" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/DianeAngelori</Path>
    <Trashed Parent="659326d7-2869-4416-b8b6-0b0ed4a7d31f">true</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2022-03-05T23:56:48</CreateDate>
    <NodeName Default="Diane Angelori" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[g.a.7.65.27.19@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hello 
 
I'm Diane Angelori, online trading expert. I want you to know that online trading (Crypto, Forex and Binary option) is a good thing if you have a good trading strategy, I use to lose a lot of funds in online trading before I got to where I am today. If you need assistance on how to trade and recover back all the money you have lost to your broker and want to be a successful online trader like me, write to me via email below to get an amazing strategy. 
 
If you are having problems withdrawing your profit from your Crypt, Forex or Binary option trading account even when you were given a bonus, just contact me, I have worked with some Trade, Regulatory Agencies for 9years, and I have helped a lot of people get back their lost funds from their stubborn brokers successfully and I won't stop until I have helped as many as possible. For more info you can contact me via my email address: dianeangeloria39@gmail.com]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Diane Angelori]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[86777541549]]></Value>
    </fPhone>
  </Properties>
</Content>