<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a40bb5d-f0a9-4367-8509-3b1980a2e144" Alias="Discounts" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Discounts</Path>
    <Trashed>false</Trashed>
    <ContentType>discountsCollection</ContentType>
    <CreateDate>2021-01-04T12:22:12</CreateDate>
    <NodeName Default="Discounts" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3a3716a7-9dc8-434a-a7a3-ba596acdb06c">DiscountsCollection</Template>
  </Info>
  <Properties>
    <discounts>
      <Value><![CDATA[[
  {
    "key": "fc34e301-9a21-43bb-9208-210d6a267afe",
    "name": "1. Власник УБД - 10%",
    "ncContentTypeAlias": "discounts",
    "categoryName": "Власник УБД",
    "discountValue": "10"
  },
  {
    "key": "45309fe8-6f4c-42ab-b13e-c2b50160d2c7",
    "name": "2. ЗСУ - 15%",
    "ncContentTypeAlias": "discounts",
    "categoryName": "ЗСУ",
    "discountValue": "15"
  },
  {
    "key": "95eb3f9e-0969-429c-9096-8b0ac86d6e68",
    "name": "3. Поліція, НАБУ, ДСНС - 10%",
    "ncContentTypeAlias": "discounts",
    "categoryName": "Поліція, НАБУ, ДСНС",
    "discountValue": "10"
  },
  {
    "key": "75fee95e-13e6-4576-912b-a26da5addf42",
    "name": "4. ГУРТ 20% - 20%",
    "ncContentTypeAlias": "discounts",
    "categoryName": "ГУРТ 20%",
    "discountValue": "20"
  },
  {
    "key": "74cc1b61-504a-4042-b347-a485ccb14217",
    "name": "5.  - %",
    "ncContentTypeAlias": "discounts",
    "categoryName": "ГУРТ 30%",
    "discountValue": "30"
  }
]]]></Value>
    </discounts>
  </Properties>
</Content>