<?xml version="1.0" encoding="utf-8"?>
<Content Key="30f82a10-9029-423e-8c4d-ff4f2c0ade1d" Alias="DoComparison" Level="3">
  <Info>
    <Parent Key="d8ce7c7d-406f-4780-be07-b8394e62ed3f">Comparison</Parent>
    <Path>/ShoppingCart/Comparison/DoComparison</Path>
    <Trashed>false</Trashed>
    <ContentType>doComparison</ContentType>
    <CreateDate>2020-05-21T13:22:58</CreateDate>
    <NodeName Default="DoComparison">
      <Name Culture="uk">DoComparison</Name>
      <Name Culture="en-us">DoComparison</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="7926923d-ca24-412d-b64a-48c03636ff53">DoComparison</Template>
  </Info>
  <Properties>
    <allParam>
      <Value Culture="uk"><![CDATA[Всі параметри]]></Value>
    </allParam>
    <brand>
      <Value Culture="uk"><![CDATA[Бренд]]></Value>
    </brand>
    <color>
      <Value Culture="uk"><![CDATA[Колір]]></Value>
    </color>
    <compoud>
      <Value Culture="uk"><![CDATA[Склад]]></Value>
    </compoud>
    <country1>
      <Value Culture="uk"><![CDATA[Країна ]]></Value>
    </country1>
    <country2>
      <Value Culture="uk"><![CDATA[Країна ]]></Value>
    </country2>
    <diffParam>
      <Value Culture="uk"><![CDATA[Різні]]></Value>
    </diffParam>
    <material>
      <Value Culture="uk"><![CDATA[Матеріал]]></Value>
    </material>
    <model>
      <Value Culture="uk"><![CDATA[Модель]]></Value>
    </model>
    <season>
      <Value Culture="uk"><![CDATA[Сезон]]></Value>
    </season>
    <size>
      <Value Culture="uk"><![CDATA[Розмір]]></Value>
    </size>
  </Properties>
</Content>