<?xml version="1.0" encoding="utf-8"?>
<Content Key="975e0487-224f-4511-a2d8-895f38bd147f" Alias="DonaldOxYpe" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/DonaldOxYpe</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-05-26T01:50:19</CreateDate>
    <NodeName Default="DonaldOxYpe" />
    <SortOrder>77</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[pascalino@hotmail.co.uk]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Get More Clicks, Get More Customers: Harness the Power of Social Signals https://drive-massive-traffic-to-your-website.blogspot.ch/2023/05/drive-massive-traffic-to-your-website.html]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[DonaldOxYpe]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[82869462513]]></Value>
    </fPhone>
  </Properties>
</Content>