<?xml version="1.0" encoding="utf-8"?>
<Content Key="9cf1f758-6483-42a6-b662-dbc86b229228" Alias="Donaldmog" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Donaldmog</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-02T15:51:42</CreateDate>
    <NodeName Default="Donaldmog" />
    <SortOrder>287</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[ryntzski@yahoo.com.au]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Elevate Your Income to $30,000 Per Day http://marketing-44231251.yowatashiworld.com/shop?18602]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Donaldmog]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[81433993313]]></Value>
    </fPhone>
  </Properties>
</Content>