<?xml version="1.0" encoding="utf-8"?>
<Content Key="e409ad66-7532-4c56-a19f-027cf9ba383c" Alias="EDC спорядження від тм РЕЗЕРВІСТ" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/EDCSporyadzhennyaVDTmREZERVST</Path>
    <Trashed Parent="6f96a450-18a4-4bf6-8752-73580285ce1d">true</Trashed>
    <ContentType>bannerItem</ContentType>
    <CreateDate>2020-10-06T14:34:00</CreateDate>
    <NodeName Default="EDC спорядження від тм РЕЗЕРВІСТ">
      <Name Culture="uk">EDC спорядження від тм РЕЗЕРВІСТ</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="true">
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <btn1>
      <Value><![CDATA[]]></Value>
    </btn1>
    <btn1Link>
      <Value><![CDATA[https://rezervist.com.ua/uk/Shop?req={%22filter%22:{%22catid%22:%229202b9ea-2f06-11ea-b9f1-00155d8ca60e%22,%22minc%22:0},%22sortby%22:0,%22pag%22:{%22pn%22:1,%22tps%22:0}}]]></Value>
    </btn1Link>
    <desc>
      <Value><![CDATA[]]></Value>
    </desc>
    <image>
      <Value Culture="uk"><![CDATA[umb://media/3bfbd240adb34f2ba0f728c4c0fc10e2]]></Value>
    </image>
    <saleText>
      <Value Culture="uk"><![CDATA[EDC спорядження від тм РЕЗЕРВІСТ]]></Value>
    </saleText>
    <title>
      <Value Culture="uk"><![CDATA[Kaisak]]></Value>
    </title>
  </Properties>
</Content>