<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab1af750-0de4-47d0-8ccc-aff8c763ee9a" Alias="edward" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/edward</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-05-28T11:43:31</CreateDate>
    <NodeName Default="edward" />
    <SortOrder>81</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[edwayne100@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[we may have a donation of 1,500 stretchers. Who can we contact in government military to make this donation? thank you. Eddie]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[edward]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[0680573620]]></Value>
    </fPhone>
  </Properties>
</Content>