<?xml version="1.0" encoding="utf-8"?>
<Content Key="01ca9db9-1d15-4711-86cf-82b8e943518f" Alias="Elizabeth" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Elizabeth</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-08-03T04:55:38</CreateDate>
    <NodeName Default="Elizabeth" />
    <SortOrder>168</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[elizabeth.stgeorge19@msn.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hey there, 

Do you use Google adwords for your business marketing campaigns?

Today we are going to be creating a Performance Max Campaign Solutions 8 style!!
If you have a business that you need to generate sales or leads, this video will help you create killer performance max campaigns step by step. It is the Ultimate Guide!

➡️ A performance Max Campaign will automatically test and optimize your ads for you, and even helps you out in finding your exact audience.

I will show you the exact steps to use Google Ads to keep track of your leads (it only takes a few minutes to set up). Then I will go through the rest of the process for setting up the campaign– everything from the campaign name to the lead parameters.

➡️ Watch the video to learn everything you need to know about creating a Performance Max Campaign that generates the leads you need.
Click here >>> https://bit.ly/454nQPW

Cheers

Perry M
78 Road St, NYC
===============
Click here to Unsubscribe.
https://forms.gle/XqUA6zg28S3mCSw39]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Elizabeth]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Germany]]></Value>
    </fPhone>
  </Properties>
</Content>