<?xml version="1.0" encoding="utf-8"?>
<Content Key="2cefe072-c1ab-463e-99f2-6c0372d19a85" Alias="Error 404" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Error404</Path>
    <Trashed>false</Trashed>
    <ContentType>error404</ContentType>
    <CreateDate>2020-05-21T21:03:13</CreateDate>
    <NodeName Default="Error 404">
      <Name Culture="uk">Error 404</Name>
      <Name Culture="en-us">Error 404</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="816218e0-3f16-481b-ad49-d114be57dc27">Error404</Template>
  </Info>
  <Properties>
    <img>
      <Value Culture="uk"><![CDATA[umb://media/25f8c16f75574954aa6a31c9f156dba9]]></Value>
      <Value Culture="en-us"><![CDATA[umb://media/25f8c16f75574954aa6a31c9f156dba9]]></Value>
    </img>
    <main>
      <Value Culture="uk"><![CDATA[На головну]]></Value>
      <Value Culture="en-us"><![CDATA[Home]]></Value>
    </main>
    <SEOdesc>
      <Value><![CDATA[Помилка 404. Сторінку не знайдено. Перейти на головну. Інтернет-магазин "Резервіст".]]></Value>
    </SEOdesc>
    <SEOimg>
      <Value><![CDATA[umb://media/123a525593484244857e4bbb9c145b4d]]></Value>
    </SEOimg>
    <SEOkeys>
      <Value><![CDATA[["помилка 404","головна резервіст","інтернет-магазин","інтернет-магазин львів","інтернет-магазин резервіст","адреса резервіст","резервіст львів","магазин резервіст"]]]></Value>
    </SEOkeys>
    <shop>
      <Value Culture="uk"><![CDATA[Каталог товарів]]></Value>
      <Value Culture="en-us"><![CDATA[Products catalog]]></Value>
    </shop>
    <title>
      <Value Culture="uk"><![CDATA[Сторінку не знайдено]]></Value>
      <Value Culture="en-us"><![CDATA[Page not found]]></Value>
    </title>
  </Properties>
</Content>