<?xml version="1.0" encoding="utf-8"?>
<Content Key="98178cbf-da58-4a04-b835-19990f400884" Alias="eZEvgaAnhv" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/eZEvgaAnhv</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-10-15T05:13:05</CreateDate>
    <NodeName Default="eZEvgaAnhv" />
    <SortOrder>255</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[callvisvetlana@list.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Вам хороший вариант вот тут ArataurNiladwyn@gmail.com 000*** rezervist.com.ua]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[eZEvgaAnhv]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[84146618219]]></Value>
    </fPhone>
  </Properties>
</Content>