<?xml version="1.0" encoding="utf-8"?>
<Content Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f" Alias="Feed Backs" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FeedBacks</Path>
    <Trashed>false</Trashed>
    <ContentType>allFeedBacks</ContentType>
    <CreateDate>2020-05-22T10:38:24</CreateDate>
    <NodeName Default="Feed Backs">
      <Name Culture="uk">Feed Backs</Name>
      <Name Culture="en-us">Feed Backs</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>