<?xml version="1.0" encoding="utf-8"?>
<Content Key="23c6515d-09df-4940-9609-410901cbc41b" Alias="Fenix E35" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/FenixE35</Path>
    <Trashed Parent="6f96a450-18a4-4bf6-8752-73580285ce1d">true</Trashed>
    <ContentType>bannerItem</ContentType>
    <CreateDate>2020-12-16T12:47:14</CreateDate>
    <NodeName Default="Fenix E35">
      <Name Culture="uk">Fenix E35</Name>
      <Name Culture="en-us">Fenix E35</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <btn1>
      <Value><![CDATA[]]></Value>
    </btn1>
    <btn1Link>
      <Value><![CDATA[https://rezervist.com.ua/shop?req={%22filter%22:{%22catid%22:%22a8cb97ba-9eba-11e7-a15c-00155d8ca60e%22,%22minc%22:0,%22maxc%22:3080,%22br%22:%22115%22},%22sortby%22:0}]]></Value>
    </btn1Link>
    <desc>
      <Value><![CDATA[]]></Value>
    </desc>
    <image>
      <Value Culture="uk"><![CDATA[umb://media/4e7670a311194c79a5af3a62f6eb3416]]></Value>
      <Value Culture="en-us"><![CDATA[umb://media/4e7670a311194c79a5af3a62f6eb3416]]></Value>
    </image>
    <saleText>
      <Value><![CDATA[]]></Value>
    </saleText>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>