<?xml version="1.0" encoding="utf-8"?>
<Content Key="08b7fb91-3419-4c81-acb2-79ed32661faa" Alias="figMBpDwjf" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/figMBpDwjf</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-09-04T21:31:16</CreateDate>
    <NodeName Default="figMBpDwjf" />
    <SortOrder>201</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[callvisvetlana@list.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Вам хороший вариант вот тут ArataurNiladwyn@gmail.com 000*** rezervist.com.ua]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[figMBpDwjf]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[86324534511]]></Value>
    </fPhone>
  </Properties>
</Content>