<?xml version="1.0" encoding="utf-8"?>
<Content Key="e828c58f-854d-4633-ad8c-59b7657f4a3e" Alias="Flor" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Flor</Path>
    <Trashed Parent="659326d7-2869-4416-b8b6-0b0ed4a7d31f">true</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2022-09-20T17:15:38</CreateDate>
    <NodeName Default="Flor" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[marketing@leadstree.org]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hello.

It is with sad regret to inform you LeadsTree.org is shutting down this week.

We have made all our dataabses available at a one-time fee.

LeadsTree.org]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Flor]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Denmark]]></Value>
    </fPhone>
  </Properties>
</Content>