<?xml version="1.0" encoding="utf-8"?>
<Content Key="ed251006-e2a7-4f0c-84db-4fa0775d5884" Alias="Forgot Pass 2" Level="3">
  <Info>
    <Parent Key="e8546dc7-b813-42d7-981c-1fadd06cabbe">Log In</Parent>
    <Path>/Master/LogIn/ForgotPass2</Path>
    <Trashed>false</Trashed>
    <ContentType>forgotPass2</ContentType>
    <CreateDate>2020-05-21T20:44:35</CreateDate>
    <NodeName Default="Forgot Pass 2">
      <Name Culture="uk">Forgot Pass 2</Name>
      <Name Culture="en-us">Forgot Pass 2</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="12150f46-dda3-45b8-98c0-e5b7b7502184">ForgotPass2</Template>
  </Info>
  <Properties>
    <inputConfirmPass>
      <Value Culture="uk"><![CDATA[Підтвердження паролю]]></Value>
      <Value Culture="en-us"><![CDATA[Confirm new password]]></Value>
    </inputConfirmPass>
    <inputEmail>
      <Value Culture="uk"><![CDATA[Електронна пошта]]></Value>
      <Value Culture="en-us"><![CDATA[Email]]></Value>
    </inputEmail>
    <inputPass>
      <Value Culture="uk"><![CDATA[Новий пароль]]></Value>
      <Value Culture="en-us"><![CDATA[New password]]></Value>
    </inputPass>
    <submit>
      <Value Culture="uk"><![CDATA[Змінити пароль]]></Value>
      <Value Culture="en-us"><![CDATA[Change password]]></Value>
    </submit>
    <title>
      <Value Culture="uk"><![CDATA[Відновлення паролю]]></Value>
      <Value Culture="en-us"><![CDATA[Password recovery]]></Value>
    </title>
  </Properties>
</Content>