<?xml version="1.0" encoding="utf-8"?>
<Content Key="13bfe733-f1d4-4e68-86cb-62b11c04e4c5" Alias="Forgot Pass" Level="3">
  <Info>
    <Parent Key="e8546dc7-b813-42d7-981c-1fadd06cabbe">Log In</Parent>
    <Path>/Master/LogIn/ForgotPass</Path>
    <Trashed>false</Trashed>
    <ContentType>forgotPass</ContentType>
    <CreateDate>2020-05-20T18:19:11</CreateDate>
    <NodeName Default="Forgot Pass">
      <Name Culture="uk">Forgot Pass</Name>
      <Name Culture="en-us">Forgot Pass</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="b04a610d-ca79-4b4b-85e3-1a0d04e17c38">ForgotPass</Template>
  </Info>
  <Properties>
    <inputEmail>
      <Value Culture="uk"><![CDATA[Ваша електронна пошта]]></Value>
      <Value Culture="en-us"><![CDATA[Your email]]></Value>
    </inputEmail>
    <submit>
      <Value Culture="uk"><![CDATA[Надіслати]]></Value>
      <Value Culture="en-us"><![CDATA[Send]]></Value>
    </submit>
    <title>
      <Value Culture="uk"><![CDATA[Забули пароль?]]></Value>
      <Value Culture="en-us"><![CDATA[Forgot your password?]]></Value>
    </title>
  </Properties>
</Content>