<?xml version="1.0" encoding="utf-8"?>
<Content Key="fdabee38-876e-4491-81b5-8d2e132f5a44" Alias="Francesco" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Francesco</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-21T18:47:03</CreateDate>
    <NodeName Default="Francesco" />
    <SortOrder>321</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[francesco.ferguson@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi, 

rezervist.com.ua is only listed in a 8/10,000+ Directories

We have a black friday deal going on at the moment to get your website listed in all 10k+ for $19.95

Visit us on DirectoryBump.com]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Francesco]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[United States]]></Value>
    </fPhone>
  </Properties>
</Content>