<?xml version="1.0" encoding="utf-8"?>
<Content Key="c653661b-1024-4526-b0ce-c90d4197a036" Alias="Gary Wilson" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/GaryWilson</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-05-22T15:08:38</CreateDate>
    <NodeName Default="Gary Wilson" />
    <SortOrder>72</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[gw2920339@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Good day, 
 
I am reaching out to express my interest in a potential business opportunity that worth $26.8 Million. 
This would be of a great benefit to both parties if handled well. 
 
Please get back to me through this email: Gw455075@gmail.com 
 
Thanks, 
 
Gary Wilson]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Gary Wilson]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[82233164367]]></Value>
    </fPhone>
  </Properties>
</Content>