<?xml version="1.0" encoding="utf-8"?>
<Content Key="b21804be-d655-4f14-b6ea-ad1ede87ce71" Alias="GeorgeCexia" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/GeorgeCexia</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-10-08T17:03:42</CreateDate>
    <NodeName Default="GeorgeCexia" />
    <SortOrder>245</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[imj1985@yahoo.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Start Living Your Dream Life with $1000 Per Day - Guaranteed http://secret-918881.ai-videocity.com/trade]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[GeorgeCexia]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[86527234375]]></Value>
    </fPhone>
  </Properties>
</Content>