<?xml version="1.0" encoding="utf-8"?>
<Content Key="991a4f66-4396-4b6e-94af-570283ebeea7" Alias="Georgina (2)" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Georgina2</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-09-15T04:59:59</CreateDate>
    <NodeName Default="Georgina (2)" />
    <SortOrder>211</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[georginahaynes620@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi,

We'd like to introduce to you our explainer video service, which we feel can benefit your site rezervist.com.ua.

Check out some of our existing videos here:
https://www.youtube.com/watch?v=bWz-ELfJVEI
https://www.youtube.com/watch?v=Y46aNG-Y3rM
https://www.youtube.com/watch?v=hJCFX1AjHKk

Our prices start from as little as $195 and include a professional script and voice-over.

If this is something you would like to discuss further, don't hesitate to reply.

Kind Regards,
Georgina

If you are not interested, unsubscribe here: https://explainervideos4u.net/unsubscribe.php?d=rezervist.com.ua

]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Georgina]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Australia]]></Value>
    </fPhone>
  </Properties>
</Content>