<?xml version="1.0" encoding="utf-8"?>
<Content Key="39f76cf5-4c55-47a2-aaad-64865ef2d7da" Alias="Granttuh" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Granttuh</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-05-22T07:00:17</CreateDate>
    <NodeName Default="Granttuh" />
    <SortOrder>71</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[yasen.krasen.13+72998@mail.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Ufieuhdidhefh wjdwdjqwidjwefhwfakj oijofqwfbvsdfjfwej ijwqiofjewuhfwedjawdhewh ouhwidwjpouweiofeiouqwruio ioqwiwuifewifjfifhw jiwfjiewhfewgiewufewio rezervist.com.ua]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Granttuh]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[87651233875]]></Value>
    </fPhone>
  </Properties>
</Content>