<?xml version="1.0" encoding="utf-8"?>
<Content Key="420c58cf-37ba-4275-b9ff-2526920f2985" Alias="Gregoryblevy" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Gregoryblevy</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-08-23T18:24:21</CreateDate>
    <NodeName Default="Gregoryblevy" />
    <SortOrder>189</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[jeremyshana@windstream.net]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[PASSIVE INCOME ON CHATGPT FROM $1000 PER DAY WITHOUT SKILLS AND EXPERIENCE http://ai-4612.ketlenpack.online/exclusive-product]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Gregoryblevy]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[87285886621]]></Value>
    </fPhone>
  </Properties>
</Content>