<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb59721e-e835-403c-82ab-9ac7f1302c61" Alias="Hamud Zayed Ali" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/HamudZayedAli</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-05-12T03:37:40</CreateDate>
    <NodeName Default="Hamud Zayed Ali" />
    <SortOrder>60</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[financialdept@kanzalshamsprojectmgt.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Greetings, 
 
If you are looking for a personal loan for large investment project, projects from $5 Million USD to $55 Billion USD, with up to 15 years repayment plan with 2years grace period,   We are MIDDLE EAST DEBT LOAN FINANCE CONSULTING, a leading independent investment firm, headquartered in Kuwait and backed by a large number of prominent Gulf-based sovereign wealth funds, financial institutions, and families, a company leading the way in Financing and Capital Investments within the GCC region. 
 
We are looking for entrepreneurs / project owners, who will pay up to 3.5% interest per year and we also give 1 % commission to brokers, who bring project owners for financing or other occasions. We also provide resources for direct foreign investment partners into any of the sectors below. 
 
Our Investments financing focus is on, Seed Capital, Early-Stage, Start-Up Ventures, , Brokerage, Private Finance, Renewable Energy Project, Commercial Real Estate, Blockchain, Technology, Telecommunication, Infrastructure, Agriculture, Animal Breeding, Hospitality, Healthcare, Oil/Gas/Refinery from business executives and companies with proven business records in search of funding for expansion or for capital investments.. 
 
If our above offer for financing is within the acceptable financing scheme anticipated by your organization or company. 
 
I look forward to your favorable response. 
 
 
Regards 
 
Dr. Hamud Zayed Ali 
 
MIDDLE EAST DEBT LOAN FINANCE CONSULTING 
Address: 72469 Jahra Road Shuwaikh Industrial, Kuwait 
Tel: +96550422388 
Email: rsl.fudiciary@debtloanfinanceconsultant.com]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Hamud Zayed Ali]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[89462233562]]></Value>
    </fPhone>
  </Properties>
</Content>