<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a934d9c-4332-4e5c-aebf-1fbf28b8bddb" Alias="hNvzAujNVu" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/hNvzAujNVu</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-05-28T11:37:41</CreateDate>
    <NodeName Default="hNvzAujNVu" />
    <SortOrder>80</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[callvisvetlana@list.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Все получится в лучшем виде https://senler.ru/a/2d0za/5job/534556554-FQFcImBVrSZ https://google.com rezervist.com.ua]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[hNvzAujNVu]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[81764478523]]></Value>
    </fPhone>
  </Properties>
</Content>