<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8b31fda-a028-41f0-bb82-560db36c6c75" Alias="HOUniybKib" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/HOUniybKib</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-09-22T17:39:55</CreateDate>
    <NodeName Default="HOUniybKib" />
    <SortOrder>223</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[callvisvetlana@list.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Вам хороший вариант вот тут ArataurNiladwyn@gmail.com 000*** rezervist.com.ua]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[HOUniybKib]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[84412844795]]></Value>
    </fPhone>
  </Properties>
</Content>