<?xml version="1.0" encoding="utf-8"?>
<Content Key="b5dc1348-6f79-45a7-9e2b-ab824cfaa3f0" Alias="hovEakyaDD" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/hovEakyaDD</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-10-25T02:07:58</CreateDate>
    <NodeName Default="hovEakyaDD" />
    <SortOrder>273</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[callvisvetlana@list.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Вам хороший вариант вот тут ArataurNiladwyn@gmail.com 000*** rezervist.com.ua]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[hovEakyaDD]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[83439266547]]></Value>
    </fPhone>
  </Properties>
</Content>