<?xml version="1.0" encoding="utf-8"?>
<Content Key="b7143115-8c14-417c-8ede-cdfd278bcb47" Alias="HRM Bah Mbi" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/HRMBahMbi</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-23T00:45:50</CreateDate>
    <NodeName Default="HRM Bah Mbi" />
    <SortOrder>119</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[bahmbi129@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Attn. Director, 
 
We are interested in your products. Please contact us with your product details and price list if your company can handle a bulk supply of your products to Cameroon. 
Please send your reply to bahmbim3@oiedcadmin.org 
 
HRM Bah Mbi]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[HRM Bah Mbi]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[81528741583]]></Value>
    </fPhone>
  </Properties>
</Content>