<?xml version="1.0" encoding="utf-8"?>
<Content Key="931ffc95-c5e0-4d76-8e4c-53c60312bbb2" Alias="ICFlAenoWu" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/ICFlAenoWu</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-04-15T03:23:12</CreateDate>
    <NodeName Default="ICFlAenoWu" />
    <SortOrder>39</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[callvisvetlana@list.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Все достижимо, делай не останавливайся https://senler.ru/a/29xpm/gohx/759368335&xxu9m9t2JGn https://google.com rezervist.com.ua]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[ICFlAenoWu]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[88344816733]]></Value>
    </fPhone>
  </Properties>
</Content>