<?xml version="1.0" encoding="utf-8"?>
<Content Key="27538cf3-5085-48cd-9956-80488995d820" Alias="Isabell" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Isabell</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-19T19:12:03</CreateDate>
    <NodeName Default="Isabell" />
    <SortOrder>111</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[isabell.verret12@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi,

Are you tired of paying for voice work? 

Harness our AI app that can turn any document, website or article into a professional voice over in 60 seconds.

Choose from over 660 lifelike human voices and more than 80 different languages. 

Leverage unlimited free voice work for your next commercial, explainer video, podcast, audiobook or presentation.   

Find out more at: https://t.ly/KxNI

Regards,
Isabell
]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Isabell]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[United Kingdom]]></Value>
    </fPhone>
  </Properties>
</Content>