<?xml version="1.0" encoding="utf-8"?>
<Content Key="f854ee5b-40c5-4cbb-be1f-7968430ca271" Alias="Jason" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Jason</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-09-16T10:06:11</CreateDate>
    <NodeName Default="Jason" />
    <SortOrder>218</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[black.jason@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Looking for unique advertising that doesn't cost thousands of dollars to deliver mediocre results? How about contact form blasting? This is how I'm reaching out to you right now! For more info hit me up on and Email here: Jason@gomail2.xyz]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Jason]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Netherlands]]></Value>
    </fPhone>
  </Properties>
</Content>