<?xml version="1.0" encoding="utf-8"?>
<Content Key="842246e3-8020-4b81-aa2a-af8d33837cbc" Alias="JeraldscEni" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/JeraldscEni</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-03T18:33:34</CreateDate>
    <NodeName Default="JeraldscEni" />
    <SortOrder>90</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[mindyhaugh@yahoo.com.au]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[10 Cryptos for Unparalleled Returns: Anticipated 20,000% Upside Within Reach https://qwkl.ink/hvXWd]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[JeraldscEni]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[85861994431]]></Value>
    </fPhone>
  </Properties>
</Content>