<?xml version="1.0" encoding="utf-8"?>
<Content Key="5308bb89-dca4-45b0-8024-4bed2b09f4aa" Alias="Jeraldrep" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Jeraldrep</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-04-24T23:56:14</CreateDate>
    <NodeName Default="Jeraldrep" />
    <SortOrder>44</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[elfridabolshakova901892@mail.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Идея проституции старая. Проституция — это форма сексуальной эксплуатации, которая существует уже много столетий. Слово «проститутка» происходит от латинского слова prostituta, что означает «предлагать себя для беспорядочного полового акта». 
 
В Древнем Риме проституток называли лупами, и они часто были рабынями. Они продавали себя в тавернах и гостиницах одиноким мужчинам или большим толпам на таких мероприятиях, как Римские игры. 
 
В средние века проституция считалась неизбежным злом, и христианские власти терпели ее, поскольку считали, что она помогает сдерживать распространение венерических заболеваний, предоставляя выход естественным побуждениям людей. 
 
Впервые платить кому-либо за секс в Англии стало незаконным в 1885 году, когда британский парламент принял закон под названием «Закон о сводных законах (уличных правонарушениях) 1885 года», в соответствии с которым вымогательство или приставание к преступлению наказывалось 
 
http://xn--80acccig1bfyu9k.xn--p1ai/catalog/kunnilingus ]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Jeraldrep]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[84816293635]]></Value>
    </fPhone>
  </Properties>
</Content>