<?xml version="1.0" encoding="utf-8"?>
<Content Key="df34933b-b147-40be-b554-70b069a9bb98" Alias="JeremyEnsub" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/JeremyEnsub</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-10-31T23:29:07</CreateDate>
    <NodeName Default="JeremyEnsub" />
    <SortOrder>280</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[noreply@5scribe.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[We invite you to become beta users of 5Scribe, our AI-powered content creation tool. Your early feedback is invaluable in refining and perfecting our software to meet your specific content needs. 
 
As beta users, you get exclusive access to the latest features and updates, a chance to explore 5Scribe, and the opportunity to provide direct feedback. 
Sign up for the 5Scribe Beta Program here: 
https://app.5scribe.com/register 
 
Join us on this exciting journey to redefine content creation. We look forward to having you as a valued member of our beta community.]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[JeremyEnsub]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[86292711781]]></Value>
    </fPhone>
  </Properties>
</Content>