<?xml version="1.0" encoding="utf-8"?>
<Content Key="120fc27e-c4f9-4043-a921-011183e9fd25" Alias="Jeromytar" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Jeromytar</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-03T16:57:05</CreateDate>
    <NodeName Default="Jeromytar" />
    <SortOrder>289</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[dexter87_jaf@hotmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[You earned $45,495.94. Withdraw money urgently http://rollinriches-455372.wsrpl.com/money]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Jeromytar]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[82627177113]]></Value>
    </fPhone>
  </Properties>
</Content>