<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9659977-6772-471a-95a1-6096965fb113" Alias="Jessievunse" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Jessievunse</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-07-19T06:52:56</CreateDate>
    <NodeName Default="Jessievunse" />
    <SortOrder>150</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[yasen.krasen.13+78319@mail.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Ufieuhdidhefh wjdwdjqwidjwefhwfakj oijofqwfbvsdfjfwej ijwqiofjewuhfwedjawdhewh ouhwidwjpouweiofeiouqwruio ioqwiwuifewifjfifhw jiwfjiewhfewgiewufewio rezervist.com.ua]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Jessievunse]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[89329843997]]></Value>
    </fPhone>
  </Properties>
</Content>