<?xml version="1.0" encoding="utf-8"?>
<Content Key="b3560a45-dbac-4fa1-8ef5-d38315a48520" Alias="Joeann" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Joeann</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-27T23:05:11</CreateDate>
    <NodeName Default="Joeann" />
    <SortOrder>125</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[joeann.langford@hotmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi there,

We would like to introduce you to WebGenie, the world's first AI for building done for you websites that are prefilled with smoking hot content!

Discover its game-changing capabilities here: https://rebrand.ly/webgenie1

- Generate done-for-you websites with no coding, no content writing, no translating and no designing
- Over 500 ready made templates to choose from
- Sell your own products or choose from countless available offers
- No technical skills, experience or paid ads required
- Promote to an audience of up to 495 million for free
- Earn commissions on each sale made

Joeann

Unsubscribe: If you do not wish us to contact you again, let us know here: https://rb.gy/mgkbd]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Joeann]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Austria]]></Value>
    </fPhone>
  </Properties>
</Content>