<?xml version="1.0" encoding="utf-8"?>
<Content Key="4801f5f4-b826-4149-aac3-0f0317931744" Alias="Johnathon" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Johnathon</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-24T07:41:11</CreateDate>
    <NodeName Default="Johnathon" />
    <SortOrder>333</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[freetraffic@solveques.xyz]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[I know you see a lot of new methods for getting traffic and making money cross your desk every week…

Some are good… some are bad…

Some work… some don’t.

I’m very excited to let you know about one of THE BEST methods I’ve ever seen for making money online.

You don’t have to run ads…

You don’t need any prior online marketing skills or experience…

You don’t have to create videos or do anything technical…

If you want to bank up to $128 per day, all you have to do is follow the step-by-step training inside this brand new course.

It’s called Empire.
Empire method teaches students how they can build an online business from scratch using only FREE traffic.     This course is designed to help people who are new to internet marketing to get their first sales online within 24-48 hours and to then build that income up to $128 per day over time.

Here’s the link: https://www.solveques.xyz/freetraffic 

Talk soon,

Johnathon J. Gervais

UNSUBSCRIBE: https://www.solveques.xyz/unsubscribe/

1201 N 2nd St #25, Yakima, WA 98901]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Johnathon]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Iceland]]></Value>
    </fPhone>
  </Properties>
</Content>