<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb10e05b-7b17-42d0-ac4b-e88dfc9ccd6c" Alias="Jones Eloff" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/JonesEloff</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-10-07T03:49:22</CreateDate>
    <NodeName Default="Jones Eloff" />
    <SortOrder>243</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[eloffjones@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[PRIVATE TRANSACTION 
 
I propose a partnership to manage over invoice petroleum oil and gas strategic reserve resources. Please response for fund credentials and detailed information to: joneseloff.mr@hotmail.com 
 
We look forward to the opportunity to work together and create a mutual beneficial partnership. 
 
Thank you 
 
Regards 
 
Jones Eloff]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Jones Eloff]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[88121521769]]></Value>
    </fPhone>
  </Properties>
</Content>