<?xml version="1.0" encoding="utf-8"?>
<Content Key="236afa54-c6b4-4ff8-bd29-7eaa2c374a58" Alias="JosephWen" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/JosephWen</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-20T14:12:39</CreateDate>
    <NodeName Default="JosephWen" />
    <SortOrder>116</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[lgrdanse@hotmail.ca]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Elevate Your Email Personalization Game with Contacts from Our List Store http://events-770.sanszaman.com/techsavvy-936]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[JosephWen]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[81898172855]]></Value>
    </fPhone>
  </Properties>
</Content>