<?xml version="1.0" encoding="utf-8"?>
<Content Key="48fd3b48-1551-4be0-b405-6d7477b0d8e0" Alias="Julia" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Julia</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-19T05:32:36</CreateDate>
    <NodeName Default="Julia" />
    <SortOrder>316</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[microsoft@earnmorenow.info]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hello webmaster,

I'm Julia here at Earnmorenow, Earnmorenow is a 3rd party partner of Microsoft, and we've launched a campaign to provide funding to webmasters like you, so you can grow your website and business. 
In return, we expect that in the future you will purchase traffic from Microsoft Advertising® or monetize your website through Media.net (Media.net is a contextual ad network that is powered by Yahoo! and Bing)

You only need 1 minute to fill out the form.

Click here to get your funds now: https://www.earnmorenow.info/microsoft

Good Luck,
Julia F. Reyes

UNSUBSCRIBE: https://www.earnmorenow.info/unsubscribe

4351 California St, San Francisco, CA 94118]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Julia]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Germany]]></Value>
    </fPhone>
  </Properties>
</Content>