<?xml version="1.0" encoding="utf-8"?>
<Content Key="e751b111-d721-4857-84ed-82a1650aee91" Alias="Kala" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Kala</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-09-23T21:45:15</CreateDate>
    <NodeName Default="Kala" />
    <SortOrder>225</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[kala.spielvogel@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hey there,

We're thrilled to share our free digital book: "The Ultimate ChatGPT-4 Training Guide"! It's loaded with AI insights for impactful discussions.

Reward: Download the digital book now and get ChatGPT prompts for 4 weeks, curated by our professionals.

Get it here: https://chatgptpromptpacks.net/free-chatgpt-4-ebook/

For those all set to boost their game, explore our exclusive ChatGPT prompt packs, handcrafted for specific niches, and take a step towards success.

Explore now: https://chatgptpromptpacks.net/prompt-packs

Warm regards,
Kala
ChatGPT Prompt Packs

Unsubscribe: https://contactwebsites.net/chatgptpromptpacks]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Kala]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Australia]]></Value>
    </fPhone>
  </Properties>
</Content>