<?xml version="1.0" encoding="utf-8"?>
<Content Key="d94046de-b98b-4a79-ab86-8404e00153dc" Alias="Karma" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Karma</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-05-16T05:46:24</CreateDate>
    <NodeName Default="Karma" />
    <SortOrder>63</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[karma.bankston@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hey online entrepreneur,

What if you can generate 1000s
of leads everyday & PAMPER them 
to sales without actually talking
to them...??

Simultaneously talk to 1000s 
of them, understand their queries, 
make them feel special & most 
importantly close sales 24x7 
without actually being present?

https://chidwa.com/klever

This brand new app combined 
the 2 MOST POWERFUL platforms
on the internet today - ChatGPT4 
& Whatsapp and created a "monster"

Introducing KleverSendAI - an AI 
powered, automated WhatsApp 
Autoresponder and Bot that does 
everything for you - just like 
a human do.

Collect leads, follow up, answer 
queries and close sales on autopilot 
- with minimum effort & no risk.

https://chidwa.com/klever

-no more wasting time or money 
-no need to hire a team 
-no expensive autoresponders 
-no more struggling to get sales 
-get results 24x7, even when you sleep! 

Hurry! This amazing app is available 
for a limited period of time - and it's 
a one-time offer. 

After the launch, it will be turning 
into monthly subscription model. 

==> Get your copy of KleverSendAI and 
start getting results NOW! 

https://chidwa.com/klever

Have a great day.
Take care.]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Karma]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Switzerland]]></Value>
    </fPhone>
  </Properties>
</Content>