<?xml version="1.0" encoding="utf-8"?>
<Content Key="1d39b0f1-9029-41e5-94b2-a9f0c59ef859" Alias="Kathleen" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Kathleen</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-09-02T10:22:13</CreateDate>
    <NodeName Default="Kathleen" />
    <SortOrder>199</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[writejob@databaseen.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hey,

Interested in blogging? Getting your thoughts published? 

We have been connecting talented writers from all over the world with reputable businesses that need assistance.

In this job, you will be helping some of our top writers and editors by researching topics for them, ensuring their articles are up to date with current events and then editing them when they are finished.

You will also be writing articles yourself about your particular area of expertise. This is an excellent opportunity for someone who is trying to make their way into journalism or someone who wants a flexible job from home.

The requirements are simple but we need more candidates from your country.

With as little as a moderate knowledge of English, we can open up a whole world of opportunities for you by providing you with remote work - meaning that as long as you can work the required hours, you can work from home.

Be part of our innovative team today by applying here: https://www.databaseen.com/writejob 

Looking out for you,

Kathleen Melancon

UNSUBSCRIBE: https://www.databaseen.com/unsubscribe

Address: 631 N Main St, Porterville, CA 93257]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Kathleen]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Italy]]></Value>
    </fPhone>
  </Properties>
</Content>