<?xml version="1.0" encoding="utf-8"?>
<Content Key="e1b6ca6c-4601-466f-8b41-6d2830a78533" Alias="Katja" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Katja</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-22T10:38:39</CreateDate>
    <NodeName Default="Katja" />
    <SortOrder>324</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[katja.currey@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[微信公众号：外贸业务员
wordpressbin.com]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Katja]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[France]]></Value>
    </fPhone>
  </Properties>
</Content>