<?xml version="1.0" encoding="utf-8"?>
<Content Key="b30968d8-3e59-4cd8-9fab-ea01007b56c4" Alias="Kaylee" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Kaylee</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-02-26T14:53:23</CreateDate>
    <NodeName Default="Kaylee" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[dougherty.kaylee@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi,

Have you ever wondered how the big influencers on Instagram make so much money? If the answer is “yes”, then this eBook is exactly what you’ve been looking for. We go over everything you need to know about gaining real followers and earning real money.

With over 200 pages of strategies, growth methods and secrets – it’s an Instagram goldmine! We have helped thousands of people to radically grow their profiles, businesses and income.

Still unsure? Download 2 chapters for free and then decide.

Visit: https://bit.ly/3ISC7Hw

Kind Regards,
Kaylee]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Kaylee]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Sweden]]></Value>
    </fPhone>
  </Properties>
</Content>