<?xml version="1.0" encoding="utf-8"?>
<Content Key="18d365dc-9a41-4f6a-9c93-c3dd6e96a3f1" Alias="kciKDrbLZM" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/kciKDrbLZM</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-09-15T19:00:09</CreateDate>
    <NodeName Default="kciKDrbLZM" />
    <SortOrder>214</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[callvisvetlana@list.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Вам хороший вариант вот тут ArataurNiladwyn@gmail.com 000*** rezervist.com.ua]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[kciKDrbLZM]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[81278275383]]></Value>
    </fPhone>
  </Properties>
</Content>