<?xml version="1.0" encoding="utf-8"?>
<Content Key="2b721c91-66f4-47c6-8b6c-04c93c244b9e" Alias="KGUDfVDXRP" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/KGUDfVDXRP</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-05T23:33:19</CreateDate>
    <NodeName Default="KGUDfVDXRP" />
    <SortOrder>291</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[callvisvetlana@list.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Предлагаю отличный метод, подойдет и Вам 000*** https://forms.gle/tbiFaFmK3TdQDXRJ6?utm_source=rvOnYHx8LLg&utm_medium=XAvQ2Kndnm2 rezervist.com.ua]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[KGUDfVDXRP]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[81475643389]]></Value>
    </fPhone>
  </Properties>
</Content>