<?xml version="1.0" encoding="utf-8"?>
<Content Key="49a7bd67-be86-41d4-aafa-f5c6bee65ee1" Alias="Kimberley" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Kimberley</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-04-11T14:44:38</CreateDate>
    <NodeName Default="Kimberley" />
    <SortOrder>37</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[hacker@yanboull.nl]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[We have hacked your website rezervist.com.ua and extracted your databases. This was due to the security holes you had in your your site/server which have gained us remote control of everything that was on the server. 

Our team is mostly interested in customer, administrative, and employee information which we have extracted through your databases once we got remote control over the server. It still needs to be sorted out but it will be well-organized once finished. First, we will be going through the emails/sms information and contacting the recipient how you held in disregard about their information being exposed to a hacking group when you could have stopped it. This would be detrimental to your personal image with these relationships with these people. Lastly, now that we have information not only will we be monetizing off it with our methods but made public or sold to other people that will do whatever they wish with the information also after we are done.

Now you can put a stop to this by paying a $3000 fee (0.10 BTC) in bitcoin to the address 3C1ejoyjtubR4aRsq6DXqhGXzVskduzwc1 We will be notified of payment which we will then delete the information we have obtained, patch the hole in the site/server which we got in and remove you from any future targeting in the future. You have 72 hours in doing so after viewing this message or the series of steps will commence. You can obtain bitcoin through such services such as paxful.com or do a search on bing.com]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Kimberley]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Germany]]></Value>
    </fPhone>
  </Properties>
</Content>