<?xml version="1.0" encoding="utf-8"?>
<Content Key="88ca2b4c-069e-4d30-97f3-0d25bc4fe986" Alias="KsgHQgVNwc" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/KsgHQgVNwc</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-03-23T00:48:49</CreateDate>
    <NodeName Default="KsgHQgVNwc" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[callvisvetlana@list.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Все достижимо, делай не останавливайся https://senler.ru/a/29xpm/gohx/759368335&VkGSaLh1fYZ https://mail.ru rezervist.com.ua]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[KsgHQgVNwc]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[89891718553]]></Value>
    </fPhone>
  </Properties>
</Content>