<?xml version="1.0" encoding="utf-8"?>
<Content Key="beffd489-c8a0-4c14-829e-efc8d8b3153f" Alias="Landon" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Landon</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-27T09:54:59</CreateDate>
    <NodeName Default="Landon" />
    <SortOrder>341</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[landon.ogden@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[微信公众号：外贸业务员
wordpressbin.com]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Landon]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Norway]]></Value>
    </fPhone>
  </Properties>
</Content>