<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca9dcba2-7c82-4ce1-89e0-f8971765b5ac" Alias="Lanora" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Lanora</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-12T19:17:08</CreateDate>
    <NodeName Default="Lanora" />
    <SortOrder>101</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[irina-20-68@internet.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Здравствуйте, меня зовут Ирина, я представитель IT компании 
наша компания предоставляет услугу "ваш сайт в ТОП 10 за 1-4  дня".
Бесплатный тестовый период.Гарантии результата.
Если Вам интересно это предложение,
могу прислать более подробную информацию или подскажите,
на какой контакт я могу отправить
наше коммерческое предложение о сотрудничестве?
С уважением, Ирина
WhatsApp https://wa.clck.bar/79107133891
Telegram https://t.me/griafir
 E-mail: irina20-68@mail.ru]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Lanora]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Iceland]]></Value>
    </fPhone>
  </Properties>
</Content>