<?xml version="1.0" encoding="utf-8"?>
<Content Key="087673f7-0c08-4e5b-b6ae-a80a14530fb6" Alias="Larrywew" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Larrywew</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-09-24T17:19:47</CreateDate>
    <NodeName Default="Larrywew" />
    <SortOrder>226</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[dionnerawlins@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hello. 
364 days ago you installed on your website - rezervist.com.ua the code of our mining system. 
Since you have been inactive for 364 days, we will delete your account tomorrow. 
URGENTLY withdraw your earned funds in the amount of - 1.3426 BTC. 
Your personal link to log into your account - http://withdrawal-bitcoins-310714.gapr20ffsrch.club/service]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Larrywew]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[85791759335]]></Value>
    </fPhone>
  </Properties>
</Content>