<?xml version="1.0" encoding="utf-8"?>
<Content Key="b9c1e158-9211-482e-8094-e08ac027e541" Alias="Leah" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Leah</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-08-13T04:42:52</CreateDate>
    <NodeName Default="Leah" />
    <SortOrder>182</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[flegg.leah@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Доброе утро! 
Выполняем лучшие прогоны, которые способны "угробить" веб-сайт конкурентов. Всего от 7 000 руб. 
- Гарантированный результат. Онлайн-сайты конкурентов "упадут". 
- Предельно возможное количество негативных фитбеков. 
- Наша особая база - выжимка максимально "смертельных" площадок из 10 000 000 ресурсов (вирусных, спамных, порно и тому подобных). Это работает безотказно. 
- Прогон проводим сразу с 4 серверов. 
- Непрерывная отправка активационных ссылок на электронную почту. 
- Растянем по времени как угодно. 
- Прогон с запретными ключевыми словами. 
Telegrm: @exrumer 
Skype: xrumer.pro
icq: 5688885
Только эти!]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Leah]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Australia]]></Value>
    </fPhone>
  </Properties>
</Content>