<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc858e3e-07cc-4472-bbb1-67304f897185" Alias="Leroy" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Leroy</Path>
    <Trashed Parent="659326d7-2869-4416-b8b6-0b0ed4a7d31f">true</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2022-09-19T09:35:48</CreateDate>
    <NodeName Default="Leroy" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[zelatcol@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Ciao, volevo sapere il tuo prezzo.]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Leroy]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[81885796698]]></Value>
    </fPhone>
  </Properties>
</Content>