<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea7c6723-4ebd-4933-b84e-e1871fb1d3b7" Alias="Letha" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Letha</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-05-13T19:51:17</CreateDate>
    <NodeName Default="Letha" />
    <SortOrder>62</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[emert.letha@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[I don't know about you but when I look for a business online the first thing I look at is their rating and how many good reviews they have. This is exactly why I'm contacting you now, I want to show you how to get more 5-star reviews (not fake ones) which will in turn help you get more calls from your existing ads.   Go to: www.rankfast.xyz]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Letha]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Italy]]></Value>
    </fPhone>
  </Properties>
</Content>