<?xml version="1.0" encoding="utf-8"?>
<Content Key="feca4bcb-fedb-406d-9d81-52e0d1a0af35" Alias="Libby (5)" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Libby5</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-12-09T22:43:44</CreateDate>
    <NodeName Default="Libby (5)" />
    <SortOrder>376</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[libbyevans461@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi there,

We run an Instagram growth service, which increases your number of followers both safely and practically. 

- We guarantee to gain you 300-1000+ followers per month.
- People follow you because they are interested in you, increasing likes, comments and interaction.
- All actions are made manually by our team. We do not use any 'bots'.

The price is just $60 (USD) per month, and we can start immediately.

If you'd like to see some of our previous work, let me know, and we can discuss it further.

Kind Regards,
Libby

Unsubscribe here: https://removeme.click/unsubscribe.php?d=rezervist.com.ua]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Libby]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Poland]]></Value>
    </fPhone>
  </Properties>
</Content>