<?xml version="1.0" encoding="utf-8"?>
<Content Key="cdfa4e40-0924-413a-ad04-4869f873b977" Alias="Libby (3)" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Libby3</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-07-31T04:51:33</CreateDate>
    <NodeName Default="Libby (3)" />
    <SortOrder>162</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[libbyevans461@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi there,

We run an Instagram growth service, which increases your number of followers safely and practically. 

We aim to gain you 400-1200+ real human followers per month, with all actions safe as they are made manually (no bots).

The price is just $60 (USD) per month, and we can start immediately.

Let me know if you wish to see some of our previous work.

Kind Regards,
Libby]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Libby]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Germany]]></Value>
    </fPhone>
  </Properties>
</Content>