<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c0c085c-0e9b-4633-93ac-6ad1067aace9" Alias="Libby" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Libby</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-05-08T01:36:48</CreateDate>
    <NodeName Default="Libby" />
    <SortOrder>57</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[libbyevans461@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi there,

We run an Instagram growth service, which increases your number of followers both safely and practically. 

- We guarantee to gain you 400-1000+ followers per month.
- People follow you because they are interested in you, increasing likes, comments and interaction.
- All actions are made manually by our team. We do not use any 'bots'.

The price is just $60 (USD) per month, and we can start immediately.

If you'd like to see some of our previous work, let me know, and we can discuss it further.

Kind Regards,
Libby]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Libby]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Italy]]></Value>
    </fPhone>
  </Properties>
</Content>