<?xml version="1.0" encoding="utf-8"?>
<Content Key="327e07ac-3798-4ec4-b5a7-54d3c6f519d9" Alias="Liked" Level="2">
  <Info>
    <Parent Key="8a41fc86-a344-478b-a478-5fba7d4b30af">Shopping cart</Parent>
    <Path>/ShoppingCart/Liked</Path>
    <Trashed>false</Trashed>
    <ContentType>likedProducts</ContentType>
    <CreateDate>2020-05-21T11:26:31</CreateDate>
    <NodeName Default="Liked">
      <Name Culture="uk">Liked</Name>
      <Name Culture="en-us">Liked</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="52d618f0-2967-45ba-90ff-86739e2bf2c4">LikedProducts</Template>
  </Info>
  <Properties>
    <SEOdesc>
      <Value><![CDATA[Вподобані товари. Мій список бажань. Магазин "Резервіст". Оформити замовлення можна на нашому сайті. Працюємо для наших.]]></Value>
    </SEOdesc>
    <SEOimg>
      <Value><![CDATA[umb://media/123a525593484244857e4bbb9c145b4d]]></Value>
    </SEOimg>
    <SEOkeys>
      <Value><![CDATA[["список бажань","вподобані товари","магазин резервіст","оформити замовлення","працюємо для наших","тактичне спорядження","військове спорядження","туристичне спорядження","резервіст львів","резервіст","резервіст онлайн"]]]></Value>
    </SEOkeys>
    <title>
      <Value Culture="uk"><![CDATA[Список бажань]]></Value>
      <Value Culture="en-us"><![CDATA[Wish list]]></Value>
    </title>
  </Properties>
</Content>