<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1a82d20-b7d9-4130-b769-2c1dc94aa359" Alias="Lillian" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Lillian</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-16T01:09:26</CreateDate>
    <NodeName Default="Lillian" />
    <SortOrder>307</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[lillian.soriano@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Do you do contact form blasts? I have a list of over 30 million website contact forms for sale, all fully tested with gsa and confirmed working. Don't do any blasts? Why not? I can either provide the service for you or show you how to do it and where to buy the best software for doing this. Shoot me an email or Skype me at my contact info below.

P. Stewart
Skype: live:.cid.e169e59bb6e6d159
Email: ps4990@gomail2.xyz]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Lillian]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Denmark]]></Value>
    </fPhone>
  </Properties>
</Content>