<?xml version="1.0" encoding="utf-8"?>
<Content Key="64737339-85f3-4f61-ac01-aa831511f72e" Alias="Lina" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Lina</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-10-22T12:38:06</CreateDate>
    <NodeName Default="Lina" />
    <SortOrder>265</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[marcantel.lina@msn.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hello,

We noticed rezervist.com.ua is only listed in 8 out of 2500 directories.

This severly impacts your backlinks and search engine rankings.

Come get listed in all 2500 directories on DirectoryBump.com]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Lina]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Belgium]]></Value>
    </fPhone>
  </Properties>
</Content>