<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8546dc7-b813-42d7-981c-1fadd06cabbe" Alias="Log In" Level="2">
  <Info>
    <Parent Key="9383cdc6-d4cb-454c-a579-df4faa984f49">Master</Parent>
    <Path>/Master/LogIn</Path>
    <Trashed>false</Trashed>
    <ContentType>login</ContentType>
    <CreateDate>2020-05-20T12:26:46</CreateDate>
    <NodeName Default="Log In">
      <Name Culture="uk">Log In</Name>
      <Name Culture="en-us">Log in</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="57dc6c7e-10f3-4b7b-9ad4-01064ef97766">Login</Template>
  </Info>
  <Properties>
    <FBLogin>
      <Value Culture="uk"><![CDATA[Увійти з Facebook]]></Value>
      <Value Culture="en-us"><![CDATA[Login with Facebook]]></Value>
    </FBLogin>
    <forgotBtn>
      <Value Culture="uk"><![CDATA[Забули пароль?]]></Value>
      <Value Culture="en-us"><![CDATA[Forgot your password?]]></Value>
    </forgotBtn>
    <googleLogin>
      <Value Culture="uk"><![CDATA[Увійти з Google]]></Value>
      <Value Culture="en-us"><![CDATA[Login with Google]]></Value>
    </googleLogin>
    <inputEmail>
      <Value Culture="uk"><![CDATA[Email]]></Value>
      <Value Culture="en-us"><![CDATA[Email]]></Value>
    </inputEmail>
    <inputPass>
      <Value Culture="uk"><![CDATA[Пароль]]></Value>
      <Value Culture="en-us"><![CDATA[Password]]></Value>
    </inputPass>
    <orText>
      <Value Culture="uk"><![CDATA[або]]></Value>
      <Value Culture="en-us"><![CDATA[or]]></Value>
    </orText>
    <regDesc>
      <Value Culture="uk"><![CDATA[Ще не зареєстровані у нашому інтернет-магазині? Реєструйтесь, купуйте зручніше та отримуйте інформацію про усі новинки та акції миттєво!]]></Value>
      <Value Culture="en-us"><![CDATA[Not yet registered on our online store? Register, buy more conveniently and get information about all new products and promotions instantly!]]></Value>
    </regDesc>
    <registerBtn>
      <Value Culture="uk"><![CDATA[Зареєструватися]]></Value>
      <Value Culture="en-us"><![CDATA[Register]]></Value>
    </registerBtn>
    <regTitle>
      <Value Culture="uk"><![CDATA[Новий користувач]]></Value>
      <Value Culture="en-us"><![CDATA[New user]]></Value>
    </regTitle>
    <rememberCheck>
      <Value Culture="uk"><![CDATA[Запам'ятати мене]]></Value>
      <Value Culture="en-us"><![CDATA[Remember me]]></Value>
    </rememberCheck>
    <SEOdesc>
      <Value><![CDATA[Увійти в обліковий запис]]></Value>
    </SEOdesc>
    <SEOimg>
      <Value><![CDATA[umb://media/123a525593484244857e4bbb9c145b4d]]></Value>
    </SEOimg>
    <SEOkeys>
      <Value><![CDATA[["військове спорядження","тактичний одяг","резервіст","купити взуття","нашивки","стиль мілітарі","шеврони","Lowa","плитоноски","рпс та розгрузки","погони","EDC спорядження"]]]></Value>
    </SEOkeys>
    <submitBtn>
      <Value Culture="uk"><![CDATA[Увійти]]></Value>
      <Value Culture="en-us"><![CDATA[Log in]]></Value>
    </submitBtn>
    <title>
      <Value Culture="uk"><![CDATA[Авторизація]]></Value>
      <Value Culture="en-us"><![CDATA[Authorization]]></Value>
    </title>
  </Properties>
</Content>