<?xml version="1.0" encoding="utf-8"?>
<Content Key="81f8bea6-51e5-4067-9b37-7a1a6beec48f" Alias="Lorraine" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Lorraine</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-28T01:23:14</CreateDate>
    <NodeName Default="Lorraine" />
    <SortOrder>126</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[dill.kristeen68@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi rezervist.com.ua webmaster,

Stop searching. Be compensated for writing online.

Put your writing skills to use and be compensated while doing it! Obtain pre-qualification and discover starter online writing roles that provide up to 35 bucks per hour with complete instruction in merely 30 minutes. You can work from home or on a laptop without traveling.

Click here to apply: https://www.trustrose.com/jobopportunity .

Use your skills and knowledge and become part of a thriving online community. It's quick and straightforward, and you'll start earning! Work directly with small companies and craft  500-word blog posts for their blogs.

Sign up below and be part of the future: https://www.trustrose.com/jobopportunity . Re-enter your details and start work on Monday.

Lorraine Bermudez
Market Development | Trustrose

Unsubscribe: https://www.trustrose.com/unsubscribe
]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Lorraine]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Germany]]></Value>
    </fPhone>
  </Properties>
</Content>