<?xml version="1.0" encoding="utf-8"?>
<Content Key="f23287a7-0be7-4fc6-aa7d-ffd48e36c258" Alias="Lucienne Gubler" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/LucienneGubler</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-01T12:13:13</CreateDate>
    <NodeName Default="Lucienne Gubler" />
    <SortOrder>87</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[BennieZalenski@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Lucienne Gubler]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[]]></Value>
    </fPhone>
  </Properties>
</Content>