<?xml version="1.0" encoding="utf-8"?>
<Content Key="85f7f2a1-c0cf-4a58-8690-7f91bc13f1ac" Alias="Lucy" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Lucy</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-05-24T01:53:00</CreateDate>
    <NodeName Default="Lucy" />
    <SortOrder>73</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[lucygraham966@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi there,

We run a Twitter growth service, which increases your number of followers both safely and practically. 

- We guarantee to gain you 500-1000+ followers per month.
- People follow you because they are interested in you, increasing likes, comments and interaction.
- All actions are made manually by our team. We do not use any 'bots'.

If you'd like to see some of our previous work, just reply back and we can discuss it further.

Kind Regards,
Lucy]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Lucy]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[United States]]></Value>
    </fPhone>
  </Properties>
</Content>