<?xml version="1.0" encoding="utf-8"?>
<Content Key="efdc37a8-a0ee-4d3d-8481-a556cc3876b8" Alias="Mattie Portell" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/MattiePortell</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-04-30T02:13:46</CreateDate>
    <NodeName Default="Mattie Portell" />
    <SortOrder>49</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[Bartula@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Mattie Portell]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[]]></Value>
    </fPhone>
  </Properties>
</Content>