<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b2700d8-2b7d-428c-9884-398e0b3d0fe5" Alias="Megan (6)" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Megan6</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-23T01:33:01</CreateDate>
    <NodeName Default="Megan (6)" />
    <SortOrder>326</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[meganatkinson149@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi there,

We run an Instagram growth service, which increases your number of followers safely and practically. 

We aim to gain you 300-1000+ real human followers per month, with all actions safe as they are made manually (no bots).

The price is just $60 (USD) per month, and we can start immediately.

Let me know if you are interested and have any questions.

Kind Regards,
Megan]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Megan]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Switzerland]]></Value>
    </fPhone>
  </Properties>
</Content>