<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a6d5ce6-5575-459a-a9f5-e590c6c3cce0" Alias="Megan (5)" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Megan5</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-17T22:27:55</CreateDate>
    <NodeName Default="Megan (5)" />
    <SortOrder>312</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[meganatkinson149@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi there,

We run an Instagram growth service, which increases your number of followers both safely and practically. 

- We guarantee to gain you 300-1000+ followers per month.
- People follow you because they are interested in you, increasing likes, comments and interaction.
- All actions are made manually by our team. We do not use any 'bots'.

The price is just $60 (USD) per month, and we can start immediately.

If you have any questions, let me know, and we can discuss further.

Kind Regards,
Megan]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Megan]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[France]]></Value>
    </fPhone>
  </Properties>
</Content>