<?xml version="1.0" encoding="utf-8"?>
<Content Key="25330e96-9711-4dd1-9a02-c37223c078d7" Alias="Megan (1)" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Megan1</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-08-27T12:37:18</CreateDate>
    <NodeName Default="Megan (1)" />
    <SortOrder>193</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[meganatkinson149@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi there,

We run an Instagram growth service, which increases your number of followers both safely and practically. 

- Guaranteed: We guarantee to gain you 400-1200+ followers per month.
- Real, human followers: People follow you because they are interested in your business or niche.
- Safe: All actions are made manually. We do not use any bots.

The price is just $60 (USD) per month, and we can start immediately.

If you are interested, and would like to see some of our previous work, let me know and we can discuss further.

Kind Regards,
Megan]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Megan]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Netherlands]]></Value>
    </fPhone>
  </Properties>
</Content>