<?xml version="1.0" encoding="utf-8"?>
<Content Key="eae3a125-5d9c-43be-b1f9-ef8a1eb4fdb4" Alias="MichaleSom" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/MichaleSom</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-09-15T15:48:02</CreateDate>
    <NodeName Default="MichaleSom" />
    <SortOrder>212</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[tomasmorgan9309@binace.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hello. 
You registered with us exactly 364 days ago, but for some reason you never logged into your account again. 
Your account has already accumulated $24,365 - withdraw it urgently. Since tomorrow all inactive accounts will be deleted along with all the money earned. 
There was no way we could contact you, so we had to contact you through the contact form of your website rezervist.com.ua the address of which you left when registering in our system. 
Here is the link to your account - http://receive-transfer-51272.hempproductsadagency.com/new]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[MichaleSom]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[88473753556]]></Value>
    </fPhone>
  </Properties>
</Content>