<?xml version="1.0" encoding="utf-8"?>
<Content Key="860df3f6-8307-4e71-b622-05199d7d504c" Alias="MichaelCem" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/MichaelCem</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-05-26T21:50:15</CreateDate>
    <NodeName Default="MichaelCem" />
    <SortOrder>79</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[ayouthed@live.co.uk]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Get Social, Get Ranked: Social Signals Are the Pathway to Success https://top-google-rankings7.blogspot.mx/2023/05/harness-social-signals-to-achieve-top.html]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[MichaelCem]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[83187122119]]></Value>
    </fPhone>
  </Properties>
</Content>