<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2253ff9-37b2-4789-a8ed-c7ddfb385d80" Alias="Mike Shorter&#xD;&#xA;" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/MikeShorter</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-08-30T06:05:44</CreateDate>
    <NodeName Default="Mike Shorter&#xD;&#xA;" />
    <SortOrder>197</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[mikePlainnahamevak@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[If you are looking to rank your local business on Google Maps in a specific area, this service is for you. 
 
Google Map Stacking is a highly effective technique for ranking your GMB within a specific mile radius. 
 
More info: 
https://www.speed-seo.net/product/google-maps-pointers/ 
 
Thanks and Regards 
Mike Shorter
 
 
PS: Want a comprehensive local plan that covers everything? 
https://www.speed-seo.net/product/local-seo-bundle/]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Mike Shorter
]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[84639288672]]></Value>
    </fPhone>
  </Properties>
</Content>