<?xml version="1.0" encoding="utf-8"?>
<Content Key="83372e6e-e3e1-42d3-9713-bc83be0c2217" Alias="Mike Barnes&#xD;&#xA;" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/MikeBarnes</Path>
    <Trashed Parent="659326d7-2869-4416-b8b6-0b0ed4a7d31f">true</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2022-02-21T17:41:17</CreateDate>
    <NodeName Default="Mike Barnes&#xD;&#xA;" />
    <SortOrder>40</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[no-replyaccelay@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi 
 
I have just verified your SEO on  rezervist.com.ua for the ranking keywords and saw that your website could use a boost. 
 
We will enhance your SEO metrics and ranks organically and safely, using only whitehat methods, while providing monthly reports and outstanding support. 
 
Please check our pricelist here, we offer SEO at cheap rates. 
https://www.hilkom-digital.de/cheap-seo-packages/ 
 
Start improving your sales and leads with us, today! 
 
 
regards 
Mike Barnes
 
Hilkom Digital Team 
support@hilkom-digital.de]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Mike Barnes
]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[82435731756]]></Value>
    </fPhone>
  </Properties>
</Content>