<?xml version="1.0" encoding="utf-8"?>
<Content Key="39a15aea-c67d-4554-a95e-5348c6bbe486" Alias="Mike Ralphs&#xD;&#xA;" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/MikeRalphs</Path>
    <Trashed Parent="659326d7-2869-4416-b8b6-0b0ed4a7d31f">true</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2022-03-02T13:29:20</CreateDate>
    <NodeName Default="Mike Ralphs&#xD;&#xA;" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[no-replyaccelay@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hello 
 
We all know the importance that dofollow link have on any website`s ranks. 
Having most of your linkbase filled with nofollow ones is of no good for your ranks and SEO metrics. 
 
Buy quality dofollow links from us, that will impact your ranks in a positive way 
https://www.digital-x-press.com/product/150-dofollow-backlinks/ 
 
Best regards 
Mike Ralphs
 
support@digital-x-press.com]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Mike Ralphs
]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[89718535567]]></Value>
    </fPhone>
  </Properties>
</Content>