<?xml version="1.0" encoding="utf-8"?>
<Content Key="0d0a7984-8d2f-41ae-a798-497650ee3c47" Alias="Mike Kennedy&#xD;&#xA;" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/MikeKennedy</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-20T23:34:00</CreateDate>
    <NodeName Default="Mike Kennedy&#xD;&#xA;" />
    <SortOrder>320</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[mikePlainnahamevak@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[If you are looking to rank your local business on Google Maps in a specific area, this service is for you. 
 
Google Map Stacking is a highly effective technique for ranking your GMB within a specific mile radius. 
 
More info: 
https://www.speed-seo.net/product/google-maps-pointers/ 
 
Thanks and Regards 
Mike Kennedy
 
 
PS: Want a comprehensive local plan that covers everything? 
https://www.speed-seo.net/product/local-seo-bundle/]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Mike Kennedy
]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[84555548576]]></Value>
    </fPhone>
  </Properties>
</Content>