<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3de0b9f-3308-4e4d-837b-806b5918f232" Alias="Mike Vaughan&#xD;&#xA;" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/MikeVaughan</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-12-02T22:14:35</CreateDate>
    <NodeName Default="Mike Vaughan&#xD;&#xA;" />
    <SortOrder>352</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[mikeSough@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi there 
 
Just checked your rezervist.com.ua baclink profile, I noticed a moderate percentage of toxic links pointing to your website 
 
We will investigate each link for its toxicity and perform a professional clean up for you free of charge. 
 
Start recovering your ranks today: 
https://www.hilkom-digital.de/professional-linksprofile-clean-up-service/ 
 
 
Regards 
Mike Vaughan
Hilkom Digital SEO Experts 
https://www.hilkom-digital.de/]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Mike Vaughan
]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[81116724839]]></Value>
    </fPhone>
  </Properties>
</Content>