<?xml version="1.0" encoding="utf-8"?>
<Content Key="62c93144-748c-4364-b66c-c95bd74d3d8e" Alias="Mike Mercer&#xD;&#xA;" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/MikeMercer</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-10-06T11:28:23</CreateDate>
    <NodeName Default="Mike Mercer&#xD;&#xA;" />
    <SortOrder>241</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[mikeSough@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi there 
 
Just checked your rezervist.com.ua baclink profile, I noticed a moderate percentage of toxic links pointing to your website 
 
We will investigate each link for its toxicity and perform a professional clean up for you free of charge. 
 
Start recovering your ranks today: 
https://www.hilkom-digital.de/professional-linksprofile-clean-up-service/ 
 
 
Regards 
Mike Mercer
Hilkom Digital SEO Experts 
https://www.hilkom-digital.de/]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Mike Mercer
]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[81293223536]]></Value>
    </fPhone>
  </Properties>
</Content>