<?xml version="1.0" encoding="utf-8"?>
<Content Key="c75a0af1-7a4f-4bf1-842b-3a4c89844816" Alias="Mike Bosworth&#xD;&#xA; (1)" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/MikeBosworth1</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-01T13:35:32</CreateDate>
    <NodeName Default="Mike Bosworth&#xD;&#xA; (1)" />
    <SortOrder>283</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[mikeSough@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi there 
 
Just checked your rezervist.com.ua baclink profile, I noticed a moderate percentage of toxic links pointing to your website 
 
We will investigate each link for its toxicity and perform a professional clean up for you free of charge. 
 
Start recovering your ranks today: 
https://www.hilkom-digital.de/professional-linksprofile-clean-up-service/ 
 
 
Regards 
Mike Bosworth
Hilkom Digital SEO Experts 
https://www.hilkom-digital.de/]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Mike Bosworth
]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[86658413965]]></Value>
    </fPhone>
  </Properties>
</Content>