<?xml version="1.0" encoding="utf-8"?>
<Content Key="59d45180-019b-4403-b697-ee19455386a0" Alias="Mike Davis&#xD;&#xA;" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/MikeDavis</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-06T22:55:47</CreateDate>
    <NodeName Default="Mike Davis&#xD;&#xA;" />
    <SortOrder>94</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[no-replyaccelay@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[If you have a local business and want to rank it on google maps in a specific area then this service is for you. 
 
Google Map Stacking is one of the best ways to rank your GMB in a specific mile radius. 
 
More info: 
https://www.speed-seo.net/product/google-maps-pointers/ 
 
Thanks and Regards 
Mike Davis
 
 
PS: Want an all in one Local Plan that includes everything? 
https://www.speed-seo.net/product/local-seo-package/]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Mike Davis
]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[89579675138]]></Value>
    </fPhone>
  </Properties>
</Content>