<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4fa0f61-8187-4a36-89fc-e966601881ad" Alias="Mike Ogden&#xD;&#xA;" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/MikeOgden</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-09-10T02:05:05</CreateDate>
    <NodeName Default="Mike Ogden&#xD;&#xA;" />
    <SortOrder>208</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[mikeSough@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi there 
 
Just checked your rezervist.com.ua baclink profile, I noticed a moderate percentage of toxic links pointing to your website 
 
We will investigate each link for its toxicity and perform a professional clean up for you free of charge. 
 
Start recovering your ranks today: 
https://www.hilkom-digital.de/professional-linksprofile-clean-up-service/ 
 
 
Regards 
Mike Ogden
Hilkom Digital SEO Experts 
https://www.hilkom-digital.de/]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Mike Ogden
]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[87398182339]]></Value>
    </fPhone>
  </Properties>
</Content>