<?xml version="1.0" encoding="utf-8"?>
<Content Key="51835c7a-0e45-4fc6-aed4-1b3cb87c8905" Alias="Mike Calhoun&#xD;&#xA;" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/MikeCalhoun</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-07-09T07:26:49</CreateDate>
    <NodeName Default="Mike Calhoun&#xD;&#xA;" />
    <SortOrder>139</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[mikePlainnahamevak@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[If you are looking to rank your local business on Google Maps in a specific area, this service is for you. 
 
Google Map Stacking is a highly effective technique for ranking your GMB within a specific mile radius. 
 
More info: 
https://www.speed-seo.net/product/google-maps-pointers/ 
 
Thanks and Regards 
Mike Calhoun
 
 
PS: Want a comprehensive local plan that covers everything? 
https://www.speed-seo.net/product/local-seo-bundle/]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Mike Calhoun
]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[84535637926]]></Value>
    </fPhone>
  </Properties>
</Content>