<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea29bc47-5e8e-43fd-92c0-c39cee109586" Alias="Mike A. Lawman" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/MikeALawman</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-08-22T18:19:22</CreateDate>
    <NodeName Default="Mike A. Lawman" />
    <SortOrder>188</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[projectdept@kanzalshamsprojectmgt.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Greetings, 
 
It's a pleasure to connect with you, My name is Mike A. Lawman, am an investment consultant with RSL-Project Management Service C0, I have been mandated by the company to source for investment opportunities and companies seeking for funding, business loans, for its project(s). Do you have any investment or project that is seeking for capital to fund it? 
 
Our Investments financing focus is on: 
 
Seed Capital, Early-Stage, Start-Up Ventures, , Brokerage, Private Finance, Renewable Energy Project, Commercial Real Estate, Blockchain, Technology, Telecommunication, Infrastructure, Agriculture, Animal Breeding, Hospitality, Healthcare, Oil/Gas/Refinery. Application reserved for business executives and companies with proven business records in search of funding for expansion or forcapital investments.. 
 
Kindly contact me for further details. 
 
await your return e.mail soonest. 
 
Regards 
 
Dr. Mike A. Lawman 
 
MIDDLE EAST DEBT LOAN FINANCE CONSULTING 
Address: 72469 Jahra Road Shuwaikh Industrial, Kuwait 
Tel: +96550422388 
Email: rsl.fudiciary@debtloanfinanceconsultant.com]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Mike A. Lawman]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[85959789127]]></Value>
    </fPhone>
  </Properties>
</Content>