<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d8e3ec2-e628-46ca-ac23-a1d7625d645d" Alias="Mike Leman&#xD;&#xA;" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/MikeLeman</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-09-30T18:21:22</CreateDate>
    <NodeName Default="Mike Leman&#xD;&#xA;" />
    <SortOrder>237</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[mikemata@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi there, 
 
My name is Mike from Monkey Digital, 
 
Allow me to present to you a lifetime revenue opportunity of 35% 
That's right, you can earn 35% of every order made by your affiliate for life. 
 
Simply register with us, generate your affiliate links, and incorporate them on your website, and you are done. It takes only 5 minutes to set up everything, and the payouts are sent each month. 
 
Click here to enroll with us today: 
https://www.monkeydigital.org/affiliate-dashboard/ 
 
Think about it, 
Every website owner requires the use of search engine optimization (SEO) for their website. This endeavor holds significant potential for both parties involved. 
 
Thanks and regards 
Mike Leman
 
Monkey Digital]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Mike Leman
]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[87594236397]]></Value>
    </fPhone>
  </Properties>
</Content>