<?xml version="1.0" encoding="utf-8"?>
<Content Key="28e6b922-10a2-4cbf-8028-99a64a5e838b" Alias="Mike Sheldon&#xD;&#xA;" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/MikeSheldon</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-09-16T04:55:28</CreateDate>
    <NodeName Default="Mike Sheldon&#xD;&#xA;" />
    <SortOrder>216</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[peterknicionna@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Howdy 
 
I have just checked  rezervist.com.ua for the ranking keywords and saw that your website could use a push. 
 
We will increase your ranks organically and safely, using only state of the art AI and whitehat methods, while providing monthly reports and outstanding support. 
 
More info: 
https://www.digital-x-press.com/unbeatable-seo/ 
 
 
Regards 
Mike Sheldon
Digital X SEO Experts]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Mike Sheldon
]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[81623229362]]></Value>
    </fPhone>
  </Properties>
</Content>