<?xml version="1.0" encoding="utf-8"?>
<Content Key="e96d9920-055e-4b1c-a8da-684668645403" Alias="Mike Oakman&#xD;&#xA;" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/MikeOakman</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-05-10T08:12:37</CreateDate>
    <NodeName Default="Mike Oakman&#xD;&#xA;" />
    <SortOrder>58</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[no-replyaccelay@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi there 
 
Just checked your rezervist.com.ua in MOZ and saw that you could use an authority boost. 
 
With our service you will get a guaranteed Domain Authority score within just 3 months time. This will increase the organic visibility and strengthen your website authority, thus getting it stronger against G updates as well. 
 
For more information, please check our offers 
https://www.monkeydigital.co/domain-authority-plan/ 
 
NEW: Semrush DA is now possible 
https://www.monkeydigital.co/semrush-da/ 
 
Thanks and regards 
Mike Oakman
]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Mike Oakman
]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[89447333944]]></Value>
    </fPhone>
  </Properties>
</Content>