<?xml version="1.0" encoding="utf-8"?>
<Content Key="24507ae8-c9df-4c0e-a314-fcb49239d720" Alias="Mike Mansfield&#xD;&#xA;" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/MikeMansfield</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-10-27T19:44:13</CreateDate>
    <NodeName Default="Mike Mansfield&#xD;&#xA;" />
    <SortOrder>278</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[mikePlainnahamevak@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[If you are looking to rank your local business on Google Maps in a specific area, this service is for you. 
 
Google Map Stacking is a highly effective technique for ranking your GMB within a specific mile radius. 
 
More info: 
https://www.speed-seo.net/product/google-maps-pointers/ 
 
Thanks and Regards 
Mike Mansfield
 
 
PS: Want a comprehensive local plan that covers everything? 
https://www.speed-seo.net/product/local-seo-bundle/]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Mike Mansfield
]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[83531716126]]></Value>
    </fPhone>
  </Properties>
</Content>