<?xml version="1.0" encoding="utf-8"?>
<Content Key="40f088b1-316c-4ebc-b87e-f3dbd0d2de3e" Alias="MikhailSEO" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/MikhailSEO</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-09-25T02:43:00</CreateDate>
    <NodeName Default="MikhailSEO" />
    <SortOrder>227</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[yourmail@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Здравствуйте. Готов помочь увеличить посещаемость и доходность вашего сайта, а также решить все имеющиеся на сайте проблемы. Причем рост посещаемости будет идти за счет притока целевых посетителей из поисковых систем, что для вас максимально выгодно и перспективно. 
 
Немного информации о себе. Я специалист в области создания, доработки и продвижения сайтов. Также имею знания и опыт в ряде смежных областей. Опыт работы составляет больше 19 лет. Работу всегда выполняю качественно. 
 
Основные направления моей деятельности: 
 
1. Внутренняя оптимизация. Все необходимые работы по сайту с целью достижения наилучших позиций в поисковых системах, улучшение конверсионных качеств и юзабилити, решение всех встреченных ошибок, при необходимости внедрение нового или улучшение старого функционала. 
 
2. Продвижение в поисковых системах. Работа с улучшением позиций по значимым для вас поисковым запросам, что способно дать большой приток целевой аудитории на сайт. 
 
3. Создание сайтов различных типов. Могу создать лендинг, интернет-магазин, сайт компании, информационный сайт, блог и т. д. 
 
4. Работа с отзывами в интернете. Создание и продвижение хороших отзывов, а также удаление плохих. 
 
5. Настройка рекламных кампаний в различных сервисах контекстной рекламы (Яндекс Директ и т. д.). 
 
6. Создание, доработка и продвижение групп и каналов в социальных сетях. Сюда входит: youtube, телеграм, вконтакте и другие. 
 
Также могу помочь вам и в ряде иных вопросов. Пишите на почту: mikhail.r.seo@gmail.com]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[MikhailSEO]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[85783359776]]></Value>
    </fPhone>
  </Properties>
</Content>