<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf02b4e1-b07c-4c89-8e45-b9b323321f67" Alias="MikhailRV" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/MikhailRV</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-03-19T05:29:54</CreateDate>
    <NodeName Default="MikhailRV" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[miksozdayusaity@yandex.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Здравствуйте. Помогу вам увеличить число заказов и решить все проблемы с вашим сайтом. Я занимаюсь созданием сайтов, доработкой и продвижением их в поисковых системах. Также работаю с социальными сетями. Большой опыт (работаю с 2004 года), умеренные цены, гарантии результата. 
 
Пишите мне на почту - sozdayusayty@gmail.com]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[MikhailRV]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[85589397132]]></Value>
    </fPhone>
  </Properties>
</Content>