<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9eff12c-c92a-4b1e-9e65-657be38aff5a" Alias="MikhailRE" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/MikhailRE</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-12-02T18:20:27</CreateDate>
    <NodeName Default="MikhailRE" />
    <SortOrder>351</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[yourmail@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Здравствуйте. Готов помочь увеличить посещаемость и доходность вашего сайта, а также решить все имеющиеся на сайте проблемы. Причем рост посещаемости будет идти за счет притока целевых посетителей из поисковых систем, что для вас максимально выгодно и перспективно. 
 
Немного информации о себе. Я являюсь специалистом в области создания, доработки и продвижения сайтов. Также имею знания и опыт в ряде смежных областей. Опыт работы составляет больше 19 лет. Работу всегда выполняю качественно. 
 
Основные направления моей деятельности: 
 
1. Внутренняя оптимизация. Все необходимые работы по сайту с целью достижения наилучших позиций в поисковых системах, улучшение конверсионных качеств и юзабилити, решение всех встреченных ошибок, при необходимости внедрение нового или улучшение старого функционала. 
 
2. Продвижение в поисковых системах. Работа с улучшением позиций по значимым для вас поисковым запросам, что способно дать большой приток целевой аудитории на сайт. 
 
3. Создание сайтов различных типов. Могу создать лендинг, интернет-магазин, сайт компании, информационный сайт, блог и т. д. 
 
4. Работа с отзывами в интернете. Создание и продвижение хороших отзывов, а также удаление плохих. 
 
5. Настройка рекламных кампаний в различных сервисах контекстной рекламы (Яндекс Директ, ВК и т. д.). 
 
6. Создание, доработка и продвижение групп и каналов в социальных сетях. Сюда входит: youtube, телеграм, вконтакте и другие. 
 
7. Различного рода рассылки, которые обычно дают хороший единоразовый приток продаж (можно периодически повторять). 
 
Также могу помочь вам и в ряде иных вопросов. Пишите на почту: mikhailrs.seo@gmail.com]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[MikhailRE]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[82675361713]]></Value>
    </fPhone>
  </Properties>
</Content>