<?xml version="1.0" encoding="utf-8"?>
<Content Key="b3a3b18f-acf7-4424-a35d-16cbe3ca40cb" Alias="Miquel" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Miquel</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-05-25T13:40:50</CreateDate>
    <NodeName Default="Miquel" />
    <SortOrder>76</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[miquel.rennie@yahoo.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi,

Take back your time—increase conversions by an average of 14x.
 
That’s what This AI can do for your Business or agency.
  
This Revolutionary AI is a highly trained Artificial Intelligence that:
 
- Generates your creatives
- Uses proven design traits
- Makes your life easier
 
Plus: New Users get $500 worth of Google Ad Credits for FREE.
 
Sign up today. Cancel anytime.
 
Try 100% free for 7 days  ->  https://bit.ly/adcxfree


Cheers!

Adam Smith
78 Road St, NYC
===============
Click here to Unsubscribe.
https://bit.ly/stop69]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Miquel]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Germany]]></Value>
    </fPhone>
  </Properties>
</Content>