<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0fd1f4f-7cdd-413c-9360-f98d23cb31f8" Alias="Mohamed Ghazi" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/MohamedGhazi</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-14T02:19:39</CreateDate>
    <NodeName Default="Mohamed Ghazi" />
    <SortOrder>103</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[financialdept@kanzalshamsprojectmgt.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Dear Sir/Madam, 
 
Greetings of the day, 
 
We are inviting your esteemed company for vendor registration and intending partners for Abu Dhabi National Oil Company (ADNOC) 2023/2024 projects. 
 
These projects are open for all companies around the world, if you have intention to participate in the process, please confirm your interest by asking for Vendor Questionnaire and EOI. 
 
We appreciate your interest in this invitation, and look forward to your early response. 
 
Kind Regards, 
Mr. Mohamed Ghazi B. 
Senior Project Manager 
Reply to Email - financialdept@kanzalshamsprojectmgt.com]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Mohamed Ghazi]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[82754766721]]></Value>
    </fPhone>
  </Properties>
</Content>