<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa7fc3bd-50c6-4868-9554-19a42fdc6bf6" Alias="My Orders" Level="2">
  <Info>
    <Parent Key="7dc55c7c-621d-4c91-a7d6-9b8b7fe84fdf">Cabinet</Parent>
    <Path>/Cabinet/MyOrders</Path>
    <Trashed>false</Trashed>
    <ContentType>myOrders</ContentType>
    <CreateDate>2020-05-21T15:10:11</CreateDate>
    <NodeName Default="My Orders">
      <Name Culture="uk">My Orders</Name>
      <Name Culture="en-us">My Orders</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="f33a1beb-5846-4bca-ba6f-c9e8e6feb862">MyOrders</Template>
  </Info>
  <Properties>
    <title>
      <Value Culture="uk"><![CDATA[Мої замовлення]]></Value>
      <Value Culture="en-us"><![CDATA[My orders]]></Value>
    </title>
  </Properties>
</Content>