<?xml version="1.0" encoding="utf-8"?>
<Content Key="7bf7d29d-d630-4c6a-8323-f00cb874df75" Alias="My Reviews" Level="2">
  <Info>
    <Parent Key="7dc55c7c-621d-4c91-a7d6-9b8b7fe84fdf">Cabinet</Parent>
    <Path>/Cabinet/MyReviews</Path>
    <Trashed>false</Trashed>
    <ContentType>myReviews</ContentType>
    <CreateDate>2020-05-21T16:36:58</CreateDate>
    <NodeName Default="My Reviews">
      <Name Culture="uk">My Reviews</Name>
      <Name Culture="en-us">My Reviews</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="deb6e501-4e7d-4556-b0d0-c2474dfd0d95">MyReviews</Template>
  </Info>
  <Properties>
    <title>
      <Value Culture="uk"><![CDATA[Мої відгуки]]></Value>
      <Value Culture="en-us"><![CDATA[My reviews]]></Value>
    </title>
  </Properties>
</Content>