<?xml version="1.0" encoding="utf-8"?>
<Content Key="a84f90a1-51e2-4861-bafd-b8ad6157f90f" Alias="Nan" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Nan</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-09-27T18:18:35</CreateDate>
    <NodeName Default="Nan" />
    <SortOrder>231</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[easterling.nan@outlook.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi,


This is Bin.

Greetings from Crazy Pompom Company, hope you find this mail well.


Let's go straight to the point.
We manufacture and supply self-designed backpack and DIY handicraft paintings, also support OEM & ODM.


The reason I'm writing this mail to you is that I'm wondering whether we can have some business relationship at present or in the near future.


We have rich experience in exporting to EU, USA, South Korea and many other countries with complete certificates, it’s truly that we could be your reliable partner.


Should you have any interest, pls be kindly to let me know.
If I didn’t get the right person, it’d be appreciated for you to transfer the message to your purchasing or procurement department.


Wait for your kindly further reply.

Sorry bothering and thanks in advance.



Best,
Bin

crazypompom.com

wordpressbindotcom@foxmail.com
WeChat ID: 1623279845]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Nan]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Italy]]></Value>
    </fPhone>
  </Properties>
</Content>