<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d253e80-1ab8-4f69-b3b3-ac8a2e15c7ed" Alias="Nelson" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Nelson</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-08-10T23:37:22</CreateDate>
    <NodeName Default="Nelson" />
    <SortOrder>178</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[dhakiyarr.nelson@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[I have a question. You just read this message right? That means you're now a potential customer and I can do the same thing for your business. I can blast YOUR ad to 1 million websites just like I did to yours for just $98. More pricing plans are also available, contact me on Skype for details. Here's my id : live:.cid.83c9da999a4f9f]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Nelson]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Netherlands]]></Value>
    </fPhone>
  </Properties>
</Content>