<?xml version="1.0" encoding="utf-8"?>
<Content Key="c12091ef-a97c-4ca2-865c-c9b03c9ce62d" Alias="News" Level="2">
  <Info>
    <Parent Key="9383cdc6-d4cb-454c-a579-df4faa984f49">Master</Parent>
    <Path>/Master/News</Path>
    <Trashed>false</Trashed>
    <ContentType>news</ContentType>
    <CreateDate>2020-05-20T14:22:58</CreateDate>
    <NodeName Default="News">
      <Name Culture="uk">News</Name>
      <Name Culture="en-us">News</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="23e482e8-7d94-4b17-865d-e878d5d04377">News</Template>
  </Info>
  <Properties>
    <goBack>
      <Value Culture="uk"><![CDATA[Всі новини]]></Value>
      <Value Culture="en-us"><![CDATA[All news]]></Value>
    </goBack>
    <next>
      <Value Culture="uk"><![CDATA[Наступний]]></Value>
      <Value Culture="en-us"><![CDATA[Next]]></Value>
    </next>
    <previous>
      <Value Culture="uk"><![CDATA[Попередній]]></Value>
      <Value Culture="en-us"><![CDATA[Previous]]></Value>
    </previous>
    <readMore>
      <Value Culture="uk"><![CDATA[Читати далі]]></Value>
      <Value Culture="en-us"><![CDATA[Read more]]></Value>
    </readMore>
    <SEOdesc>
      <Value><![CDATA[Блог магазину "Резервіст". Читайте новини, дізнавайтесь про нові знижки та акції.]]></Value>
    </SEOdesc>
    <SEOimg>
      <Value><![CDATA[umb://media/123a525593484244857e4bbb9c145b4d]]></Value>
    </SEOimg>
    <SEOkeys>
      <Value><![CDATA[["блог","блог резервіст","новини","новини резервіст","магазин одягу","магазин резервіст","інтернет-магазин резервіст","інтернет-магазин","інтернет-магазин львів"]]]></Value>
    </SEOkeys>
    <shareWith>
      <Value Culture="uk"><![CDATA[Поділитися]]></Value>
      <Value Culture="en-us"><![CDATA[Share]]></Value>
    </shareWith>
    <title>
      <Value Culture="uk"><![CDATA[Новини]]></Value>
      <Value Culture="en-us"><![CDATA[News]]></Value>
    </title>
  </Properties>
</Content>