<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b11c8d4-53fd-44aa-a24b-f9cc6ab82dbf" Alias="Nikole" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Nikole</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-03-02T17:27:03</CreateDate>
    <NodeName Default="Nikole" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[mcnamara.nikole@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[One click submission to 1000 business directories here-> http://bit.ly/3JHYznk]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Nikole]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Switzerland]]></Value>
    </fPhone>
  </Properties>
</Content>