<?xml version="1.0" encoding="utf-8"?>
<Content Key="153e1dd7-f164-4e58-91ae-ec56226db87b" Alias="Olga" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Olga</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-12-06T05:02:33</CreateDate>
    <NodeName Default="Olga" />
    <SortOrder>357</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[jaffe.olga@hotmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[微信公众号：外贸业务员
wordpressbin.com]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Olga]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[United States]]></Value>
    </fPhone>
  </Properties>
</Content>