<?xml version="1.0" encoding="utf-8"?>
<Content Key="39115171-9db1-4c4e-81cc-ac47077160bf" Alias="Pattie" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Pattie</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-04T13:02:43</CreateDate>
    <NodeName Default="Pattie" />
    <SortOrder>92</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[sison.thao@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi owner of rezervist.com.ua


We are currently recruiting new beginner paid online writers from your country.

A number of Amazon stores on our platform are hiring assistants to help with simple writing tasks. These positions are open to anyone with moderate English skills, but we are particularly short of candidates from your country.

These are remote positions, meaning that as long as you can work the required hours, you can work from home. The businesses that hire our members are all looking for new remote workers who don’t need experience but are willing to learn.

Click here to complete your application if you are interested: https://www.trustne.com/writingjobs .  

What you will be doing: Your job will be to write simple descriptions for various products being added to Amazon stores. This is as simple as writing a few bullet points based on the information given by the client. You will be supplied with all the information needed, plus clear instructions on what to do.

Contract length: No fixed term

Rate: $30 per hour (Depending on the type of job and experience)

Skills/background needed: To qualify to apply, you must:

- Have access to a phone or laptop

- Be able to work independently

- Read and write English at least a basic level

- Be ready to follow provided steps and instructions

- Want to work at least 5 hours per week

- Have a reliable internet connection

Hours per week: Flexible

Location: You can work online from your country.

We are currently expanding the number of remote workers for these positions significantly. If you can start right away, please apply below.

Click here to complete your application now: https://www.trustne.com/writingjobs . 

Looking out for you, 


Pattie

(The relationship between Trustne and Paidonlinewritingjobs is a partnership, we are two separate companies.)
UNSUBSCRIBE: https://www.trustne.com/unsubscribe]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Pattie]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Australia]]></Value>
    </fPhone>
  </Properties>
</Content>