<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4132fb8-936c-46f6-a825-0fb0390abdd0" Alias="Payments" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Payments</Path>
    <Trashed Parent="3b85fdcb-3bdb-4573-af19-dcd74964f052">true</Trashed>
    <ContentType>forCustomersItem</ContentType>
    <CreateDate>2022-02-19T12:43:17</CreateDate>
    <NodeName Default="Payments" />
    <SortOrder>43</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="acb19ea4-36bb-4bda-ae14-58c372b66609">forCustomersItem</Template>
  </Info>
  <Properties>
    <anons>
      <Value><![CDATA[]]></Value>
    </anons>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <title>
      <Value><![CDATA[Способи оплати]]></Value>
    </title>
  </Properties>
</Content>