<?xml version="1.0" encoding="utf-8"?>
<Content Key="b16c1b99-6769-43be-8bde-4e625152bf09" Alias="Payment" Level="2">
  <Info>
    <Parent Key="8a41fc86-a344-478b-a478-5fba7d4b30af">Shopping cart</Parent>
    <Path>/ShoppingCart/Payment</Path>
    <Trashed>false</Trashed>
    <ContentType>payment</ContentType>
    <CreateDate>2020-05-21T20:58:14</CreateDate>
    <NodeName Default="Payment">
      <Name Culture="uk">Payment</Name>
      <Name Culture="en-us">Payment</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="569e7174-06ed-488d-8bee-3e401d342175">Payment</Template>
  </Info>
  <Properties>
    <bymyself>
      <Value Culture="uk"><![CDATA[Самовивіз]]></Value>
      <Value Culture="en-us"><![CDATA[By myself]]></Value>
    </bymyself>
    <card>
      <Value Culture="uk"><![CDATA[Карткою VISA / MASTERCARD]]></Value>
      <Value Culture="en-us"><![CDATA[Card VISA / MASTERCARD]]></Value>
    </card>
    <cash>
      <Value Culture="uk"><![CDATA[Готівкою при отриманні]]></Value>
      <Value Culture="en-us"><![CDATA[Cash on receipt]]></Value>
    </cash>
    <changeOrder>
      <Value Culture="uk"><![CDATA[Повернутися назад]]></Value>
      <Value Culture="en-us"><![CDATA[Change order]]></Value>
    </changeOrder>
    <confirm>
      <Value Culture="uk"><![CDATA[Замовлення підтверджую]]></Value>
      <Value Culture="en-us"><![CDATA[Confirm order]]></Value>
    </confirm>
    <confirmInfo>
      <Value Culture="uk"><![CDATA[Підтверджуючи замовлення, я приймаю умови Публічної оферти]]></Value>
      <Value Culture="en-us"><![CDATA[By confirming the order, I accept the terms of the Public Offer]]></Value>
    </confirmInfo>
    <consultation>
      <Value Culture="uk"><![CDATA[Консультація за номером]]></Value>
      <Value Culture="en-us"><![CDATA[Consultation by number]]></Value>
    </consultation>
    <courier>
      <Value Culture="uk"><![CDATA[Кур'єром по місту]]></Value>
      <Value Culture="en-us"><![CDATA[By courier around the city]]></Value>
    </courier>
    <delTitle>
      <Value Culture="uk"><![CDATA[Доставка]]></Value>
      <Value Culture="en-us"><![CDATA[Delivery]]></Value>
    </delTitle>
    <inputBuilding>
      <Value Culture="uk"><![CDATA[Номер будинку]]></Value>
      <Value Culture="en-us"><![CDATA[Building]]></Value>
    </inputBuilding>
    <inputCity>
      <Value Culture="uk"><![CDATA[Місто]]></Value>
      <Value Culture="en-us"><![CDATA[City]]></Value>
    </inputCity>
    <inputEmail>
      <Value Culture="uk"><![CDATA[Електронна пошта]]></Value>
      <Value Culture="en-us"><![CDATA[Email]]></Value>
    </inputEmail>
    <inputFlat>
      <Value Culture="uk"><![CDATA[Номер квартири]]></Value>
      <Value Culture="en-us"><![CDATA[Flat]]></Value>
    </inputFlat>
    <inputIndex>
      <Value Culture="uk"><![CDATA[Поштовий індекс]]></Value>
      <Value Culture="en-us"><![CDATA[Index]]></Value>
    </inputIndex>
    <inputMidname>
      <Value Culture="uk"><![CDATA[По-батькові]]></Value>
      <Value Culture="en-us"><![CDATA[Middle name]]></Value>
    </inputMidname>
    <inputName>
      <Value Culture="uk"><![CDATA[Ім'я]]></Value>
      <Value Culture="en-us"><![CDATA[Name]]></Value>
    </inputName>
    <inputNPDept>
      <Value Culture="uk"><![CDATA[Відділення ]]></Value>
      <Value Culture="en-us"><![CDATA[Department]]></Value>
    </inputNPDept>
    <inputPhone>
      <Value Culture="uk"><![CDATA[Номер телефону]]></Value>
      <Value Culture="en-us"><![CDATA[Phone]]></Value>
    </inputPhone>
    <inputRegion>
      <Value Culture="uk"><![CDATA[Область]]></Value>
      <Value Culture="en-us"><![CDATA[Region]]></Value>
    </inputRegion>
    <inputStreet>
      <Value Culture="uk"><![CDATA[Вулиця]]></Value>
      <Value Culture="en-us"><![CDATA[Street]]></Value>
    </inputStreet>
    <inputSubregion>
      <Value Culture="uk"><![CDATA[Район]]></Value>
      <Value Culture="en-us"><![CDATA[District]]></Value>
    </inputSubregion>
    <inputSurname>
      <Value Culture="uk"><![CDATA[Прізвище]]></Value>
      <Value Culture="en-us"><![CDATA[Surname]]></Value>
    </inputSurname>
    <mainTitle>
      <Value Culture="uk"><![CDATA[Контактні дані]]></Value>
      <Value Culture="en-us"><![CDATA[Contacts]]></Value>
    </mainTitle>
    <newPost>
      <Value Culture="uk"><![CDATA[Нова Пошта]]></Value>
      <Value Culture="en-us"><![CDATA[Nova Poshta]]></Value>
    </newPost>
    <payTitle>
      <Value Culture="uk"><![CDATA[Оплата]]></Value>
      <Value Culture="en-us"><![CDATA[Payment]]></Value>
    </payTitle>
    <phoneNumber>
      <Value><![CDATA[ +38067 505 2421]]></Value>
    </phoneNumber>
    <publicDoc>
      <Value><![CDATA[umb://media/adeb271d8f7f449cbf6d17f9e2aa940a]]></Value>
    </publicDoc>
    <title>
      <Value Culture="uk"><![CDATA[Оформлення замовлення]]></Value>
      <Value Culture="en-us"><![CDATA[Making an order]]></Value>
    </title>
    <total>
      <Value Culture="uk"><![CDATA[До оплати]]></Value>
      <Value Culture="en-us"><![CDATA[Total payment]]></Value>
    </total>
    <ukrPost>
      <Value Culture="uk"><![CDATA[Укр Пошта]]></Value>
      <Value Culture="en-us"><![CDATA[Ukrposhta]]></Value>
    </ukrPost>
  </Properties>
</Content>