<?xml version="1.0" encoding="utf-8"?>
<Content Key="bbc12250-dfd6-4563-8719-6b632e8894df" Alias="PErtfkoCuF" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/PErtfkoCuF</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-04-22T22:41:24</CreateDate>
    <NodeName Default="PErtfkoCuF" />
    <SortOrder>42</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[callvisvetlana@list.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Все достижимо, делай не останавливайся https://senler.ru/a/29xpm/gohx/759368335&Xukou7erWJu https://mail.ru rezervist.com.ua]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[PErtfkoCuF]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[81636517955]]></Value>
    </fPhone>
  </Properties>
</Content>