<?xml version="1.0" encoding="utf-8"?>
<Content Key="585e717a-3e37-470b-b67c-72c8bda26daf" Alias="Peter" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Peter</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-04-10T04:17:31</CreateDate>
    <NodeName Default="Peter" />
    <SortOrder>35</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[petergill924@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi,

I want to write a guest post for your website to attract more readers. I will suggest three topics and you can choose one. Once you approve, I'll write the article and send it back You just have to include a backlink when publishing. 

Can I share the topics with you?

Thanks!
]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Peter]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[United States]]></Value>
    </fPhone>
  </Properties>
</Content>