<?xml version="1.0" encoding="utf-8"?>
<Content Key="e68af866-f6c8-432d-b58b-89b82dcab348" Alias="Pete Dakar Zambelli" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/PeteDakarZambelli</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-11T00:50:49</CreateDate>
    <NodeName Default="Pete Dakar Zambelli" />
    <SortOrder>302</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[projectdept@kanzalshamsprojectmgt.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Greetings, 
 
It's a pleasure to connect with you, My name is Pete Dakar Zambelli, am an investment consultant with RSL-Project Management Service C0, I have been mandated by the company to source for investment opportunities and companies seeking for funding, business loans, for its project(s). Do you have any investment or project that is seeking for capital to fund it? 
 
Our Investments financing focus is on: 
 
Seed Capital, Early-Stage, Start-Up Ventures, , Brokerage, Private Finance, Renewable Energy Project, Commercial Real Estate, Blockchain, Technology, Telecommunication, Infrastructure, Agriculture, Animal Breeding, Hospitality, Healthcare, Oil/Gas/Refinery. Application reserved for business executives and companies with proven business records in search of funding for expansion or forcapital investments.. 
 
Kindly contact me for further details. 
 
await your return e.mail soonest. 
 
Regards 
 
Dr. Pete Dakar Zambelli 
Pete Dakar Zambelli 
MIDDLE EAST LOAN FINANCE GLOBAL 
Address: 72469 Jahra Road Shuwaikh Industrial 
Tel: +968 7866 9578 
Email: rsl.fudiciary@debtloanfinanceconsultant.com]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Pete Dakar Zambelli]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[82792956227]]></Value>
    </fPhone>
  </Properties>
</Content>