<?xml version="1.0" encoding="utf-8"?>
<Content Key="bd1a992a-bf3a-4725-99df-382ff38472e6" Alias="Petrkv" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Petrkv</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-03-05T21:16:26</CreateDate>
    <NodeName Default="Petrkv" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[voenbilpetr@yahoo.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Защитим от призыва на фронт! Подготовим две настоящие (зарегистрированные в базе) справки. Проверки на улице (проверка по базе и звонок в военкомат) проходят. Недорого и анонимно! 
 
Защитите себя и своих родственников. Это правада хороший вариант! 
 
Все вопросы - voenbilpetr@yahoo.com]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Petrkv]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[81248271424]]></Value>
    </fPhone>
  </Properties>
</Content>