<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6ad235c-e20f-46b9-b4da-a63c979fdcfa" Alias="Philfom" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Philfom</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-09-29T23:48:25</CreateDate>
    <NodeName Default="Philfom" />
    <SortOrder>235</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[draikkimr976@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Zdravo, htio sam znati vašu cijenu.]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Philfom]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[88396979532]]></Value>
    </fPhone>
  </Properties>
</Content>