<?xml version="1.0" encoding="utf-8"?>
<Content Key="e46d96f2-ad3f-4861-b761-8877b6782dc3" Alias="Philfom (1)" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Philfom1</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-10-22T15:08:56</CreateDate>
    <NodeName Default="Philfom (1)" />
    <SortOrder>266</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[septon36giannixi@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Kaixo, zure prezioa jakin nahi nuen.]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Philfom]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[88775282636]]></Value>
    </fPhone>
  </Properties>
</Content>