<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c0db719-ea1a-43fb-a459-f6460618e323" Alias="Phil" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Phil</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-12-10T02:59:02</CreateDate>
    <NodeName Default="Phil" />
    <SortOrder>378</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[dontreplyhere@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[I have 100% fully verified website contact forms for sale. Do your own blasts - save money!

Quantity	Price
=====================
500,000		$50
1 Million	$99
5 Million	$199
10 Million	$299
20 Million	$499

Credit card payment accepted, download links provided same day of purchase. Get in touch with me at my email/skype below for more info or if you would like to order.

P. Stewart
Skype: live:.cid.e169e59bb6e6d159
Email: ps1582@gomail2.xyz]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Phil]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[USA]]></Value>
    </fPhone>
  </Properties>
</Content>