<?xml version="1.0" encoding="utf-8"?>
<Content Key="8fa5f24b-75fb-4ae1-84cb-35afb1533660" Alias="Philfom (2)" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Philfom2</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-10T05:29:45</CreateDate>
    <NodeName Default="Philfom (2)" />
    <SortOrder>301</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[septon36giannixi@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hola, quería saber tu precio..]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Philfom]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[88344726435]]></Value>
    </fPhone>
  </Properties>
</Content>