<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee223b85-b9c3-4a96-ab2c-320123693649" Alias="Prodvigenie" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Prodvigenie</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-05-06T17:31:49</CreateDate>
    <NodeName Default="Prodvigenie" />
    <SortOrder>55</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[ffes444@yandex.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Качественное и недорогое продвижение сайтов в Яндексе и Google, настройка рекламы и любые другие работы связанные с сайтами. Обращайтесь если вам нужен итоговый результат в виде роста продаж. 
 
4fes44@gmail.com]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Prodvigenie]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[83669656592]]></Value>
    </fPhone>
  </Properties>
</Content>