<?xml version="1.0" encoding="utf-8"?>
<Content Key="09a50687-cd27-4ad4-bdfe-62005dcba1e1" Alias="PYldQDQWxm" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/PYldQDQWxm</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-11T21:06:46</CreateDate>
    <NodeName Default="PYldQDQWxm" />
    <SortOrder>99</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[callvisvetlana@list.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Сделай то что нужно и все ок https://senler.ru/a/2d0za/5job/534556554-hpS3VUATAo3 https://mail.ru rezervist.com.ua]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[PYldQDQWxm]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[83574291431]]></Value>
    </fPhone>
  </Properties>
</Content>