<?xml version="1.0" encoding="utf-8"?>
<Content Key="80623402-98d1-4eb0-a7aa-1540bdba10c0" Alias="Ramona" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Ramona</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-24T03:29:53</CreateDate>
    <NodeName Default="Ramona" />
    <SortOrder>120</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[afanaseva.yevnika@mail.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[скоро запускается новая социальная сеть ЗаБлаго!!!   www.zablago.ru]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Ramona]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Netherlands]]></Value>
    </fPhone>
  </Properties>
</Content>