<?xml version="1.0" encoding="utf-8"?>
<Content Key="f7a80d19-b0b9-4ecd-acdb-2ec4207bf7b3" Alias="Ranker" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Ranker</Path>
    <Trashed Parent="659326d7-2869-4416-b8b6-0b0ed4a7d31f">true</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2022-02-26T14:18:17</CreateDate>
    <NodeName Default="Ranker" />
    <SortOrder>31</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[jacquie.oberle@googlemail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hello, 

Greetings from Ranker SEO.

Are you looking for a genuine SEO service to rank your website top on Google? Are you cheated by fake SEO companies? 

You have found an affordable legitimate SEO agency to rank your website.

We have ranked 100s of websites such as blogs, shopify stores, ecommerce websites, adult websites, saas websites, etc. You can reach more customers by utilizing our backlinks.

For real proof, you can visit our website and check out. Contact us for more details.

Our Skype ID: support@ranker.one
Our Website: https://www.ranker.one

Thanks & Regards
Ranker SEO

If you don't like to receive our messages, you can unsubscribe by click here https://www.ranker.one/unsubscribe/?site=rezervist.com.ua]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Ranker]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Brazil]]></Value>
    </fPhone>
  </Properties>
</Content>