<?xml version="1.0" encoding="utf-8"?>
<Content Key="de4ce38c-68e4-494b-986c-e0fb58bdc428" Alias="RassylkiM" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/RassylkiM</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-08-04T00:50:00</CreateDate>
    <NodeName Default="RassylkiM" />
    <SortOrder>170</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[yourmail@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Здравствуйте. Помогу вам в увеличении ваших продаж путем осуществления качественных рассылок. Произвожу рассылки по моим и вашим базам данных, при необходимости собираю адресатов с нуля под нужды заказчика. Очень большой опыт и знания. 
 
Виды рассылок: e-mail, по личным сообщениям в социальных сетях, через мессенджеры, по формам обратной связи на сайтах. 
 
Рассылки - это хороший способ увеличить ваши продажи. Готов к длительному и взаимовыгодному сотрудничеству. 
 
Пишите: fhf37xim@yandex.ru]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[RassylkiM]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[89829651618]]></Value>
    </fPhone>
  </Properties>
</Content>