<?xml version="1.0" encoding="utf-8"?>
<Content Key="b282dd68-fbee-462c-bd77-9abcd1e67957" Alias="Reed" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Reed</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-14T17:52:06</CreateDate>
    <NodeName Default="Reed" />
    <SortOrder>104</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[m.kulikov@chaybpz.bizml.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Здравствуйте, ув. Boss! Уюта Вашему Дому!
Предложу поднятие Вашего сайта на 7-14  пунктов.
В поисковиках (Яндекс, Google). Domain Rating.
Цена всего 580 ру. Качественный ИкС.
Прогоны сайтов от Профессионалов!
Вам нужен ИКС или позиции, Вам к Нам!
Полная отчётность. Траст база.
telegram:@xrumers
mail: support@xrumer.cc
]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Reed]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Germany]]></Value>
    </fPhone>
  </Properties>
</Content>