<?xml version="1.0" encoding="utf-8"?>
<Content Key="468c256d-5165-4e64-af03-bb1d60e1d15c" Alias="Register" Level="3">
  <Info>
    <Parent Key="e8546dc7-b813-42d7-981c-1fadd06cabbe">Log In</Parent>
    <Path>/Master/LogIn/Register</Path>
    <Trashed>false</Trashed>
    <ContentType>register</ContentType>
    <CreateDate>2020-05-20T12:34:27</CreateDate>
    <NodeName Default="Register">
      <Name Culture="uk">Register</Name>
      <Name Culture="en-us">Register</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="d0dac449-292d-4f9a-9fba-9684c8136b49">Register</Template>
  </Info>
  <Properties>
    <confirmPass>
      <Value Culture="uk"><![CDATA[Підтвердження паролю]]></Value>
      <Value Culture="en-us"><![CDATA[Confirm password]]></Value>
    </confirmPass>
    <inputConfirmPass>
      <Value Culture="uk"><![CDATA[Повторити пароль]]></Value>
      <Value Culture="en-us"><![CDATA[Confirm password]]></Value>
    </inputConfirmPass>
    <inputEmail>
      <Value Culture="uk"><![CDATA[Email]]></Value>
      <Value Culture="en-us"><![CDATA[Email]]></Value>
    </inputEmail>
    <inputName>
      <Value Culture="uk"><![CDATA[Ваше ім'я]]></Value>
      <Value Culture="en-us"><![CDATA[Your name]]></Value>
    </inputName>
    <inputPass>
      <Value Culture="uk"><![CDATA[Пароль]]></Value>
      <Value Culture="en-us"><![CDATA[Password]]></Value>
    </inputPass>
    <lowercase>
      <Value Culture="uk"><![CDATA[Літери нижнього регістру]]></Value>
      <Value Culture="en-us"><![CDATA[Lowercase letters]]></Value>
    </lowercase>
    <notifyMe>
      <Value Culture="uk"><![CDATA[Отримувати розсилку]]></Value>
    </notifyMe>
    <notMatch>
      <Value Culture="uk"><![CDATA[Паролі не співпадають]]></Value>
    </notMatch>
    <numbers>
      <Value Culture="uk"><![CDATA[Цифри]]></Value>
      <Value Culture="en-us"><![CDATA[Numbers]]></Value>
    </numbers>
    <SEOdesc>
      <Value><![CDATA[Зареєструватись в інтернет-магазині Rezervist.]]></Value>
    </SEOdesc>
    <SEOimg>
      <Value><![CDATA[umb://media/123a525593484244857e4bbb9c145b4d]]></Value>
    </SEOimg>
    <SEOkeys>
      <Value><![CDATA[["магазин резервіст","резервіст","резервіст львів","реєстрація","особистий кабінет резервіст","тактичний одяг","стиль мілітарі","туристичне спорядження","купити взуття","одяг львів"]]]></Value>
    </SEOkeys>
    <submitBtn>
      <Value Culture="uk"><![CDATA[Зареєструватися]]></Value>
      <Value Culture="en-us"><![CDATA[Register]]></Value>
    </submitBtn>
    <symbols>
      <Value Culture="uk"><![CDATA[Не менше 8 символів]]></Value>
      <Value Culture="en-us"><![CDATA[At least 8 characters]]></Value>
    </symbols>
    <title>
      <Value Culture="uk"><![CDATA[Реєстрація]]></Value>
      <Value Culture="en-us"><![CDATA[Register]]></Value>
    </title>
    <uppercase>
      <Value Culture="uk"><![CDATA[Літери верхнього регістру]]></Value>
      <Value Culture="en-us"><![CDATA[Uppercase letters]]></Value>
    </uppercase>
  </Properties>
</Content>