<?xml version="1.0" encoding="utf-8"?>
<Content Key="17d52274-1ee6-4584-a9ab-2386c609f2d4" Alias="Registration Compleate (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/RegistrationCompleate1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>registrationCompleate</ContentType>
    <CreateDate>2023-02-08T12:40:22</CreateDate>
    <NodeName Default="Registration Compleate (1)">
      <Name Culture="uk">Registration Compleate (1)</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="false">
      <Published Culture="uk">false</Published>
    </Published>
    <Schedule />
    <Template Key="b283e4f7-19c7-4dfa-a2b2-9dff90a0573e">RegistrationCompleate</Template>
  </Info>
  <Properties>
    <compleateMessage>
      <Value Culture="uk"><![CDATA[Реєстрація пройшла успішно, будь ласка, активуйте обліковий запис.]]></Value>
    </compleateMessage>
    <title>
      <Value Culture="uk"><![CDATA[Реєстрація]]></Value>
    </title>
  </Properties>
</Content>