<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9e7d574-f4a2-493b-8c52-0f937bcc08da" Alias="Registration Compleate" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RegistrationCompleate</Path>
    <Trashed>false</Trashed>
    <ContentType>registrationCompleate</ContentType>
    <CreateDate>2023-02-07T16:21:39</CreateDate>
    <NodeName Default="Registration Compleate">
      <Name Culture="uk">Registration Compleate</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="b283e4f7-19c7-4dfa-a2b2-9dff90a0573e">RegistrationCompleate</Template>
  </Info>
  <Properties>
    <compleateMessage>
      <Value Culture="uk"><![CDATA[Реєстрація пройшла успішно, будь ласка, активуйте обліковий запис.]]></Value>
    </compleateMessage>
    <title>
      <Value Culture="uk"><![CDATA[Реєстрація]]></Value>
    </title>
  </Properties>
</Content>