<?xml version="1.0" encoding="utf-8"?>
<Content Key="75e1e7f8-b347-4bd5-b48c-9ece973db445" Alias="Reta" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Reta</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-08-18T06:41:00</CreateDate>
    <NodeName Default="Reta" />
    <SortOrder>185</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[roney.reta@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Доброе утро! 
Готовы выполнить самые лучшие "смертельные" прогоны для сайтов вашего конкурента. Всего от 7000 рублей. 
- Гарантированный эффект. Интернет-сайты точно "упадут". 
- Максимальное количество негативных фитбеков. 
- Наша специальная база - максимально "убийственные" площадки из 10 млн. интернет-сайтов (вирусных, спамных, порно и тому подобных). Работает безотказно. 
- Прогон проводим сразу с 4-х серверов. 
- Отправка активационных ссылок на электронную почту. 
- Выполнение в течение 40-240 часов день и ночь. Можем растянуть по времени как угодно. 
- Прогоняем с запрещёнными ключами. 
Телега: @exrumer 
Skype: xrumer.pro
icq: 5688885
Только эти!]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Reta]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Germany]]></Value>
    </fPhone>
  </Properties>
</Content>