<?xml version="1.0" encoding="utf-8"?>
<Content Key="02df1259-11f7-4615-bbf0-b2c24b83f561" Alias="return" Level="3">
  <Info>
    <Parent Key="3b85fdcb-3bdb-4573-af19-dcd74964f052">ForCustomers</Parent>
    <Path>/Master/ForCustomers/return</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-03-16T17:57:04</CreateDate>
    <NodeName Default="return">
      <Name Culture="uk">return</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="14390623-4c04-4107-b926-50e54960e913">NewsItem</Template>
  </Info>
  <Properties>
    <anons>
      <Value Culture="uk"><![CDATA[]]></Value>
    </anons>
    <desc>
      <Value Culture="uk"><![CDATA[<p>Політика повернення та відшкодування визначена наступним чином:</p>
<ol>
<li>Повернення товару:</li>
</ol>
<p>Якщо ви не задоволені придбаним товаром, ви маєте право повернути його протягом 14 днів з моменту його отримання. Повернення товару можливе тільки в разі, якщо товар не був використаний, збережені його товарний вигляд, споживчі властивості, фабричні ярлики, збережена комплектність товару та наявність документів, що підтверджують факт його придбання. Повернення грошових коштів за товар можливе після повернення товару та перевірки його стану.</p>
<ol start="2">
<li>Обмін товару:</li>
</ol>
<p>Якщо ви хочете обміняти товар на інший, ви маєте звернутися до нашого менеджера з продажу. Обмін товару можливий тільки в разі, якщо товар не був використаний, збережені його товарний вигляд, споживчі властивості, фабричні ярлики, збережена комплектність товару та наявність документів, що підтверджують факт його придбання. Вартість нового товару повинна бути не менше за вартість попереднього товару.</p>
<ol start="3">
<li>Повернення грошових коштів:</li>
</ol>
<p>Якщо повернення товару є неможливим або ви відмовляєтеся від товару, ми повернемо вам грошові кошти протягом 14 днів з моменту одержання відмови від товару. Повернення грошових коштів проводиться на рахунок, з якого була здійснена оплата за товар.</p>]]></Value>
    </desc>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <title>
      <Value Culture="uk"><![CDATA[Політика повернення та відшкодування]]></Value>
    </title>
  </Properties>
</Content>