<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9be53cf-bcaa-44d7-aa70-ae81c4622bd5" Alias="ReturnPolicy" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ReturnPolicy</Path>
    <Trashed Parent="3b85fdcb-3bdb-4573-af19-dcd74964f052">true</Trashed>
    <ContentType>forCustomersItem</ContentType>
    <CreateDate>2022-02-19T12:42:25</CreateDate>
    <NodeName Default="ReturnPolicy" />
    <SortOrder>45</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="acb19ea4-36bb-4bda-ae14-58c372b66609">forCustomersItem</Template>
  </Info>
  <Properties>
    <anons>
      <Value><![CDATA[Політика повернення]]></Value>
    </anons>
    <description>
      <Value><![CDATA[<p>Політика повернення</p>]]></Value>
    </description>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <title>
      <Value><![CDATA[Політика повернення]]></Value>
    </title>
  </Properties>
</Content>