<?xml version="1.0" encoding="utf-8"?>
<Content Key="7b353e5c-ce96-455d-a6e4-e0f60d285daf" Alias="Return" Level="2">
  <Info>
    <Parent Key="9383cdc6-d4cb-454c-a579-df4faa984f49">Master</Parent>
    <Path>/Master/Return</Path>
    <Trashed>false</Trashed>
    <ContentType>news</ContentType>
    <CreateDate>2023-03-16T15:25:19</CreateDate>
    <NodeName Default="Return">
      <Name Culture="uk">Return</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="false">
      <Published Culture="uk">false</Published>
    </Published>
    <Schedule />
    <Template Key="23e482e8-7d94-4b17-865d-e878d5d04377">News</Template>
  </Info>
  <Properties>
    <goBack>
      <Value Culture="uk"><![CDATA[]]></Value>
    </goBack>
    <next>
      <Value Culture="uk"><![CDATA[]]></Value>
    </next>
    <previous>
      <Value Culture="uk"><![CDATA[]]></Value>
    </previous>
    <readMore>
      <Value Culture="uk"><![CDATA[]]></Value>
    </readMore>
    <SEOdesc>
      <Value><![CDATA[]]></Value>
    </SEOdesc>
    <SEOimg>
      <Value><![CDATA[]]></Value>
    </SEOimg>
    <SEOkeys>
      <Value><![CDATA[]]></Value>
    </SEOkeys>
    <shareWith>
      <Value Culture="uk"><![CDATA[]]></Value>
    </shareWith>
    <title>
      <Value Culture="uk"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>