<?xml version="1.0" encoding="utf-8"?>
<Content Key="074623e0-1f50-422f-bbe9-0430f88f0a82" Alias="Robertfom (5)" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Robertfom5</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-07-22T20:39:17</CreateDate>
    <NodeName Default="Robertfom (5)" />
    <SortOrder>154</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[alfredegov@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi, მინდოდა ვიცოდე თქვენი ფასი.]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Robertfom]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[85972429998]]></Value>
    </fPhone>
  </Properties>
</Content>