<?xml version="1.0" encoding="utf-8"?>
<Content Key="d0329bce-ab1c-4ff1-97fa-39e714c0e3ae" Alias="Robertfom" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Robertfom</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-05-21T16:28:58</CreateDate>
    <NodeName Default="Robertfom" />
    <SortOrder>70</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[zelatcol@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hallo, ek wou jou prys ken.]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Robertfom]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[88453611771]]></Value>
    </fPhone>
  </Properties>
</Content>