<?xml version="1.0" encoding="utf-8"?>
<Content Key="21485706-b68a-43b4-9005-059aa2410318" Alias="Robertfom (2)" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Robertfom2</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-20T13:47:56</CreateDate>
    <NodeName Default="Robertfom (2)" />
    <SortOrder>115</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[zelatcol@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi, მინდოდა ვიცოდე თქვენი ფასი.]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Robertfom]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[83756715762]]></Value>
    </fPhone>
  </Properties>
</Content>