<?xml version="1.0" encoding="utf-8"?>
<Content Key="81df12e7-e6dd-4559-8f01-d264f7eeace9" Alias="Robertgrona" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Robertgrona</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-09-04T09:04:06</CreateDate>
    <NodeName Default="Robertgrona" />
    <SortOrder>200</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[jamaicanjamie75@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[You receive a transfer of $100,000 http://earn-forex-4222.lovepid.com/exclusive]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Robertgrona]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[87371962754]]></Value>
    </fPhone>
  </Properties>
</Content>