<?xml version="1.0" encoding="utf-8"?>
<Content Key="7989486d-d031-4709-a299-55d8c132a90c" Alias="Robertfom (7)" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Robertfom7</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-08-10T17:53:29</CreateDate>
    <NodeName Default="Robertfom (7)" />
    <SortOrder>177</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[alfredegov@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[হাই, আমি আপনার মূল্য জানতে চেয়েছিলাম.]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Robertfom]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[82397526458]]></Value>
    </fPhone>
  </Properties>
</Content>