<?xml version="1.0" encoding="utf-8"?>
<Content Key="dca7175b-67d1-4b28-a828-19215792ac02" Alias="Robertfom (13)" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Robertfom13</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-06T19:08:12</CreateDate>
    <NodeName Default="Robertfom (13)" />
    <SortOrder>294</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[alfredegov@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Γεια σου, ήθελα να μάθω την τιμή σας.]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Robertfom]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[82536565962]]></Value>
    </fPhone>
  </Properties>
</Content>