<?xml version="1.0" encoding="utf-8"?>
<Content Key="67f36b43-2cce-449e-8a8f-333ca1e87c69" Alias="Robertfom (12)" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Robertfom12</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-06T03:09:58</CreateDate>
    <NodeName Default="Robertfom (12)" />
    <SortOrder>293</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[alfredegov@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi, kam dashur të di çmimin tuaj]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Robertfom]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[82914561473]]></Value>
    </fPhone>
  </Properties>
</Content>