<?xml version="1.0" encoding="utf-8"?>
<Content Key="ba295f5d-0699-4c77-8f5f-4f53b6435160" Alias="Robertfom (3)" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Robertfom3</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-21T23:50:40</CreateDate>
    <NodeName Default="Robertfom (3)" />
    <SortOrder>118</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[zelatcol@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Aloha, makemake wau eʻike i kāu kumukūʻai.]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Robertfom]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[88216583194]]></Value>
    </fPhone>
  </Properties>
</Content>