<?xml version="1.0" encoding="utf-8"?>
<Content Key="996124e7-61fa-4925-b2ff-78cf64273364" Alias="Robertfom (10)" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Robertfom10</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-10-05T11:31:02</CreateDate>
    <NodeName Default="Robertfom (10)" />
    <SortOrder>240</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[alfredegov@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hallo, ek wou jou prys ken.]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Robertfom]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[88616415862]]></Value>
    </fPhone>
  </Properties>
</Content>