<?xml version="1.0" encoding="utf-8"?>
<Content Key="932d5a0c-8dc4-4846-8736-2916ec87fa88" Alias="Ronald" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Ronald</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-07-27T04:29:22</CreateDate>
    <NodeName Default="Ronald" />
    <SortOrder>159</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[waterworth.ronald83@googlemail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[I have a question. You just read this message right? That means you're now a potential customer and I can do the same thing for your business. I can blast YOUR ad to 1 million websites just like I did to yours for just $98. More pricing plans are also available, contact me on Skype for details. Here's my id : live:.cid.83c9da999a4f9f]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Ronald]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Canada]]></Value>
    </fPhone>
  </Properties>
</Content>