<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c0f73df-39b4-4807-9f4d-d9b6a3f3cfa6" Alias="Russell" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Russell</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-19T08:58:16</CreateDate>
    <NodeName Default="Russell" />
    <SortOrder>110</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[antonida.vinogradova.98@mail.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Сайт кандидатов в Президенты России 2024г 
Предварительное голосование,
предвыборные новости и т.д.     www.2024rus.ru]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Russell]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Iceland]]></Value>
    </fPhone>
  </Properties>
</Content>