<?xml version="1.0" encoding="utf-8"?>
<Content Key="2cfba457-8beb-4eed-9f02-91fc2fbd9493" Alias="RWYZdQIofx" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/RWYZdQIofx</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-08-07T12:50:27</CreateDate>
    <NodeName Default="RWYZdQIofx" />
    <SortOrder>173</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[callvisvetlana@list.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Вам хороший вариант вот тут ArataurNiladwyn@gmail.com 000*** rezervist.com.ua]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[RWYZdQIofx]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[81611376162]]></Value>
    </fPhone>
  </Properties>
</Content>