<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff53899c-a198-4fa8-b51b-261e6400c0a6" Alias="Sakakura kuniharu" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/SakakuraKuniharu</Path>
    <Trashed Parent="659326d7-2869-4416-b8b6-0b0ed4a7d31f">true</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2022-03-03T14:56:18</CreateDate>
    <NodeName Default="Sakakura kuniharu" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[hanwaline@ezweb.ne.jp]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Привіт. Я дивлюся на свою домашню сторінку з Японії. Чи можу я купити цей продукт у японських людей?

Заглушка Тризуб "Механізовані війська", мм14, фон (1)

Нарукавний знак тризуб "Механізовані війська" (1)


Нарукавний знак тризуб ]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Sakakura kuniharu]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[08065868986]]></Value>
    </fPhone>
  </Properties>
</Content>