<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c6cd4fb-26a5-4832-ba53-8de6f695fb81" Alias="Sakakura kuniharu (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/SakakuraKuniharu1</Path>
    <Trashed Parent="659326d7-2869-4416-b8b6-0b0ed4a7d31f">true</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2022-03-03T15:08:05</CreateDate>
    <NodeName Default="Sakakura kuniharu (1)" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[hanwaline@ezweb.ne.jp]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Привіт. Я дивлюся на свою домашню сторінку з Японії. Чи можу я купити цей продукт у японських людей?

Нарукавний знак тризуб "Механізовані війська"
Заглушка Тризуб "Механізовані війська", мм14, фон
]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Sakakura kuniharu]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[08065868986]]></Value>
    </fPhone>
  </Properties>
</Content>