<?xml version="1.0" encoding="utf-8"?>
<Content Key="72f69ca7-0e4f-47c5-afa2-bb1f2161734e" Alias="Sandra Neusub" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/SandraNeusub</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-04-25T14:45:14</CreateDate>
    <NodeName Default="Sandra Neusub" />
    <SortOrder>45</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[michal.endler00@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Yksityishenkilöiden välisiin lainatarpeisiisi taloudellisten vaikeuksien ratkaisemiseksi, joko toiminnan käynnistämiseksi uudelleen tai projektin toteuttamiseksi, pankkien aiheuttaman umpikujan murtamiseksi luottohakemustiedostojesi hylkäämisen vuoksi, pystyn myöntämään lainoja 2 000 eurosta 500 000 euroon 2 % korolla tarvitsemaasi määrään ja elämääsi helpottavien takaisinmaksuehdoilla. 
 
Ota yhteyttä minuun sähköpostiini: bertrandcaroline0@gmail.com]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Sandra Neusub]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[82947599383]]></Value>
    </fPhone>
  </Properties>
</Content>