<?xml version="1.0" encoding="utf-8"?>
<Content Key="a77cea51-6d6d-4f84-8345-6ec76052acca" Alias="Sharon" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Sharon</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-02-25T19:31:36</CreateDate>
    <NodeName Default="Sharon" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[sharon.heckman@outlook.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Maximize your new website's potential by submitting it to our directory. https://bit.ly/3YhCEb5]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Sharon]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Austria]]></Value>
    </fPhone>
  </Properties>
</Content>