<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a41fc86-a344-478b-a478-5fba7d4b30af" Alias="Shopping cart" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ShoppingCart</Path>
    <Trashed>false</Trashed>
    <ContentType>shoppingCart</ContentType>
    <CreateDate>2020-05-20T19:05:56</CreateDate>
    <NodeName Default="Shopping cart">
      <Name Culture="uk">Shopping cart</Name>
      <Name Culture="en-us">Shopping cart</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="80c3fa95-24c9-4e39-9318-f4868880daa5">ShoppingCart</Template>
  </Info>
  <Properties>
    <cartNav>
      <Value Culture="uk"><![CDATA[[
  {
    "key": "5daa39f4-3ece-4e13-89b8-89bdb2a48464",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "Кошик",
    "link": "umb://document/8a41fc86a344478ba4785fba7d4b30af"
  },
  {
    "key": "88ef066c-932a-4f23-b32c-7c03600e6317",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "Порівняння",
    "link": "umb://document/d8ce7c7d406f4780be07b8394e62ed3f"
  },
  {
    "key": "6d915dfd-0448-4300-a2c0-ab28680d25db",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "Переглянуті товари",
    "link": "umb://document/6b7daf68b03c4b20bb3df6877f9aa48e"
  },
  {
    "key": "fecf8700-735a-4e84-9028-9763e0546c27",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "Список побажань",
    "link": "umb://document/327e07ac37984ec4b5a754d3c6f519d9"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "9bdf8e17-f2cc-4e0e-945f-2f1dfd423076",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "Busket",
    "link": "umb://document/8a41fc86a344478ba4785fba7d4b30af"
  },
  {
    "key": "8a9964ee-43a6-4a8f-9202-6994e5ab5ea3",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "Comparison",
    "link": "umb://document/d8ce7c7d406f4780be07b8394e62ed3f"
  },
  {
    "key": "48d5088c-de3b-4062-99b1-e83be2b52733",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "Viewed products",
    "link": "umb://document/6b7daf68b03c4b20bb3df6877f9aa48e"
  },
  {
    "key": "05778f15-3cd2-4abe-b49e-cb98cf66d4bd",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "Wish list",
    "link": "umb://document/327e07ac37984ec4b5a754d3c6f519d9"
  }
]]]></Value>
    </cartNav>
    <goBack>
      <Value Culture="uk"><![CDATA[Назад]]></Value>
      <Value Culture="en-us"><![CDATA[Back]]></Value>
    </goBack>
    <SEOdesc>
      <Value><![CDATA[Інтернет-магазин Резервіст. Якість, сервіс, доступність. Замовляйте туристичне, тактичне та військове спорядження онлайн.]]></Value>
    </SEOdesc>
    <SEOimg>
      <Value><![CDATA[umb://media/123a525593484244857e4bbb9c145b4d]]></Value>
    </SEOimg>
    <SEOkeys>
      <Value><![CDATA[["адреса резервіст","інтернет-магазин резервіст","резервіст львів","військове спорядження","тактичне спорядження","тактичний одяг","туристичне спорядження","туризм львів","онлайн магазин"]]]></Value>
    </SEOkeys>
    <submit>
      <Value Culture="uk"><![CDATA[Оформити замовлення]]></Value>
      <Value Culture="en-us"><![CDATA[Submit order]]></Value>
    </submit>
    <title>
      <Value Culture="uk"><![CDATA[Кошик]]></Value>
      <Value Culture="en-us"><![CDATA[Busket]]></Value>
    </title>
    <total>
      <Value Culture="uk"><![CDATA[Разом]]></Value>
      <Value Culture="en-us"><![CDATA[Total]]></Value>
    </total>
  </Properties>
</Content>