<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd21998b-390c-47f6-9045-601a6e9a3daa" Alias="Shop Item" Level="3">
  <Info>
    <Parent Key="97773cf2-cb91-463e-84ea-97ccdab7f684">Shop</Parent>
    <Path>/Master/Shop/ShopItem</Path>
    <Trashed>false</Trashed>
    <ContentType>shopItem</ContentType>
    <CreateDate>2020-05-22T13:16:14</CreateDate>
    <NodeName Default="Shop Item">
      <Name Culture="uk">Shop Item</Name>
      <Name Culture="en-us">Shop Item</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="11ff197f-e2a6-4304-a85f-0676f61a3184">ShopItem</Template>
  </Info>
  <Properties>
    <addToBasket>
      <Value Culture="uk"><![CDATA[В кошик]]></Value>
      <Value Culture="en-us"><![CDATA[Add to cart]]></Value>
    </addToBasket>
    <all>
      <Value Culture="uk"><![CDATA[Все]]></Value>
      <Value Culture="en-us"><![CDATA[All]]></Value>
    </all>
    <artykul>
      <Value Culture="uk"><![CDATA[Артикул]]></Value>
    </artykul>
    <brand>
      <Value Culture="uk"><![CDATA[Бренд]]></Value>
      <Value Culture="en-us"><![CDATA[Brand]]></Value>
    </brand>
    <charact>
      <Value Culture="uk"><![CDATA[Характеристика]]></Value>
      <Value Culture="en-us"><![CDATA[Characteristics]]></Value>
    </charact>
    <colours>
      <Value Culture="en-us"><![CDATA[Colours]]></Value>
      <Value Culture="uk"><![CDATA[Колір]]></Value>
    </colours>
    <comment>
      <Value Culture="uk"><![CDATA[Залишити відгук]]></Value>
      <Value Culture="en-us"><![CDATA[Leave a review]]></Value>
    </comment>
    <countStars>
      <Value Culture="uk"><![CDATA[Кількість голосів]]></Value>
      <Value Culture="en-us"><![CDATA[Number of votes]]></Value>
    </countStars>
    <custReview>
      <Value Culture="uk"><![CDATA[Відгуки покупців]]></Value>
    </custReview>
    <custReviews>
      <Value Culture="uk"><![CDATA[Відгуки]]></Value>
      <Value Culture="en-us"><![CDATA[Reviews]]></Value>
    </custReviews>
    <desc>
      <Value Culture="uk"><![CDATA[Опис]]></Value>
      <Value Culture="en-us"><![CDATA[Description ]]></Value>
    </desc>
    <descAndChar>
      <Value Culture="en-us"><![CDATA[Description and characteristics]]></Value>
      <Value Culture="uk"><![CDATA[Опис і характеристика]]></Value>
    </descAndChar>
    <inStock>
      <Value Culture="uk"><![CDATA[В наявності]]></Value>
    </inStock>
    <leftComment>
      <Value Culture="uk"><![CDATA[Ваш коментар...]]></Value>
      <Value Culture="en-us"><![CDATA[Your comment...]]></Value>
    </leftComment>
    <needTo>
      <Value Culture="uk"><![CDATA[Необхідно авторизуватися або зареєструватися]]></Value>
    </needTo>
    <nextProd>
      <Value Culture="uk"><![CDATA[Наступний товар]]></Value>
      <Value Culture="en-us"><![CDATA[The next product]]></Value>
    </nextProd>
    <notInStock>
      <Value Culture="uk"><![CDATA[Немає]]></Value>
    </notInStock>
    <photo>
      <Value Culture="uk"><![CDATA[Фото]]></Value>
      <Value Culture="en-us"><![CDATA[Photo]]></Value>
    </photo>
    <rateIt>
      <Value Culture="uk"><![CDATA[Оцінити]]></Value>
      <Value Culture="en-us"><![CDATA[Rate]]></Value>
    </rateIt>
    <rating>
      <Value Culture="uk"><![CDATA[Рейтинг]]></Value>
      <Value Culture="en-us"><![CDATA[Rating]]></Value>
    </rating>
    <recomended>
      <Value Culture="uk"><![CDATA[Рекомендовані товари]]></Value>
    </recomended>
    <resetComm>
      <Value Culture="uk"><![CDATA[Відхилити]]></Value>
      <Value Culture="en-us"><![CDATA[Reject]]></Value>
    </resetComm>
    <shareWith>
      <Value Culture="uk"><![CDATA[Поділитися]]></Value>
      <Value Culture="en-us"><![CDATA[Share]]></Value>
    </shareWith>
    <sizes>
      <Value Culture="uk"><![CDATA[Розміри]]></Value>
      <Value Culture="en-us"><![CDATA[Sizes]]></Value>
    </sizes>
    <sizeTable>
      <Value Culture="uk"><![CDATA[Таблиця розмірів]]></Value>
      <Value Culture="en-us"><![CDATA[Size chart]]></Value>
    </sizeTable>
    <viewed>
      <Value Culture="uk"><![CDATA[Улюблені / Переглянуті]]></Value>
    </viewed>
    <writeReview>
      <Value Culture="uk"><![CDATA[Залишити відгук]]></Value>
      <Value Culture="en-us"><![CDATA[Leave a review]]></Value>
    </writeReview>
  </Properties>
</Content>