<?xml version="1.0" encoding="utf-8"?>
<Content Key="97773cf2-cb91-463e-84ea-97ccdab7f684" Alias="Shop" Level="2">
  <Info>
    <Parent Key="9383cdc6-d4cb-454c-a579-df4faa984f49">Master</Parent>
    <Path>/Master/Shop</Path>
    <Trashed>false</Trashed>
    <ContentType>shop</ContentType>
    <CreateDate>2020-05-20T13:56:51</CreateDate>
    <NodeName Default="Shop">
      <Name Culture="uk">Shop</Name>
      <Name Culture="en-us">Shop</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="6e9f7022-608c-4eaf-a2d7-670cdeeb7a68">Shop</Template>
  </Info>
  <Properties>
    <asceding>
      <Value Culture="uk"><![CDATA[Зростанням]]></Value>
      <Value Culture="en-us"><![CDATA[Asceding]]></Value>
    </asceding>
    <brand>
      <Value Culture="uk"><![CDATA[Бренд]]></Value>
      <Value Culture="en-us"><![CDATA[Brand]]></Value>
    </brand>
    <color>
      <Value Culture="uk"><![CDATA[Колір]]></Value>
      <Value Culture="en-us"><![CDATA[Color]]></Value>
    </color>
    <desceding>
      <Value Culture="uk"><![CDATA[Спаданням]]></Value>
      <Value Culture="en-us"><![CDATA[Desceding]]></Value>
    </desceding>
    <inBusket>
      <Value Culture="uk"><![CDATA[В кошик]]></Value>
      <Value Culture="en-us"><![CDATA[In busket]]></Value>
    </inBusket>
    <material>
      <Value Culture="uk"><![CDATA[Матеріал]]></Value>
      <Value Culture="en-us"><![CDATA[Material]]></Value>
    </material>
    <price>
      <Value Culture="uk"><![CDATA[Ціна]]></Value>
      <Value Culture="en-us"><![CDATA[Price]]></Value>
    </price>
    <SEOdesc>
      <Value><![CDATA[Інтернет-магазин Резервіст. Військовe, мисливське, туристичне спорядження та одяг.
Виробник тактичного та outdoor спорядження. Вишивка, патчі, символіка. Знижки та акції.]]></Value>
    </SEOdesc>
    <SEOimg>
      <Value><![CDATA[umb://media/123a525593484244857e4bbb9c145b4d]]></Value>
    </SEOimg>
    <SEOkeys>
      <Value><![CDATA[["знижки","акції","інтернет-магазин","інтернет-магазин резервіст","контакти резервіст","резервіст","військове спорядження","мисливське спорядження","туристичне спорядження","військовий одяг львів","тактичний одяг","тактичне спорядження","вишивка львів","патчі львів","символіка львів","погон","шеврон","берці"]]]></Value>
    </SEOkeys>
    <size>
      <Value Culture="uk"><![CDATA[Розмір]]></Value>
      <Value Culture="en-us"><![CDATA[Size]]></Value>
    </size>
    <sortBrand>
      <Value Culture="uk"><![CDATA[Брендом]]></Value>
      <Value Culture="en-us"><![CDATA[Brand]]></Value>
    </sortBrand>
    <sortBy>
      <Value Culture="uk"><![CDATA[Сортування за:]]></Value>
      <Value Culture="en-us"><![CDATA[Sort by:]]></Value>
    </sortBy>
    <sortName>
      <Value Culture="uk"><![CDATA[Ім'ям]]></Value>
      <Value Culture="en-us"><![CDATA[Name]]></Value>
    </sortName>
    <sortPrice>
      <Value Culture="uk"><![CDATA[Ціною]]></Value>
      <Value Culture="en-us"><![CDATA[Price]]></Value>
    </sortPrice>
    <sortRating>
      <Value Culture="uk"><![CDATA[Рейтингом]]></Value>
      <Value Culture="en-us"><![CDATA[Rating]]></Value>
    </sortRating>
    <submit>
      <Value Culture="uk"><![CDATA[Застосувати]]></Value>
      <Value Culture="en-us"><![CDATA[Apply]]></Value>
    </submit>
    <title>
      <Value Culture="uk"><![CDATA[Каталог товарів]]></Value>
      <Value Culture="en-us"><![CDATA[Product catalog]]></Value>
    </title>
  </Properties>
</Content>