<?xml version="1.0" encoding="utf-8"?>
<Content Key="b5b89a46-ea88-47d2-8272-d1e2fcf15b95" Alias="Sidney" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Sidney</Path>
    <Trashed Parent="659326d7-2869-4416-b8b6-0b0ed4a7d31f">true</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-02-16T04:04:08</CreateDate>
    <NodeName Default="Sidney" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[sidney@megaleadstree.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hello, MegaLeadsTree.com is shutting down.

We have made available all our leads in 145 countries at a one-time fee.

Visit us on MegaLeadsTree.com.]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Sidney]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Norway]]></Value>
    </fPhone>
  </Properties>
</Content>