<?xml version="1.0" encoding="utf-8"?>
<Content Key="16e9e159-2995-49c6-adbe-1eede5a20c63" Alias="Steel" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Steel</Path>
    <Trashed Parent="6f96a450-18a4-4bf6-8752-73580285ce1d">true</Trashed>
    <ContentType>bannerItem</ContentType>
    <CreateDate>2020-10-07T13:23:19</CreateDate>
    <NodeName Default="Steel">
      <Name Culture="uk">Steel</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <btn1>
      <Value><![CDATA[]]></Value>
    </btn1>
    <btn1Link>
      <Value><![CDATA[http://rezervist.com.ua/uk/Shop?req={%22filter%22:{%22catid%22:%22a8cb97d7-9eba-11e7-a15c-00155d8ca60e%22,%22minc%22:0},%22sortby%22:0}]]></Value>
    </btn1Link>
    <desc>
      <Value><![CDATA[]]></Value>
    </desc>
    <image>
      <Value Culture="uk"><![CDATA[umb://media/46300467981d492b972d643a666f34a7]]></Value>
    </image>
    <saleText>
      <Value><![CDATA[]]></Value>
    </saleText>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>