<?xml version="1.0" encoding="utf-8"?>
<Content Key="2dc2c35f-a13f-43b2-8238-566cae7b0cec" Alias="Stephenzem" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Stephenzem</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-29T01:56:44</CreateDate>
    <NodeName Default="Stephenzem" />
    <SortOrder>127</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[p.ol.yd.k.h.gon.98.s.pb@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Самые красивые девушки ждут вас 
https://lan05.biz/?p=my3genzumi5gi3bpg42dena]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Stephenzem]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[89983184919]]></Value>
    </fPhone>
  </Properties>
</Content>