<?xml version="1.0" encoding="utf-8"?>
<Content Key="66d42e4f-c5d4-44fa-911b-902df91b60c0" Alias="Steve Veronesi" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/SteveVeronesi</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-03-25T05:22:56</CreateDate>
    <NodeName Default="Steve Veronesi" />
    <SortOrder>25</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[KoreyLeyland@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Steve Veronesi]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[]]></Value>
    </fPhone>
  </Properties>
</Content>