<?xml version="1.0" encoding="utf-8"?>
<Content Key="82e7c450-e717-43ff-927f-63eb97b2f5e4" Alias="Steve" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Steve</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-05-01T01:57:12</CreateDate>
    <NodeName Default="Steve" />
    <SortOrder>51</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[gloversteve282@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hi,

We are reaching out to offer you our affordable web design service. 

Our unique approach involves using pre-made designs that we have created, which allows us to offer our services at a fraction of the cost compared to other agencies.

While we offer hundreds of designs, take a look at a few of our samples:

https://drive.google.com/drive/folders/18ZllnWz19KAS5WJHIb5W8kqEGlLLn680

We have a variety of designs to choose from, and we can also offer custom solutions such as booking systems or anything else that your specific business needs.

If you are interested, we would be happy to provide you with samples of our work that relate to your industry. Our team of experts is dedicated to delivering high-quality web design services that meet your expectations and budget.

Kind Regards,
Steve]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Steve]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Poland]]></Value>
    </fPhone>
  </Properties>
</Content>