<?xml version="1.0" encoding="utf-8"?>
<Content Key="069afb0f-676d-412a-86ce-e559bcecfda3" Alias="Susan" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Susan</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-20T16:08:00</CreateDate>
    <NodeName Default="Susan" />
    <SortOrder>318</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[matilda.mclemore@googlemail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hello,

I was on your site today and I wanted to see if you would be open to getting a FREE 7-Day trial of our AI Agents, like ChatGPT, but much better. 

Plus, our plans start as low as $10 per month if you decide to continue. 

Our AI Agents Can:

• Assist your team with tasks, projects and research, which will increase productivity.
• Crush to-do list by writing - ads, code, emails, content, sales copy, contracts & more.
• Give you time to focus on important things instead of handling mundane tasks.
• Save you time, save you money and make your team much more effective.
• Make sales calls, take inbound calls and answer support questions (coming soon).

... and much, MUCH more!

Watch our video here and see how we can help: https://bit.ly/myaa-trial 

Our clients are saving 20%- 30% on operational costs each month by using our AI Agents to handle hundreds of tasks.

Claim your FREE Trial Of our AI Agents Now, before this offer ends. Get started here: https://bit.ly/myaa-trial 

Best,

Susan Karsh
]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Susan]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Australia]]></Value>
    </fPhone>
  </Properties>
</Content>