<?xml version="1.0" encoding="utf-8"?>
<Content Key="55bfe950-3bc0-4b69-b2e8-920fe28b3571" Alias="Syed Atif" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/SyedAtif</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-07-06T08:04:36</CreateDate>
    <NodeName Default="Syed Atif" />
    <SortOrder>136</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[wmueller831@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hello, 
How are you doing? My name is Mr Syed Atif, and I am a financial consultant. I am reaching out to you today to offer my expertise, experience, and network of investors to assist you in achieving your business goals. 
 
We provide funding through our venture capital company to both start-up and existing companies either looking for funding for expansion or to accelerate growth in their company. 
 
We have a structured joint venture investment plan in which we are interested in an annual return on investment not more than 10% ROI. 
 
We are also currently structuring a convertible debt and loan financing of 3% interest repayable annually with no early repayment penalties. 
 
If you have a business plan or executive summary I can review to understand a much better idea of your business and what you are looking to do, this will assist in determining the best possible investment structure we can pursue and discuss more extensively. 
 
If you are interested in any of the above, kindly respond to us via this email 
sydatif@devcorpinternationalec.com I wait to hear from you. 
 
Sincerely, 
 
Syed Atif 
Investment Director 
Devcorp International E.C. 
P.O Box 10236 Shop No. 305 
Flr 3 Manama Centre, Bahrain 
Email: sydatif@devcorpinternationalec.com]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Syed Atif]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[86849273372]]></Value>
    </fPhone>
  </Properties>
</Content>