<?xml version="1.0" encoding="utf-8"?>
<Content Key="242f163c-cb32-4751-b724-53e2af164c45" Alias="test" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/test</Path>
    <Trashed Parent="3b85fdcb-3bdb-4573-af19-dcd74964f052">true</Trashed>
    <ContentType>forCustomersItem</ContentType>
    <CreateDate>2023-03-16T17:39:52</CreateDate>
    <NodeName Default="test" />
    <SortOrder>46</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="acb19ea4-36bb-4bda-ae14-58c372b66609">forCustomersItem</Template>
  </Info>
  <Properties>
    <anons>
      <Value><![CDATA[test]]></Value>
    </anons>
    <description>
      <Value><![CDATA[<p>test</p>]]></Value>
    </description>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <title>
      <Value><![CDATA[Test Title]]></Value>
    </title>
  </Properties>
</Content>