<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c33d4a1-d45c-47a5-84b2-4230537a00a4" Alias="TIgHoTZnCP" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/TIgHoTZnCP</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-03-13T22:16:05</CreateDate>
    <NodeName Default="TIgHoTZnCP" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[callvisvetlana@list.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Простые схемы внутри, все просто https://senler.ru/a/29xpm/gohx/759368335&BLvzd7sy9iE https://mail.ru rezervist.com.ua]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[TIgHoTZnCP]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[85221477114]]></Value>
    </fPhone>
  </Properties>
</Content>