<?xml version="1.0" encoding="utf-8"?>
<Content Key="7860ec6b-f6fb-4047-925a-508331ac6bb0" Alias="Toni" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Toni</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-10-09T22:20:57</CreateDate>
    <NodeName Default="Toni" />
    <SortOrder>248</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[nanney.toni@outlook.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[TimeSuite is the most advanced Construction and Project ERP ever produced.

Advanced because it’s simplistic, comprehensive and dynamic. The system conforms to your needs.

Advanced because it’s a single system (no modules).

Web, desktop and mobile interfaces to a single database.

Project Management, Accounting, Estimating, Scheduling, CRM, Task Management, Resource Management, On-Screen Take Off, Form Creation, Property Management, RFQs/Bid Packages and more.

Fully automated percentage of completion accounting with a full job schedule that ties to the income statement.

TimeSuite is new generation.

Learn more at TimeSuite.com.]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Toni]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Australia]]></Value>
    </fPhone>
  </Properties>
</Content>