<?xml version="1.0" encoding="utf-8"?>
<Content Key="81cce469-b607-4abe-a4b3-d7f412bd1f0a" Alias="Trevor" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Trevor</Path>
    <Trashed Parent="659326d7-2869-4416-b8b6-0b0ed4a7d31f">true</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2022-02-22T03:12:33</CreateDate>
    <NodeName Default="Trevor" />
    <SortOrder>39</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[logsdon.trevor78@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Congrats on your new site, get it listed here for free and we'll start sending people to your site https://bit.ly/submityourwebsite]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Trevor]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[France]]></Value>
    </fPhone>
  </Properties>
</Content>