<?xml version="1.0" encoding="utf-8"?>
<Content Key="0dd606ff-ec44-4b5a-89aa-ff4fddaf4965" Alias="Vania" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Vania</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-10-02T22:15:52</CreateDate>
    <NodeName Default="Vania" />
    <SortOrder>239</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[vania.rupp@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[I was sending you this message on your website contact page (rezervist.com.ua) to show you how contact form advertising works. We can send messages just like these for your business to millions of sites for less than a couple of hundred dollars. Let's get the conversation started and I'll share pricing and more details. Hit me up on Skype for a chat now -->  live:.cid.303294bd15a81bc7]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Vania]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Australia]]></Value>
    </fPhone>
  </Properties>
</Content>