<?xml version="1.0" encoding="utf-8"?>
<Content Key="002d4bb4-76f8-4cdd-9ce3-81ab24b9aa13" Alias="VasyaCE" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/VasyaCE</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-07-26T23:38:03</CreateDate>
    <NodeName Default="VasyaCE" />
    <SortOrder>158</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[yourmail@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Жители Украины. Передайте родным и друзьям, кто на фронте, если хотят выжить пусть  на любом Баофенге установят частоту 149.200 и вызывают "Волгу". Смогут сдаться и остаться в живых.]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[VasyaCE]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[86217718168]]></Value>
    </fPhone>
  </Properties>
</Content>