<?xml version="1.0" encoding="utf-8"?>
<Content Key="beaa6496-7138-4d97-ae11-239b20308485" Alias="vdtyFXmzgE" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/vdtyFXmzgE</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-08-29T17:57:03</CreateDate>
    <NodeName Default="vdtyFXmzgE" />
    <SortOrder>195</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[callvisvetlana@list.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Вам хороший вариант вот тут ArataurNiladwyn@gmail.com 000*** rezervist.com.ua]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[vdtyFXmzgE]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[81537638776]]></Value>
    </fPhone>
  </Properties>
</Content>