<?xml version="1.0" encoding="utf-8"?>
<Content Key="e91cc028-42e7-4350-afac-122f811baf4a" Alias="Verla" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Verla</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-07-18T03:15:03</CreateDate>
    <NodeName Default="Verla" />
    <SortOrder>148</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[currey.verla@yahoo.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Рады приветствовать вас! 
Хотим предложить лучшие прогоны "убийцы" для интернет-сайтов конкурента. Цена: от 7 тыс рублей. 
- 100% результат. Онлайн-сайты точно "умрут". 
- Максимально возможное количество отрицательных фитбеков. 
- Собрана специфическая база - максимально "убийственные" площадки из 10 000 000 ресурсов (вирусных, спамных, порно и тому подобных). Это работает безотказно. 
- Прогон делаем одновременно с 4 серверов. 
- Постоянная отправка активационных ссылок на электронную почту. 
- Выполнение в течение 40-240 часов круглыми сутками. Растянем по времени как угодно. 
- Прогон с запрещёнными ключами. 
Телегрм: @exrumer 
Skype: xrumer.pro
WatSapp: +7 (977)536-08-36
icq: 5688885
Только эти!]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Verla]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[United States]]></Value>
    </fPhone>
  </Properties>
</Content>