<?xml version="1.0" encoding="utf-8"?>
<Content Key="f68b2f6c-2be2-4a3d-a03d-fc0ee123fff6" Alias="Videoviews" Level="2">
  <Info>
    <Parent Key="9383cdc6-d4cb-454c-a579-df4faa984f49">Master</Parent>
    <Path>/Master/Videoviews</Path>
    <Trashed>false</Trashed>
    <ContentType>videoviews</ContentType>
    <CreateDate>2020-05-20T14:24:19</CreateDate>
    <NodeName Default="Videoviews">
      <Name Culture="uk">Videoviews</Name>
      <Name Culture="en-us">Videoviews</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template Key="fd7c51e7-2c7f-4384-8a8f-725d3ec7a25d">Videoviews</Template>
  </Info>
  <Properties>
    <goBack>
      <Value Culture="uk"><![CDATA[Всі відеоогляди]]></Value>
      <Value Culture="en-us"><![CDATA[All video reviews]]></Value>
    </goBack>
    <next>
      <Value Culture="uk"><![CDATA[Наступне]]></Value>
      <Value Culture="en-us"><![CDATA[Next]]></Value>
    </next>
    <previous>
      <Value Culture="uk"><![CDATA[Попереднє]]></Value>
      <Value Culture="en-us"><![CDATA[Previous]]></Value>
    </previous>
    <readMore>
      <Value Culture="uk"><![CDATA[Детальніше]]></Value>
      <Value Culture="en-us"><![CDATA[Read more]]></Value>
    </readMore>
    <shareWith>
      <Value Culture="uk"><![CDATA[Поділитися]]></Value>
      <Value Culture="en-us"><![CDATA[Share]]></Value>
    </shareWith>
    <title>
      <Value Culture="uk"><![CDATA[Відеоогляди]]></Value>
      <Value Culture="en-us"><![CDATA[Video reviews]]></Value>
    </title>
  </Properties>
</Content>