<?xml version="1.0" encoding="utf-8"?>
<Content Key="6775b826-29f2-4d55-aca3-0bcae9739390" Alias="ViktoriyaKozodub" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/ViktoriyaKozodub</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-09-23T15:24:43</CreateDate>
    <NodeName Default="ViktoriyaKozodub" />
    <SortOrder>224</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[sale@websciai.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Привет, 
 
Мы представляем студию Webscience - веб-разработчика и маркетингового агентства, специализирующегося на создании и продвижении сайтов. Мы хотели бы предложить вам следующие услуги: 
?  Разработка сайтов визиток - Мы создаем привлекательные и удобные сайты, которые помогут вам представить вашу компанию и привлечь новых клиентов. 
?  Разработка сайтов каталогов - Мы создаем эффективные решения для представления ваших товаров и услуг, помогая вам увеличить продажи и привлечь новых клиентов. 
?  Разработка корпоративных сайтов - Мы создаем профессиональные и функциональные сайты, которые помогут вам представить вашу компанию и укрепить вашу репутацию. 
?  SEO продвижение и реклама в Яндекс - Мы предлагаем услуги по оптимизации вашего сайта для поисковых систем и настройке рекламных кампаний в Яндекс Директ, чтобы привлечь больше целевой аудитории и увеличить конверсию. 
?  Модернизация сайтов, которые не приносят заявки- если ваш сайт не приносит достаточно заявок, мы поможем вам выявить проблемы и предложим решения для его улучшения, чтобы он стал более эффективным инструментом привлечения клиентов. 
?  Аудит рекламной компании, если она не приносит ожидаемых результатов, мы проведем аудит и предложим рекомендации по ее улучшению, чтобы вы получили максимальную отдачу от вложенных средств. 
Все работы проводим строго по договору (оплата с НДС или без НДС), фиксируем сроки выполнения работ. Для работы с заказчиками из СНГ и Европы предлагаем использовать компанию резидента Армении. Если вас заинтересовали наши услуги, пожалуйста, свяжитесь с нами для получения более подробной информации или для обсуждения ваших потребностей и целей. Мы готовы помочь вам достичь успеха в онлайн-бизнесе. 
 
Наши контакты: 
 
Тел. +7499-673-26-31 
WhatsApp/Telegram +7926-999-02-54 
Email sale@websciai.com 
Подробнее на нашем сайте https://websciai.com/ 
 
С уважением, 
Команда Webscience]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[ViktoriyaKozodub]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[85798445529]]></Value>
    </fPhone>
  </Properties>
</Content>