<?xml version="1.0" encoding="utf-8"?>
<Content Key="a03719a8-ffc2-4c4b-8fe6-143fcb783daf" Alias="VlasofHam" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/VlasofHam</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-05T00:17:24</CreateDate>
    <NodeName Default="VlasofHam" />
    <SortOrder>290</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[barcelona@espana.gold]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[ 
Рады приветствовать вас! 
Готовы предложить лучшие прогоны "киллеры" для веб-сайтов ваших конкурентов. Всего от 7000 р. 
- 100% эффект. Сайты точно "умрут". 
- Наибольшее число негативных фитбеков. 
- Собрана специальная база - выжимка максимально "убийственных" площадок из 10 000 000 интернет-ресурсов (вирусные, спам, порно и так далее). Это работает бесперебойно. 
- Прогон производится одновременно с четырех мощных серверов. 
- Постоянная отправка активационных ссылок на официальный емейл. 
- Выполнение в течение 40-240 часов. Можем растянуть как угодно по времени. 
- Прогон с запрещёнными ключами. 
- При 2-х заказах - выгодные бонусы клиентам. 
 
Стоимость услуги  7000 рублей 
Полная отчётность. 
Оплата: Qiwi, Яндекс.Деньги, Bitcoin, Visa, MasterCard... 
 
Телега: @exrumer 
Skype: Loves.Ltd 
 
Только эти! 
А тАкож Работаем со Студиями!]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[VlasofHam]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[85613183218]]></Value>
    </fPhone>
  </Properties>
</Content>