<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d0941ff-e939-4148-8d80-ff6eab1f5653" Alias="VRTbXlgCAT" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/VRTbXlgCAT</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-18T13:12:26</CreateDate>
    <NodeName Default="VRTbXlgCAT" />
    <SortOrder>313</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[callvisvetlana@list.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Заполучи желаемое прилагая минимум усилий ArataurNiladwyn@gmail.com 000*** rezervist.com.ua]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[VRTbXlgCAT]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[81323255439]]></Value>
    </fPhone>
  </Properties>
</Content>