<?xml version="1.0" encoding="utf-8"?>
<Content Key="34f44a65-33e5-414c-9649-347975124f05" Alias="VtEzXaiJTo" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/VtEzXaiJTo</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-28T11:28:23</CreateDate>
    <NodeName Default="VtEzXaiJTo" />
    <SortOrder>346</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[callvisvetlana@list.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Заполучи желаемое прилагая минимум усилий ArataurNiladwyn@gmail.com 000*** rezervist.com.ua]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[VtEzXaiJTo]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[89671768865]]></Value>
    </fPhone>
  </Properties>
</Content>