<?xml version="1.0" encoding="utf-8"?>
<Content Key="9bf9460d-f322-4873-b588-ffc21d3d7644" Alias="WayneNacle" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/WayneNacle</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-23T13:43:05</CreateDate>
    <NodeName Default="WayneNacle" />
    <SortOrder>327</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[ryanmcgowan313@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[From $9000 to Prosperity: Earnings on Investments Unveiled https://marketplacebest888.sell.app/product/what-experts-are-silent-about-or-top-17-cryptocurrencies-that-will-soon-fly-to-the-moon?3971301]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[WayneNacle]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[84893799299]]></Value>
    </fPhone>
  </Properties>
</Content>