<?xml version="1.0" encoding="utf-8"?>
<Content Key="eb7411bf-cb74-42fe-9c51-da21e28277fc" Alias="Wesley" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Wesley</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-07-13T08:20:40</CreateDate>
    <NodeName Default="Wesley" />
    <SortOrder>143</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[wesley.eckert@outlook.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Доброго утра! 
Представляем самые лучшие прогоны "киллеры" для сайтов ваших конкурентов. Всего от 7 000 рублей. 
- 100% результат. Онлайн-сайты точно "упадут". 
- Максимальное количество негативных фитбеков. 
- Собрана особая база - максимально "убийственные" площадки из 10 000 000 сайтов (порно, вирусные, спамные и так далее). Это работает безотказно. 
- Прогон выполняется одновременно с четырех мощных серверов. 
- Отправка активационных ссылок на официальный email. 
- Выполнение на протяжении 40-240 часов. Можем растянуть по времени как угодно. 
- Прогоняем с запретными ключами. 
Telegrm: @exrumer 
Skype: xrumer.pro
WatSapp: +7 (977)536-08-36
icq: 5688885
Только эти!]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Wesley]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Austria]]></Value>
    </fPhone>
  </Properties>
</Content>