<?xml version="1.0" encoding="utf-8"?>
<Content Key="16d4996a-3a34-4441-b0f3-0131c6a4f179" Alias="WilbertHeish" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/WilbertHeish</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-07-21T18:59:57</CreateDate>
    <NodeName Default="WilbertHeish" />
    <SortOrder>152</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[patmores@bluemail.ch]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Sale. Hurry up to buy a Bitcoin wallet with a balance of 12600 BTC - 3 days left http://hunt12600BTCnow.mulhereslivres.online/rushBTC12600]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[WilbertHeish]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[86183775797]]></Value>
    </fPhone>
  </Properties>
</Content>