<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e7a7c3b-e157-4aeb-9a07-5acfdbc49818" Alias="William" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/William</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-10-26T05:10:01</CreateDate>
    <NodeName Default="William" />
    <SortOrder>276</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[typliai@kagrowth.org]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Hey!
Typli.ai is the writing assistant that writes ALL the marketing copy for you & your clients using a simple command as your input!

Check it out here in this short video: https://www.kagrowth.org/typliai 

With NEVER-BEFORE-SEEN features like...

? Artificial Intelligence uses over 50 writing commands to help you create the perfect copy in whatever niche you want.
 
? Chrome and Mozilla extensions + A WordPress Plugin to help you generate content straight from your WordPress blog or any other text editor. 
  
? Ability to control the number of words you would like to generate per article
 
? A BUILT-IN SEO checker to help you optimize your article before publication. 
 
? Keyword Analytics and Keyword suggestion
 
? And lots more...
 
Now since you are my long-time customer, I am extending you the same offer I extended to those that were at the LIVE launch event.

You can get Typli.ai for a fraction of what it costs publicly.

Now - if you go and buy this through the normal pricing, you'd be set back $348.

But - since you have been a customer for a long time, I am extending you this offer where you can get access to Typli.ai for a fraction of what it'd otherwise cost you.

Go here and get Typli.ai right now: https://www.kagrowth.org/typliai 
Sincerely,
William Lee


UNSUBSCRIBE: https://www.kagrowth.org/unsubscribe

Address: 3681 Ming Ave, Bakersfield, CA 93309]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[William]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[United States]]></Value>
    </fPhone>
  </Properties>
</Content>