<?xml version="1.0" encoding="utf-8"?>
<Content Key="755a1c10-abeb-4e2f-bc70-ec46e28e5d01" Alias="Wilson" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Wilson</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-09-17T12:55:15</CreateDate>
    <NodeName Default="Wilson" />
    <SortOrder>219</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[wilson.mcevoy87@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Quick question to ask you...
 
Are you aware that in 2023, email marketing still works? 
The fact that you are reading these lines is proof of that.

Email marketing is underrated, and yet it works so well.  
All you have to do is find some emails, send a message and cash in.

For example, to find emails you can use this service: https://garymarketing.com/go/scrap-gmap

It extracts emails, phone numbers, and lots of other information from Google Map listings.

Of course, there are plenty of other ways to get in touch with your ideal customers.
Contact me on Skype and let's discuss what will work for your product/service. 
- My Skype ID: live:.cid.6b79b1d5a11a2ec7
- My Blog : garymarketing.com


Regards,
Gary & Ophélie



------ 

J'ai une petite question à vous poser...

Savez-vous qu'en 2023, l'email marketing fonctionne toujours très bien ? 
La preuve, vous lisez ces lignes.

L'email marketing est clairement sous-couté,
Il  suffit de trouver les coordonnées de vos clients idéaux, d'entrer en contact, et d'encaisser.

Pour trouver les coordonnées d'entreprise, vous pouvez par exemple utiliser ce service : scrapmybusiness.com
Il permet d'extraire les emails, les numéros de téléphone et de nombreuses autres informations a partir des fiches entreprises de Google Map.

Bien sur il y'a plein d'autre solutions pour entrer en contact avec vos clients idéaux

Ajouter moi sur Skype et discutons de ce qui conviendrait le plus pour promouvoir votre produit/service.
- Identifiant Skype: live:.cid.83c9da999a4f9f
- Mon Blog : http://garymarketing.com

Cordialement,
Ophélie et Gary.]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Wilson]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[Australia]]></Value>
    </fPhone>
  </Properties>
</Content>