<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ad92ac8-7b50-4fc1-80b1-9c1d409d47db" Alias="WlasovHam" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/WlasovHam</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-02T13:19:21</CreateDate>
    <NodeName Default="WlasovHam" />
    <SortOrder>286</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[barcelona@espana.gold]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[ 
Здравствуйте! 
Представляем самые лучшие прогоны, способные "угробить" сайты конкурентов. Всего от 7 000 руб. 
- 100% результат. Сайты ваших конкурентов "упадут". 
- Максимальное количество отрицательных фитбеков. 
- Наша особая база - максимально сильные площадки из 10 млн. ресурсов (порно, вирусных, спамных и тому подобных). Работает безотказно. 
- Прогон проводим сразу с 4 мощных серверов. 
- Постоянный спам активационных ссылок на email. 
- Выполнение заказа на протяжении 40-240 часов. Растянем по времени как угодно. 
- Прогоняем с запрещёнными ключевыми фразами. 
- При 2-х заказах - хорошие бонусы. 
 
Цена  80$ 
Полная отчётность. 
Оплата: Qiwi, Яндекс.Деньги, Bitcoin, Visa, MasterCard... 
 
Телегрм: @exrumer 
Skype: Loves.Ltd 
 
Только эти! 
А тАкож Работаем со Студиями!]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[WlasovHam]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[82643329681]]></Value>
    </fPhone>
  </Properties>
</Content>