<?xml version="1.0" encoding="utf-8"?>
<Content Key="2a058f77-a8fa-48d2-843d-03e14b35f411" Alias="XzvXyVSpks" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/XzvXyVSpks</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-03-23T18:30:58</CreateDate>
    <NodeName Default="XzvXyVSpks" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[mitaxebandilis@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[You priz now won https://forms.gle/YZWQLkRGtQhRymyv9 https://google.com rezervist.com.ua]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[XzvXyVSpks]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[81677299799]]></Value>
    </fPhone>
  </Properties>
</Content>