<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d5821ad-49fb-4668-8d30-bc6716b6ac83" Alias="ZNMRzBmQXW" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/ZNMRzBmQXW</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-03-10T00:26:07</CreateDate>
    <NodeName Default="ZNMRzBmQXW" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[callvisvetlana@list.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Простые схемы внутри, все просто https://senler.ru/a/29xpm/gohx/759368335&ODZxB0D3Tqj https://google.com rezervist.com.ua]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[ZNMRzBmQXW]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[86293217561]]></Value>
    </fPhone>
  </Properties>
</Content>