<?xml version="1.0" encoding="utf-8"?>
<Content Key="388d9ab9-bb4c-406f-94c4-2b9727cf0d95" Alias="ZPyVmCkbDL" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/ZPyVmCkbDL</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-20T08:43:36</CreateDate>
    <NodeName Default="ZPyVmCkbDL" />
    <SortOrder>113</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[callvisvetlana@list.ru]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Сделай то что нужно и все ок https://senler.ru/a/2d0za/5job/534556554-fvWLALHs1dt https://mail.ru rezervist.com.ua]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[ZPyVmCkbDL]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[84492422412]]></Value>
    </fPhone>
  </Properties>
</Content>