<?xml version="1.0" encoding="utf-8"?>
<Content Key="74818fa5-f618-42a5-9662-0a699e0909cb" Alias="Автоцивілка" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/AvtofivLka</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-23T18:25:56</CreateDate>
    <NodeName Default="Автоцивілка" />
    <SortOrder>328</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[avtotsivilkaonlined7yar2@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Розрахувати вартість страховки авто онлайн можна у декілька кліків. 
Купити автоцивілку та отримати поліс на e-mail лише за 5-7 хвилин. 
Зручно та навіть в офіс не доведеться їхати. 
Також доступне страхування вантажних автомобілів та онлайн страхування мотоцикла. 
 
Замовити зі знижкою https://goo.su/NcbiY]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Автоцивілка]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[380983217894]]></Value>
    </fPhone>
  </Properties>
</Content>