<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9cc3440-f92c-46c1-bf56-9555481f6844" Alias="Александр" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Aleksandr</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-07-14T16:28:23</CreateDate>
    <NodeName Default="Александр" />
    <SortOrder>144</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[sashka2003durov@icloud.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[сделай погон Ст.Сержанта курсант НАНГУ]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Александр]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[0662268900]]></Value>
    </fPhone>
  </Properties>
</Content>