<?xml version="1.0" encoding="utf-8"?>
<Content Key="8953aa13-a464-4d42-9eee-1dc36b57509e" Alias="Анастасія " Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/AnastasYa</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-03-22T10:49:48</CreateDate>
    <NodeName Default="Анастасія " />
    <SortOrder>22</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[annnmzzz@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Треба консультація, бо є запит від розвідників, що треба універсальні компактні набори для чищення АК-74, на калібр 5.45.
]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Анастасія ]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[0982869857]]></Value>
    </fPhone>
  </Properties>
</Content>