<?xml version="1.0" encoding="utf-8"?>
<Content Key="ed4467d2-7476-4732-9803-abc86a59dc7c" Alias="Анатолій" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/AnatolI</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-08-07T19:35:57</CreateDate>
    <NodeName Default="Анатолій" />
    <SortOrder>174</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[tolost1977@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Добрый день
Потрібні шеврони СБДР нацгвардія західне ото]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Анатолій]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[0964039240]]></Value>
    </fPhone>
  </Properties>
</Content>