<?xml version="1.0" encoding="utf-8"?>
<Content Key="68ccded0-9f50-4ada-9124-df93f57ce245" Alias="Богдан" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Bogdan</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-05-31T13:35:49</CreateDate>
    <NodeName Default="Богдан" />
    <SortOrder>85</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[terytoria@ukr.net]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Богдан]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[+38(067) 676-10-71]]></Value>
    </fPhone>
  </Properties>
</Content>