<?xml version="1.0" encoding="utf-8"?>
<Content Key="52e7f4b3-81c1-454c-9d33-3d2d936d91ce" Alias="Влад (1)" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Vlad1</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-10-23T10:38:12</CreateDate>
    <NodeName Default="Влад (1)" />
    <SortOrder>268</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[vladb0303@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Хочу замовити погони («КАПІТАН» піксель, олива) 
Прізвище (піксель, олива) 
Збройні сили (піксель, олива) 
Знак 30 омбр олива та артилерійський 

НО Є ПРОБЛЕМА В МЕНЕ НЕМАЄ ЗВЯЗКУ ]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Влад]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[0683303738]]></Value>
    </fPhone>
  </Properties>
</Content>