<?xml version="1.0" encoding="utf-8"?>
<Content Key="f0fcc9ff-ef57-49f0-9f37-3b35658be6b8" Alias="Гроші до свят" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/GroshDoSvyat</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-24T17:15:56</CreateDate>
    <NodeName Default="Гроші до свят" />
    <SortOrder>334</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[avtotsivilkaonlined6qubrqi2@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[З настанням святкового сезону ми всі думаємо про ідеальні подарунки для наших близьких, але на все потрібні грощі. 
Бери 10000 зараз і віддавай через 10 днів усього на 10 гривень більше = 10010 гривень. 
 
Взяти тут https://goo.su/6Qubrqi]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Гроші до свят]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[380983217895]]></Value>
    </fPhone>
  </Properties>
</Content>