<?xml version="1.0" encoding="utf-8"?>
<Content Key="c3ebaedc-3e5c-442c-80ce-54bcd14f0cc0" Alias="Марія" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/MarYa</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-07-26T15:09:05</CreateDate>
    <NodeName Default="Марія" />
    <SortOrder>157</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[fedmaria13@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Доброго дня! Хотіла б замовити у вас шеврони, яка ціна ?]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Марія]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[0980727088]]></Value>
    </fPhone>
  </Properties>
</Content>