<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2d47120-5566-4875-b313-7fce2daedadb" Alias="Максим" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Maksim</Path>
    <Trashed Parent="659326d7-2869-4416-b8b6-0b0ed4a7d31f">true</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2022-03-01T17:38:14</CreateDate>
    <NodeName Default="Максим" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[wot18012016@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Хотів дізнатись з приводу замовлення, чекати?]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Максим]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[+380939948974]]></Value>
    </fPhone>
  </Properties>
</Content>