<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e05c02c-cd22-46e8-82bc-27bf6e1d4f80" Alias="Микола" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Mikola</Path>
    <Trashed Parent="659326d7-2869-4416-b8b6-0b0ed4a7d31f">true</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2022-03-01T13:39:11</CreateDate>
    <NodeName Default="Микола" />
    <SortOrder>27</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[zorenkonikolaj30@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Цікавлять рпс та плитоноски (колір олива)]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Микола]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[0984085006]]></Value>
    </fPhone>
  </Properties>
</Content>