<?xml version="1.0" encoding="utf-8"?>
<Content Key="935df3f6-af5f-48f8-b179-b1128dea7237" Alias="Михайло" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Mikhailo</Path>
    <Trashed Parent="659326d7-2869-4416-b8b6-0b0ed4a7d31f">true</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2022-03-01T16:42:00</CreateDate>
    <NodeName Default="Михайло" />
    <SortOrder>25</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[Michael_lopaychuk@i.ua]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Доброго дня! Є потреба в плитоносах, ремінно-поясних системах з обвісом в кількості 50-60 комплектів, кольори койот, мультикам, олива. Зв'яжіться бідьласка зі мною.]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Михайло]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[+380985082849]]></Value>
    </fPhone>
  </Properties>
</Content>