<?xml version="1.0" encoding="utf-8"?>
<Content Key="eb300c7c-e288-463b-bc96-e42b9d97f3b7" Alias="Микола (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Mikola1</Path>
    <Trashed Parent="659326d7-2869-4416-b8b6-0b0ed4a7d31f">true</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2022-03-01T13:39:25</CreateDate>
    <NodeName Default="Микола (1)" />
    <SortOrder>26</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[zorenkonikolaj30@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Цікавлять рпс та плитоноски (колір олива)]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Микола]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[0984085006]]></Value>
    </fPhone>
  </Properties>
</Content>