<?xml version="1.0" encoding="utf-8"?>
<Content Key="7adbeaef-7261-4459-b40c-862ca03b927b" Alias="Мультитули Ganzo" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/MulTituliGanzo</Path>
    <Trashed Parent="6f96a450-18a4-4bf6-8752-73580285ce1d">true</Trashed>
    <ContentType>bannerItem</ContentType>
    <CreateDate>2020-12-16T12:44:45</CreateDate>
    <NodeName Default="Мультитули Ganzo">
      <Name Culture="uk">Мультитули Ganzo</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="uk">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <btn1>
      <Value><![CDATA[]]></Value>
    </btn1>
    <btn1Link>
      <Value><![CDATA[http://rezervist.com.ua/uk/Shop?req={%22filter%22:{%22catid%22:%22a8cb97c5-9eba-11e7-a15c-00155d8ca60e%22,%22minc%22:0},%22sortby%22:0}]]></Value>
    </btn1Link>
    <desc>
      <Value><![CDATA[]]></Value>
    </desc>
    <image>
      <Value Culture="uk"><![CDATA[umb://media/3cccac1364934e1e9a450a2fdce06d3f]]></Value>
    </image>
    <saleText>
      <Value><![CDATA[]]></Value>
    </saleText>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>