<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc879123-2c26-424f-839c-c3533abe72ee" Alias="Назар" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Nazar</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-03-14T15:47:50</CreateDate>
    <NodeName Default="Назар" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[nazarzubrytskyi@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Доброго дня, чи діють знижки для працівників поліції]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Назар]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[0988785753]]></Value>
    </fPhone>
  </Properties>
</Content>