<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf280146-a105-4486-b9ec-7d1967248842" Alias="Олександр" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Oleksandr</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-04-26T21:47:54</CreateDate>
    <NodeName Default="Олександр" />
    <SortOrder>46</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[sashka012014@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Вітаю Вас. Як підтвердити, що я діючий військовослужбовець ЗСУ? Як надіслати копію посвідчення офіцера? З повагою Олександр. ]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Олександр]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[0974779782]]></Value>
    </fPhone>
  </Properties>
</Content>