<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8b50f13-e70b-4916-a6bf-15a89bc2e42a" Alias="Олександр (2)" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Oleksandr2</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-08-09T13:08:52</CreateDate>
    <NodeName Default="Олександр (2)" />
    <SortOrder>175</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[media.project@ukr.net]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Доброго дня. Чи є навності футболка розміру XXL чи XXXL з логотипами 81 оаембр та ДШВ на рукавах, а на спині герб ДШВ (купол, крила, меч)?]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Олександр]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[0979351308]]></Value>
    </fPhone>
  </Properties>
</Content>