<?xml version="1.0" encoding="utf-8"?>
<Content Key="cfc06872-f362-4d5b-b7a6-1f9f91a4ca3f" Alias="Олексій" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/OleksI</Path>
    <Trashed Parent="659326d7-2869-4416-b8b6-0b0ed4a7d31f">true</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-02-14T16:49:52</CreateDate>
    <NodeName Default="Олексій" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[tenroka22@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Доброго дня. Скільки буде коштувати замовити у вас шеврон з власним дизайном в кількості 2 шт?]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Олексій]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[0663597115]]></Value>
    </fPhone>
  </Properties>
</Content>