<?xml version="1.0" encoding="utf-8"?>
<Content Key="62eb6d6f-b0bf-465b-92a6-8441c9fcec37" Alias="Олексій " Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/OleksI</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-10-17T13:00:49</CreateDate>
    <NodeName Default="Олексій " />
    <SortOrder>259</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[bychko.aleksej@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Підкажіть будь ласка коли мені відправлять моє замовлення Rezervist -  90de9894-6f64-4a7d-ba1d-406d4ffc2f4f]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Олексій ]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[0505472956]]></Value>
    </fPhone>
  </Properties>
</Content>