<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ac8bbab-6f8f-49d9-b7cb-a7e3b77651fa" Alias="Ольга " Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/OlGa</Path>
    <Trashed Parent="659326d7-2869-4416-b8b6-0b0ed4a7d31f">true</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2022-03-03T23:07:13</CreateDate>
    <NodeName Default="Ольга " />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[olhabatlyk@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Чи можна купити бушлат ДПСУ або ЗСУ]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Ольга ]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[0663550792]]></Value>
    </fPhone>
  </Properties>
</Content>