<?xml version="1.0" encoding="utf-8"?>
<Content Key="967c1d92-af13-46e5-8f2b-0369d39a73d6" Alias="Ольга" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/OlGa</Path>
    <Trashed Parent="659326d7-2869-4416-b8b6-0b0ed4a7d31f">true</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2022-03-03T12:21:11</CreateDate>
    <NodeName Default="Ольга" />
    <SortOrder>22</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[Olgavelikaa080@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Ольга]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[380665552420]]></Value>
    </fPhone>
  </Properties>
</Content>