<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d242093-e210-4e6b-8860-fbd23d3faa5a" Alias="Орест" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Orest</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-03-27T12:57:18</CreateDate>
    <NodeName Default="Орест" />
    <SortOrder>26</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[orestshklar@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Привіт, підкажіть, будь ласка, коли можна очікувати футболки 80 дшбр у розмірі М?
Артикул RE-00003634]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Орест]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[0934206295]]></Value>
    </fPhone>
  </Properties>
</Content>