<?xml version="1.0" encoding="utf-8"?>
<Content Key="e25fb0f0-2f0c-4b6b-a0d8-64ce60fa0a3d" Alias="Подарунки" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Podarunki</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-11-24T01:32:35</CreateDate>
    <NodeName Default="Подарунки" />
    <SortOrder>329</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[avtotsivilkaonlined6qubrqi@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Продовжуємо тішити крутими акціями та дарувати цікаві подарунки! 
Цього разу, ми підготували для вас 60 неймовірних сертифікатів від giftmall різних послуг та товарів на 40 000 грн. 
 
Ви маєте повну свободу у виборі подарунка, адже гаджети, прикраси, продукти, емоції та послуги — це тільки п’ять пунктів з мільйона сюрпризів, що ховаються у сертифікатах Giftmall. 
 
Детальніше за посиланням https://goo.su/6Qubrqi]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Подарунки]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[380983217895]]></Value>
    </fPhone>
  </Properties>
</Content>