<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3acc5f6-1fbe-4efc-b3d1-d5802a3334d8" Alias="Руслана " Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Ruslana</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-09-06T14:53:00</CreateDate>
    <NodeName Default="Руслана " />
    <SortOrder>203</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[ruslanavynnyk1608@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Доброго дня.Цікавить розмірна сітка на футболки ]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Руслана ]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[0936510611]]></Value>
    </fPhone>
  </Properties>
</Content>