<?xml version="1.0" encoding="utf-8"?>
<Content Key="53dd0d80-971b-4a4a-b7cc-5994edf56be0" Alias="світлана" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/svTlana</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-04-08T18:07:55</CreateDate>
    <NodeName Default="світлана" />
    <SortOrder>33</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[Koltunsv@ukr.net]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[вулиця Гетьмана Мазепи 177 Івано-Франківськ 
Івано-Франкіиська область 76026]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[світлана]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[о997049410]]></Value>
    </fPhone>
  </Properties>
</Content>