<?xml version="1.0" encoding="utf-8"?>
<Content Key="403fc6a3-a1b5-48ac-a570-d4a998ae1d59" Alias="світлана (2)" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/svTlana2</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-04-10T11:10:39</CreateDate>
    <NodeName Default="світлана (2)" />
    <SortOrder>36</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[Koltunsv@ukr.net]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[чи відіслали ви нам намет mfh Івано-Франківськ 
Чорновола 3 відділеня №5 нова пошта]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[світлана]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[о997049410]]></Value>
    </fPhone>
  </Properties>
</Content>