<?xml version="1.0" encoding="utf-8"?>
<Content Key="b39e8de1-1abe-41b5-ada7-1443744ad9c9" Alias="Сергій" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/SergI</Path>
    <Trashed Parent="659326d7-2869-4416-b8b6-0b0ed4a7d31f">true</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2022-09-19T23:12:03</CreateDate>
    <NodeName Default="Сергій" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[sergeykorobcuk@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Доброго дня! Підкажіть будь ласка чи є наразі в наявності у Вас футболки Airborne? Потрібно 15 з різними розмірами.  Надішліть відповідь на емейл, телефон наразі недоступний. Дякую зарання за зворотній зв'язок !]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Сергій]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[0683914129]]></Value>
    </fPhone>
  </Properties>
</Content>