<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa2470d3-9af9-4550-aa14-9e696fe6cb92" Alias="Ярослав " Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/Yaroslav</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-13T13:01:53</CreateDate>
    <NodeName Default="Ярослав " />
    <SortOrder>102</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[ivanets77@ukr.net]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Чи можна замовити у вас виготовлення шеврону, якого у вас в каталозі немає, і скільки це буде коштувати?]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Ярослав ]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[0983347281]]></Value>
    </fPhone>
  </Properties>
</Content>