<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa4dd23e-3359-4fe6-a221-158e12cfe29b" Alias="Євгеній" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/vgenI</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-07-09T08:08:58</CreateDate>
    <NodeName Default="Євгеній" />
    <SortOrder>140</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[evgeniy.kalashnik@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Вітаю! Замовляв раніше у вас патчі, через Богдана Масляка. З ким можна зараз поговорити про виготовлення патчів?]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Євгеній]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[+380964365734]]></Value>
    </fPhone>
  </Properties>
</Content>