<?xml version="1.0" encoding="utf-8"?>
<Content Key="ed2950ee-e22a-4282-90a7-544997ac98dd" Alias="Іван" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/van</Path>
    <Trashed Parent="659326d7-2869-4416-b8b6-0b0ed4a7d31f">true</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2022-03-01T10:07:09</CreateDate>
    <NodeName Default="Іван" />
    <SortOrder>28</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[ivan.06.07.89@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Доброго дня. Потрібний бушлат 58 розмір і тактичні рукавиці XL. Є в наявності у Львові?]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Іван]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[+380972973408]]></Value>
    </fPhone>
  </Properties>
</Content>