<?xml version="1.0" encoding="utf-8"?>
<Content Key="b62df31b-ebd2-46bb-81c3-7bafaaf1b93c" Alias="Ігор" Level="2">
  <Info>
    <Parent Key="659326d7-2869-4416-b8b6-0b0ed4a7d31f">Feed Backs</Parent>
    <Path>/FeedBacks/gor</Path>
    <Trashed>false</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2023-06-09T19:57:29</CreateDate>
    <NodeName Default="Ігор" />
    <SortOrder>97</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[semenigor@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Доброго дня. Чи можна у вас замовити нарукавний знак для підрозділу зі своїм дизайном?]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Ігор]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[067-3736446]]></Value>
    </fPhone>
  </Properties>
</Content>