<?xml version="1.0" encoding="utf-8"?>
<Content Key="eea4eb59-dda8-4287-afb0-2850c131e66f" Alias="Ірина Бідник" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/rinaBDnik</Path>
    <Trashed Parent="659326d7-2869-4416-b8b6-0b0ed4a7d31f">true</Trashed>
    <ContentType>feedbackItem</ContentType>
    <CreateDate>2022-02-28T16:10:24</CreateDate>
    <NodeName Default="Ірина Бідник" />
    <SortOrder>30</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fEmail>
      <Value><![CDATA[bidnykira888@gmail.com]]></Value>
    </fEmail>
    <fMsg>
      <Value><![CDATA[Слава Україні! Дуже потрібні бронежилети! Військовим в в/ч м. Новий Калинів не вистачає амуніції🙏Допоможіть або підкажіть до кого ще можна звернутись. Дякую]]></Value>
    </fMsg>
    <fName>
      <Value><![CDATA[Ірина Бідник]]></Value>
    </fName>
    <fPhone>
      <Value><![CDATA[0685363781]]></Value>
    </fPhone>
  </Properties>
</Content>