<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="20d68663-d823-4297-abdc-b30069d60473" Alias="BrandDiscountsCollection" Level="1">
  <Info>
    <Name>BrandDiscountsCollection</Name>
    <Icon>icon-coins-dollar-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>DiscountsCollection</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3a3716a7-9dc8-434a-a7a3-ba596acdb06c">DiscountsCollection</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e10282d1-5974-47b9-9d35-90b8f87d6072</Key>
      <Name>BrandDiscounts</Name>
      <Alias>brandDiscounts</Alias>
      <Definition>42aca401-ffa1-49aa-9391-a2b26fadf27f</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Discounts]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <Alias>content</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>