<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d60dc73c-f90c-4076-ab7e-496a58bf1cf8" Alias="comparison" Level="2">
  <Info>
    <Name>Comparison</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Cart</Folder>
    <Compositions>
      <Composition Key="ef187b29-b213-4374-bb86-040a5578e04b">metaData</Composition>
    </Compositions>
    <DefaultTemplate>Comparison</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="883903de-b40d-4634-8c07-bf320dbd3c62">Comparison</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="35cc932e-60c4-4a13-9933-e9e40835a6ff" SortOrder="0">doComparison</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d921511d-9d7e-4815-ba9d-8c93fdf1caa0</Key>
      <Name>Do Comparison Btn</Name>
      <Alias>doCompBtn</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>93d5bcb2-4d55-475c-82cf-b99c0319cd74</Key>
      <Name>Do Comparison Link</Name>
      <Alias>doCompLink</Alias>
      <Definition>c4d1ea50-319b-4545-957f-d1992befcc3c</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3f1b5b5b-a9e9-4115-82d7-f8522c8459cc</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <Alias>content</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>