<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="88868cd2-301e-4765-be6e-2f16e2f4f8c8" Alias="discountsCollection" Level="2">
  <Info>
    <Name>DiscountsCollection</Name>
    <Icon>icon-coins-dollar-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Cabinet</Folder>
    <Compositions />
    <DefaultTemplate>DiscountsCollection</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3a3716a7-9dc8-434a-a7a3-ba596acdb06c">DiscountsCollection</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a4bc464a-7a7d-440f-8881-05177d7ff698</Key>
      <Name>Discounts</Name>
      <Alias>discounts</Alias>
      <Definition>2b930c67-22c0-468a-99d9-5daf33326ba5</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Discounts]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <Alias>content</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>