<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="054ee81b-574e-4699-afc1-2ea14c6c6ab4" Alias="shoppingCart" Level="2">
  <Info>
    <Name>Shopping Cart</Name>
    <Icon>icon-shopping-basket color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Cart</Folder>
    <Compositions>
      <Composition Key="ef187b29-b213-4374-bb86-040a5578e04b">metaData</Composition>
    </Compositions>
    <DefaultTemplate>ShoppingCart</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="80c3fa95-24c9-4e39-9318-f4868880daa5">ShoppingCart</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a3c5f41a-0ec1-4f8a-8d0f-a04092b7e79c" SortOrder="0">likedProducts</ContentType>
    <ContentType Key="13269b19-1b08-4f20-a336-78725dad4bb5" SortOrder="1">viewedProducts</ContentType>
    <ContentType Key="d60dc73c-f90c-4076-ab7e-496a58bf1cf8" SortOrder="2">comparison</ContentType>
    <ContentType Key="a6275571-6b75-4939-a212-51efbecac139" SortOrder="3">payment</ContentType>
    <ContentType Key="8ad95b6f-3a38-4c3e-ad17-cd916e0c50fc" SortOrder="4">thankForBuy</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>1c812bfd-71f6-45c5-8091-f551fc66d4a3</Key>
      <Name>Cart Nav</Name>
      <Alias>cartNav</Alias>
      <Definition>837cced3-461a-4fcc-b347-ad38795dc5e5</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>03847207-9373-4d30-84b3-d9ab0130374e</Key>
      <Name>Go back</Name>
      <Alias>goBack</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2b6ba5b4-b750-4606-b6b1-8739bf6fb2e8</Key>
      <Name>Submit</Name>
      <Alias>submit</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>93f3f0d0-e3d5-48de-a2a3-f92b4f1b27a1</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b9372aee-3400-4552-a699-c1ecc4d5280e</Key>
      <Name>Total</Name>
      <Alias>total</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Navigation</Caption>
      <SortOrder>1</SortOrder>
      <Alias>navigation</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
      <Alias>content</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>