<?xml version="1.0" encoding="utf-8"?>
<Content Key="56ba19f2-128d-40de-a169-ecd5f6d2d0df" Alias="Youtube" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Youtube</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2021-01-04T14:54:22</CreateDate>
    <NodeName Default="Youtube">
      <Name Culture="uk">Youtube</Name>
      <Name Culture="en-us">Home</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="false">
      <Published Culture="en-us">false</Published>
      <Published Culture="uk">false</Published>
    </Published>
    <Schedule />
    <Template Key="225191bb-ed6d-43b0-ae80-8d3457f36b89">Home</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <allItems>
      <Value Culture="uk"><![CDATA[Всі товари]]></Value>
      <Value Culture="en-us"><![CDATA[All products]]></Value>
    </allItems>
    <bgImg>
      <Value><![CDATA[umb://media/a315e009a9464d9195b81c77f1fc0911]]></Value>
    </bgImg>
    <btn>
      <Value Culture="uk"><![CDATA[ДИВИТИСЬ ВСІ]]></Value>
      <Value Culture="en-us"><![CDATA[View all]]></Value>
    </btn>
    <btnLink>
      <Value Culture="uk"><![CDATA[umb://document/97773cf2cb91463e84ea97ccdab7f684]]></Value>
      <Value Culture="en-us"><![CDATA[umb://document/97773cf2cb91463e84ea97ccdab7f684]]></Value>
    </btnLink>
    <cartText>
      <Value Culture="uk"><![CDATA[Кошик]]></Value>
      <Value Culture="en-us"><![CDATA[Basket]]></Value>
    </cartText>
    <devBy>
      <Value Culture="uk"><![CDATA[Розроблено]]></Value>
      <Value Culture="en-us"><![CDATA[Developed]]></Value>
    </devBy>
    <emails>
      <Value><![CDATA[[
  {
    "key": "e0935029-0374-4093-9d38-6a8beeeec13a",
    "name": "Email",
    "ncContentTypeAlias": "emails",
    "email": "markiyanse@gmail.com"
  }
]]]></Value>
    </emails>
    <facebook>
      <Value Culture="uk"><![CDATA[https://www.facebook.com/dopfrontu]]></Value>
    </facebook>
    <fContacts>
      <Value Culture="uk"><![CDATA[Контакти]]></Value>
      <Value Culture="en-us"><![CDATA[Contacts]]></Value>
    </fContacts>
    <fCustomers>
      <Value Culture="uk"><![CDATA[Покупцям]]></Value>
      <Value Culture="en-us"><![CDATA[For buyers]]></Value>
    </fCustomers>
    <fDesc>
      <Value Culture="uk"><![CDATA[Rezervist - магазин тактичного, військового одягу та спорядження. Товари для активного відпочинку.]]></Value>
      <Value Culture="en-us"><![CDATA[Rezervist - a shop of tactical, military clothing and equipment. Goods for active recreation.]]></Value>
    </fDesc>
    <fInfo>
      <Value Culture="uk"><![CDATA[ПІДПИШІТЬСЯ НА РОЗСИЛКУ, ЩОБ ОТРИМУВАТИ ІНФОРМАЦІЮ ПРО АКЦІЇ, ЗНИЖКИ І ІНШІ ПРОПОЗИЦІЇ.]]></Value>
      <Value Culture="en-us"><![CDATA[SUBSCRIBE TO THE NEWSLETTER TO RECEIVE INFORMATION ABOUT PROMOTIONS, DISCOUNTS AND OTHER OFFERS.]]></Value>
    </fInfo>
    <fLogo>
      <Value><![CDATA[umb://media/277b0a3da1704cf2a90098b40f85e078]]></Value>
    </fLogo>
    <fourthLink>
      <Value Culture="uk"><![CDATA[[
  {
    "key": "9763ba97-beee-4dac-be73-47d89cca65d5",
    "name": "Link",
    "ncContentTypeAlias": "quickNav",
    "title": "Тактичне спорядження",
    "link": "{%22filter%22:{%22catid%22:%22a8cb97cd-9eba-11e7-a15c-00155d8ca60e%22,%22minc%22:0},%22sortby%22:0,%22pag%22:{%22pn%22:1,%22tps%22:0}}",
    "image": "umb://media/b4d6b47a465546ed9320a825440968d3"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "9d8ffdf0-2cb4-41eb-aabe-479d0a555745",
    "name": "Link",
    "ncContentTypeAlias": "quickNav",
    "title": "Tactical clothing",
    "link": "{\"filter\":{\"catid\":\"a02973b6-9eba-11e7-a15c-00155d8ca60e\",\"minc\":0},\"sortby\":0}",
    "image": "umb://media/b4d6b47a465546ed9320a825440968d3"
  }
]]]></Value>
    </fourthLink>
    <fPhone1>
      <Value><![CDATA[+38067 505 2421 ]]></Value>
    </fPhone1>
    <fPhone2>
      <Value><![CDATA[]]></Value>
    </fPhone2>
    <fProd>
      <Value Culture="uk"><![CDATA[Товари]]></Value>
      <Value Culture="en-us"><![CDATA[Catalog]]></Value>
    </fProd>
    <hitTitle>
      <Value Culture="uk"><![CDATA[ХІТИ ПРОДАЖУ]]></Value>
      <Value Culture="en-us"><![CDATA[SALES HITS]]></Value>
    </hitTitle>
    <inputEmail>
      <Value Culture="uk"><![CDATA[Введіть Ваш e-mail]]></Value>
      <Value Culture="en-us"><![CDATA[Enter your e-mail]]></Value>
    </inputEmail>
    <instagram>
      <Value Culture="uk"><![CDATA[https://www.instagram.com/rezervistlv/]]></Value>
    </instagram>
    <lastTitle>
      <Value Culture="uk"><![CDATA[ОСТАННІ ПЕРЕГЛЯНУТІ ТОВАРИ]]></Value>
      <Value Culture="en-us"><![CDATA[LATEST PRODUCTS REVIEWED]]></Value>
    </lastTitle>
    <location>
      <Value Culture="uk"><![CDATA[вул. Стрийська, 106  ]]></Value>
      <Value Culture="en-us"><![CDATA[106 Stryiska street]]></Value>
    </location>
    <loginRegistration>
      <Value Culture="uk"><![CDATA[Увійти/Зареєструватися]]></Value>
      <Value Culture="en-us"><![CDATA[Login / Register]]></Value>
    </loginRegistration>
    <logo>
      <Value Culture="uk"><![CDATA[umb://media/d9cddfa920804e12b6c0560ef43c97c6]]></Value>
      <Value Culture="en-us"><![CDATA[umb://media/45b6b829c2b24fa389a0165cd359c356]]></Value>
    </logo>
    <mainNav>
      <Value Culture="uk"><![CDATA[[
  {
    "key": "5381f6d8-5917-4a32-85ce-afca363c7c9c",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "Про нас",
    "link": "umb://document/6bc24ce98d5c431791ef4a8e721f0868"
  },
  {
    "key": "a4d02ae1-0587-42a1-9824-497f535f9f36",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "Оплата і доставка",
    "link": "umb://document/4b6d9109e6084f9ca8e1cbc5af8fcd52"
  },
  {
    "key": "2598b049-c24b-457c-b373-db30ef0aca7a",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "Контакти",
    "link": "umb://document/6e1d8f26907b4814b5e3c88f729ee677"
  },
  {
    "key": "27f5209f-eb27-48db-9b66-59281ba8de31",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "Новини",
    "link": "umb://document/c12091efa97c4ca2865cc9b03c9ce62d"
  },
  {
    "key": "3d023b7c-1f9a-4ec8-83ea-f70437366beb",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "Програма лояльності",
    "link": "umb://document/00761e220ada4c28acdeca6a542e3b85"
  },
  {
    "key": "6f82a57b-716c-4c10-82ad-516e158c784c",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "Відеоогляди",
    "link": "umb://document/f68b2f6c2be24a3da03dfc0ee123fff6"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "6d2261dc-240e-440a-81ee-be8abc1ad8cb",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "About us",
    "link": "umb://document/6bc24ce98d5c431791ef4a8e721f0868"
  },
  {
    "key": "059e6367-5ad1-40bd-b293-b2fa760cc878",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "Payment and delivery",
    "link": "umb://document/4b6d9109e6084f9ca8e1cbc5af8fcd52"
  },
  {
    "key": "6824c968-8b7b-46a1-8019-c267c7e6c357",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "Contacts",
    "link": "umb://document/6e1d8f26907b4814b5e3c88f729ee677"
  },
  {
    "key": "0a9c6c71-47cd-4faf-8597-5d76bce6b30b",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "News",
    "link": "umb://document/c12091efa97c4ca2865cc9b03c9ce62d"
  },
  {
    "key": "59c79fb3-d907-49e5-a695-136238c35e23",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "Promotions and discounts",
    "link": "umb://document/00761e220ada4c28acdeca6a542e3b85"
  },
  {
    "key": "9ae4ca1a-6575-47e8-ada6-46cf1f81c577",
    "name": "Link",
    "ncContentTypeAlias": "mainNav",
    "title": "Videoviews",
    "link": "umb://document/f68b2f6c2be24a3da03dfc0ee123fff6"
  }
]]]></Value>
    </mainNav>
    <newTitle>
      <Value Culture="uk"><![CDATA[НОВИНКИ ]]></Value>
      <Value Culture="en-us"><![CDATA[NEW]]></Value>
    </newTitle>
    <phone1>
      <Value><![CDATA[+38067 505 2521]]></Value>
    </phone1>
    <phone2>
      <Value><![CDATA[]]></Value>
    </phone2>
    <quickNav>
      <Value Culture="uk"><![CDATA[[
  {
    "key": "f023427e-5600-4f03-85ae-a9b9fa878a2f",
    "name": "Link",
    "ncContentTypeAlias": "quickNav",
    "title": "Взуття",
    "link": "{\"filter\":{\"catid\":\"fa0c6abe-946b-11e7-8c2c-00155d8ca60e\",\"minc\":0},\"sortby\":0}",
    "image": "umb://media/1c20998fa3894fd09903176d0bc25c90"
  },
  {
    "key": "783da396-6ea7-4450-8319-1d9741c8565c",
    "name": "Link",
    "ncContentTypeAlias": "quickNav",
    "title": "Рюкзаки",
    "link": "{\"filter\":{\"catid\":\"a8cb97a4-9eba-11e7-a15c-00155d8ca60e\",\"minc\":0},\"sortby\":0}",
    "image": "umb://media/b04382ad3bb049ee895787056309e4d9"
  },
  {
    "key": "be91ad03-ca27-4c93-9ae9-407f3e148d30",
    "name": "Link",
    "ncContentTypeAlias": "quickNav",
    "title": "Одяг",
    "link": "{\"filter\":{\"catid\":\"a02973b6-9eba-11e7-a15c-00155d8ca60e\",\"minc\":0},\"sortby\":0}",
    "image": "umb://media/b7423e2a02cb4f77ae34508e81be9ac1"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "32e6c1f7-da42-46b3-9258-6f917e20ee64",
    "name": "Link",
    "ncContentTypeAlias": "quickNav",
    "title": "Footwear",
    "link": "{\"filter\":{\"catid\":\"fa0c6abe-946b-11e7-8c2c-00155d8ca60e\",\"minc\":0},\"sortby\":0}",
    "image": "umb://media/1c20998fa3894fd09903176d0bc25c90"
  },
  {
    "key": "f5e2b82f-97a2-4d20-bbe1-e8067b1d39f3",
    "name": "Link",
    "ncContentTypeAlias": "quickNav",
    "title": "Backpacks",
    "link": "{\"filter\":{\"catid\":\"a8cb97a4-9eba-11e7-a15c-00155d8ca60e\",\"minc\":0},\"sortby\":0}",
    "image": "umb://media/b04382ad3bb049ee895787056309e4d9"
  },
  {
    "key": "8b1b9389-0a3e-40c9-8d83-31c4ba50297a",
    "name": "Link",
    "ncContentTypeAlias": "quickNav",
    "title": "Camping equipment",
    "link": "{\"filter\":{\"catid\":\"a8cb97aa-9eba-11e7-a15c-00155d8ca60e\",\"minc\":0},\"sortby\":0}",
    "image": "umb://media/25f8c16f75574954aa6a31c9f156dba9"
  }
]]]></Value>
    </quickNav>
    <SEOdesc>
      <Value><![CDATA[Rezervist - магазин тактичного, військового одягу та спорядження. Товари для активного відпочинку.]]></Value>
    </SEOdesc>
    <SEOimg>
      <Value><![CDATA[umb://media/123a525593484244857e4bbb9c145b4d]]></Value>
    </SEOimg>
    <SEOkeys>
      <Value><![CDATA[["одяг","військова атрибутика","нашивки","спорядження","тактичний одяг","інтернет-магазин","магазин","резервіст","резервіст львів","одяг львів","мілітарі","туристичне спорядження"]]]></Value>
    </SEOkeys>
    <shopText>
      <Value Culture="uk"><![CDATA[Каталог товарів]]></Value>
      <Value Culture="en-us"><![CDATA[Product catalog]]></Value>
    </shopText>
    <submitBtn>
      <Value Culture="uk"><![CDATA[Підписатися]]></Value>
      <Value Culture="en-us"><![CDATA[Subscribe]]></Value>
    </submitBtn>
    <title>
      <Value Culture="uk"><![CDATA[Інтернет-магазин]]></Value>
      <Value Culture="en-us"><![CDATA[Online store]]></Value>
    </title>
    <vmText>
      <Value Culture="uk"><![CDATA[Ми приймаємо платежі:]]></Value>
      <Value Culture="en-us"><![CDATA[We accept payments:]]></Value>
    </vmText>
    <youtube>
      <Value><![CDATA[]]></Value>
    </youtube>
  </Properties>
</Content>