<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5218302c-eeea-4178-8587-c775e4cf81b9" Alias="About - Why We - Nested Content" Level="1">
  <Info>
    <Name>About - Why We - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "whyWe",
      "ncTabAlias": "Content",
      "nameTemplate": "Item"
    }
  ],
  "MinItems": null,
  "MaxItems": 3,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>