<?xml version="1.0" encoding="utf-8"?>
<DataType Key="74f8015e-0284-4746-8bb1-2c0904d2184d" Alias="About - Description - Textarea" Level="1">
  <Info>
    <Name>About - Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": 3
}]]></Config>
</DataType>