<?xml version="1.0" encoding="utf-8"?>
<DataType Key="32b5dbf9-1d24-4eda-bfa3-e8b15e3fb60d" Alias="Actions - Descriotion - Textarea" Level="1">
  <Info>
    <Name>Actions - Descriotion - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": 4
}]]></Config>
</DataType>