<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9274db26-a825-43ea-ac25-43da0488742f" Alias="Actions - Actions - Nested Content" Level="1">
  <Info>
    <Name>Actions - Actions - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "deliveryItems",
      "ncTabAlias": "Content",
      "nameTemplate": "Action"
    }
  ],
  "MinItems": null,
  "MaxItems": 12,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>