<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c5585f8d-7dc7-4817-89ac-bd78567b39ec" Alias="Actions - BG Image - Media Picker" Level="1">
  <Info>
    <Name>Actions - BG Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": false,
  "StartNodeId": "umb://media/751831d8efc04fc2a8b94e0d1b0e8543",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>