<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c3b7a884-ca5a-4108-9275-d25ea5d72d66" Alias="Banner Item - Button 1 Link - Content Picker" Level="1">
  <Info>
    <Name>Banner Item - Button 1 Link - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>