<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f5cbb7ba-24d1-48aa-90a8-539d478a95d1" Alias="Banners - Image - Media Picker" Level="1">
  <Info>
    <Name>Banners - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": true,
  "StartNodeId": "umb://media/751831d8efc04fc2a8b94e0d1b0e8543",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>