<?xml version="1.0" encoding="utf-8"?>
<DataType Key="72466299-688a-4d51-8839-ca8833a0a3bf" Alias="Banners - Description - Textarea" Level="1">
  <Info>
    <Name>Banners - Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": 3
}]]></Config>
</DataType>