<?xml version="1.0" encoding="utf-8"?>
<DataType Key="42aca401-ffa1-49aa-9391-a2b26fadf27f" Alias="BrandDiscountsCollection - Nested Content" Level="1">
  <Info>
    <Name>BrandDiscountsCollection - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "BrandDiscounts",
      "ncTabAlias": "Content",
      "nameTemplate": "{{brandName}} - {{brandDiscountValue}} -%. Active: {{brandDiscountEnabled}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": true
}]]></Config>
</DataType>