<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d288d09b-4a67-4448-b91b-59a532d585f1" Alias="Cabinet - Nav - Nested Content" Level="1">
  <Info>
    <Name>Cabinet - Nav - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "mainNav",
      "ncTabAlias": "Content",
      "nameTemplate": "Link"
    }
  ],
  "MinItems": null,
  "MaxItems": 5,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>