<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ab8ead20-835c-45ff-9dbc-47e3689df801" Alias="ChangePersonal - Upload Doc - Media Picker" Level="1">
  <Info>
    <Name>ChangePersonal - Upload Doc - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>