<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6a01834d-cae4-45e7-b2fb-048416afd1c0" Alias="ChangePersonal - Upload Doc - File upload" Level="1">
  <Info>
    <Name>ChangePersonal - Upload Doc - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": []
}]]></Config>
</DataType>