<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c4d1ea50-319b-4545-957f-d1992befcc3c" Alias="Comparison - Do Comparison Link - Content Picker" Level="1">
  <Info>
    <Name>Comparison - Do Comparison Link - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/8a41fc86a344478ba4785fba7d4b30af",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>