<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3ad30a98-54e6-4ceb-8845-079f0f492ac5" Alias="Delivery Items - Image - Media Picker" Level="1">
  <Info>
    <Name>Delivery Items - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": true,
  "StartNodeId": "umb://media/751831d8efc04fc2a8b94e0d1b0e8543",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>