<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0a674ab7-4b54-46bc-9b67-d51a445e5237" Alias="Delivery - Delivery Methods - Nested Content" Level="1">
  <Info>
    <Name>Delivery - Delivery Methods - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "deliveryItems",
      "ncTabAlias": "Content",
      "nameTemplate": "Item"
    }
  ],
  "MinItems": null,
  "MaxItems": 3,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>