<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b31b5bdc-8c83-40af-8920-9d6e569c9266" Alias="DiscountPage - Nested Content" Level="1">
  <Info>
    <Name>DiscountPage - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "discounts",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>