<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2b930c67-22c0-468a-99d9-5daf33326ba5" Alias="DiscountsNestedContent" Level="1">
  <Info>
    <Name>DiscountsNestedContent</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "discounts",
      "ncTabAlias": "Content",
      "nameTemplate": "{{categoryName}} - {{discountValue}}%"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": true
}]]></Config>
</DataType>