<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5b07a854-3a94-47a6-bdd7-9ecbdbe36488" Alias="DiscountDropdown" Level="1">
  <Info>
    <Name>DiscountDropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Власник УБД"
    },
    {
      "id": 2,
      "value": "ЗСУ"
    },
    {
      "id": 3,
      "value": "Поліція, НАБУ, ДСНС"
    },
    {
      "id": 4,
      "value": "ГУРТ 20%"
    },
    {
      "id": 5,
      "value": "ГУРТ 30%"
    }
  ]
}]]></Config>
</DataType>