<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a5eedf5d-6fcf-401a-9db4-7f229fb57b16" Alias="Documents - Doc Image - Media Picker" Level="1">
  <Info>
    <Name>Documents - Doc Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": true,
  "StartNodeId": "umb://media/82d920e2eb3e4773a21202f02203cebf",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>