<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2ab78f41-1574-46f0-a352-a372d1e02b87" Alias="Documents - Approve - Checkbox" Level="1">
  <Info>
    <Name>Documents - Approve - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": "isApproved",
  "LabelOff": null
}]]></Config>
</DataType>