<?xml version="1.0" encoding="utf-8"?>
<DataType Key="07b91035-cdc0-45db-808d-13762a715b96" Alias="Error 404 - Img - Media Picker" Level="1">
  <Info>
    <Name>Error 404 - Img - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": false,
  "StartNodeId": "umb://media/751831d8efc04fc2a8b94e0d1b0e8543",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>