<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5c0ef916-c9b1-43e2-94b4-c3b6457ddabc" Alias="Feedback Item - Message - Textarea" Level="1">
  <Info>
    <Name>Feedback Item - Message - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>