<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c52ecd16-5325-445b-94fc-751066a46da5" Alias="Home - QuickNav - Nested Content" Level="1">
  <Info>
    <Name>Home - QuickNav - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "quickNav",
      "ncTabAlias": "Content",
      "nameTemplate": "Link"
    }
  ],
  "MinItems": null,
  "MaxItems": 3,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>