<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e80578bf-6075-449b-b8d2-25667f7f081a" Alias="Home - Link - Nested Content" Level="1">
  <Info>
    <Name>Home - Link - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "quickNav",
      "ncTabAlias": "Content",
      "nameTemplate": "Link"
    }
  ],
  "MinItems": null,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>