<?xml version="1.0" encoding="utf-8"?>
<DataType Key="90f2cf49-041c-4f29-9090-556864c7e621" Alias="Home - Button Link - Content Picker" Level="1">
  <Info>
    <Name>Home - Button Link - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>