<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bef19020-5f65-420c-ba97-86715b3b0fca" Alias="Home - description - Textarea" Level="1">
  <Info>
    <Name>Home - description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": 2
}]]></Config>
</DataType>