<?xml version="1.0" encoding="utf-8"?>
<DataType Key="022d2a33-2cc0-4847-ae1c-8f45cfc0f596" Alias="Home - Main Nav - Nested Content" Level="1">
  <Info>
    <Name>Home - Main Nav - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "mainNav",
      "ncTabAlias": "Content",
      "nameTemplate": "Link"
    }
  ],
  "MinItems": null,
  "MaxItems": 6,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>