<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eee228c4-0ed4-4ac6-9dd2-695059124a81" Alias="Home - Emails - Nested Content" Level="1">
  <Info>
    <Name>Home - Emails - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "emails",
      "ncTabAlias": "Content",
      "nameTemplate": "Email"
    }
  ],
  "MinItems": null,
  "MaxItems": 100,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>