<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d0970933-14c8-4107-9c36-7f63f019042e" Alias="Login - Description - Textarea" Level="1">
  <Info>
    <Name>Login - Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": 4
}]]></Config>
</DataType>