<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8061906-5c31-4b21-87b4-6a6852789449" Alias="MainNav - Link - Content Picker" Level="1">
  <Info>
    <Name>MainNav - Link - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>