<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c3133a08-d54d-47bd-9882-15b2f1dd6b01" Alias="Member - Member Birthdate - DateTime" Level="1">
  <Info>
    <Name>Member - Member Birthdate - DateTime</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "YYYY-MM-DD",
  "OffsetTime": false
}]]></Config>
</DataType>