<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bebec76f-a76c-4c11-9625-9488f85c8d13" Alias="Member - Security Stamp - Textbox" Level="1">
  <Info>
    <Name>Member - Security Stamp - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>