<?xml version="1.0" encoding="utf-8"?>
<DataType Key="25a9fef5-8b8d-43e3-8d11-853a474fbece" Alias="Member - Member Photo - Media Picker" Level="1">
  <Info>
    <Name>Member - Member Photo - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": true,
  "StartNodeId": "umb://media/3f061bab010543f6b163d7e6628cd319",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>