<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2122777a-3093-4437-94e7-9a27f16020c3" Alias="Member - Member Index - Decimal" Level="1">
  <Info>
    <Name>Member - Member Index - Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 11111,
  "step": 1,
  "max": 99999
}]]></Config>
</DataType>