<?xml version="1.0" encoding="utf-8"?>
<DataType Key="70c1b395-96d5-49f3-b211-471a2a9a997a" Alias="Member - Approve - Checkbox" Level="1">
  <Info>
    <Name>Member - Approve - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": "isApproved",
  "LabelOff": null
}]]></Config>
</DataType>