<?xml version="1.0" encoding="utf-8"?>
<DataType Key="371631d8-ef75-442b-98e0-7ced94b63f88" Alias="Member - RegistrationDate - DateTime" Level="1">
  <Info>
    <Name>Member - RegistrationDate - DateTime</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "YYYY-MM-DD HH:mm:ss",
  "OffsetTime": false
}]]></Config>
</DataType>