<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b560ef70-b0cf-482b-a903-a430dcd5a625" Alias="Member - Added Docs - Nested Content" Level="1">
  <Info>
    <Name>Member - Added Docs - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "documents",
      "ncTabAlias": "Content",
      "nameTemplate": "Document"
    }
  ],
  "MinItems": null,
  "MaxItems": 20,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>