<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c507513-a96d-4424-a364-77dd9f324ffc" Alias="MetaData - Description - Textarea" Level="1">
  <Info>
    <Name>MetaData - Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": 4
}]]></Config>
</DataType>