<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4aec5902-779f-4651-a9b6-b53d8c378e56" Alias="MetaData - Keywords - Tags" Level="1">
  <Info>
    <Name>MetaData - Keywords - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Group": "keywords",
  "StorageType": 1,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>