<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8d8a5fa7-a1a3-481e-bce4-0603a009bd08" Alias="MetaData - Image - Media Picker" Level="1">
  <Info>
    <Name>MetaData - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": true,
  "StartNodeId": "umb://media/57173a1c019b4b7d8811cd9d321bd03a",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>