<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4fd8ea26-0c9b-4eeb-b489-b7a760b542b2" Alias="News Item - Anons - Textarea" Level="1">
  <Info>
    <Name>News Item - Anons - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": 5
}]]></Config>
</DataType>