<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eab20e31-3e77-48f7-b6d9-a484c7c8cc56" Alias="Payment - Public Doc - Media Picker" Level="1">
  <Info>
    <Name>Payment - Public Doc - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>