<?xml version="1.0" encoding="utf-8"?>
<DataType Key="24faf76c-3486-43d8-a995-97c06028f24f" Alias="Video Item - Image - Media Picker" Level="1">
  <Info>
    <Name>Video Item - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": true,
  "StartNodeId": "umb://media/490a27d72f0b4965b4412eadf8c95d44",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>