<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9b1841b0-4730-414d-b417-fc98b8ff80c6" Alias="Video Item - Anons - Textarea" Level="1">
  <Info>
    <Name>Video Item - Anons - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": 4
}]]></Config>
</DataType>