<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6dbfd634-5666-46a1-b868-e5da47ca5add" Alias="Why We - Image - Media Picker" Level="1">
  <Info>
    <Name>Why We - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": true,
  "StartNodeId": "umb://media/751831d8efc04fc2a8b94e0d1b0e8543",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>